<!-- Live Demo https://getbootstrap.com/docs/5.0/components/modal/#live-demo -->
<!-- with added for modal-body https://getbootstrap.com/docs/5.0/components/modal/#tooltips-and-popovers -->
<!-- Will work this into what I want. Note this is Bootstrap 5 code although I'm still on Bootstap 4. Works so far -->
<!-- Button trigger modal -->
<button class="float-end btn btn-outline-dark m-1" data-toggle="modal" data-target="#illichAd">
  <%= image_tag("https://crores.s3.amazonaws.com/photos/1890-07-14.Iliich_restaurant_ad.png", alt: "Illich adverisement ", height: '236', width: '124') %>
</button>

<!-- Modal and Popover combined.  -->
<div class="modal fade" id="illichAd" tabindex="-1" aria-labelledby="illichAdLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="illichAdLabel">1890 Los Angeles Herald</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <%= link_to image_tag("https://crores.s3.amazonaws.com/photos/1890-07-14.Iliich_restaurant_ad.png", alt: "Illich advertisement", height: '872', width: '492'), 'years/44' %>

      </div> <!-- modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div> <!-- modal-footer -->

    </div> <!-- modal-content -->
  </div>
</div>
