<!-- Live Demo https://getbootstrap.com/docs/5.0/components/modal/#live-demo -->
<!-- with added for modal-body https://getbootstrap.com/docs/5.0/components/modal/#tooltips-and-popovers -->
<!-- Will work this into what I want. Note this is Bootstrap 5 code although I'm still on Bootstap 4. Works so far -->
<!-- Button trigger modal -->
<% resto_image_url = "https://crores.s3.us-west-1.amazonaws.com/Newspaper_articles/1900-Dec-15.Los_Angeles_Times.pI8.Illich_ad.png" %>
<button class="btn btn-outline-dark m-1" data-toggle="modal" data-target="#formerIllichResto">
  <%= image_tag(resto_image_url, alt: "Former Illich resto", width: '208', height: '129') %>
</button>

<!-- Modal and Popover combined.  -->
<div class="modal fade" id="formerIllichResto" tabindex="-1" aria-labelledby="formerIllichRestoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="formerIllichRestoLabel">1900 Los Angeles Times<br>1901 City Directory: Robert Gordan Proprietor</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <%= link_to image_tag(resto_image_url, alt: "Former Illich resto ", width: '416', height: '258'), 'years/xx' %>
      </div> <!-- modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div> <!-- modal-footer -->

    </div> <!-- modal-content -->
  </div>
</div>
