<button class="float-start btn btn-outline-dark m-1" data-toggle="modal" data-target="#scarichWedding">
  <%= image_tag("https://crores.s3.us-west-1.amazonaws.com/photos/1893.06.11.Scarich_wedding_party.jpg", alt: "Scarich Wedding Party", height: '220', width: '142') %>
</button>

<!-- Modal and Popover combined-->
<div class="modal fade" id="scarichWedding" tabindex="-1" aria-labelledby="scarichWeddingLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="scarichWeddingLabel">June 11, 1893 Los Angeles Herald</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <h4>Married 3 June 1893</h4>
        <p>A wedding reception was tendered to Mr. and Mrs. Vincent Scarich last Saturday night at the residence of the bride's father, Mr. Andrew Marietich, on Jackson street. The young couple received many congratulations and well wishes. The beginning of the evening was spent in dancing, and at 12 o'clock all were ready to partake of the sumptuous supper to which they were invited. Then all adjourned to the parlor again and there was dancing until an early hour in the morning. Among those present wore: Mr. and Mrs. Andrew Marietich, Mr. and Mrs. Jack Marietich, Mr. and Mrs. John Restovich, Mre. Holbrook, Miss Bessie Holbrook, Misa Nettie Marietich, Misses Georgie and Gertie Horgan, Miss Josie Garcia, Mrs. M. Bruce, Mrs. Siles, Mr. and Mrs. Weldon, Mr. and Mrs. M. Tomich, Mr. Andrew Marietich, jr., Mr. and Mrs. M. Derpich, Mr. Cony Milovich, Mr. John Illich, Mr. Tony Aviani, Mr. Raymond Garcia, Mr. Nick Restovich, Mr. Frank Scarneo, Mr. George Restovich.</p>
         <p>The young couple left on the following day for Coronado where they expect to pass their honeymoon.</p>
      </div> <!-- modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div> <!-- modal-footer -->

    </div> <!-- modal-content -->
  </div>
</div>
