<% provide(:title, "About") %>
<h1>About</h1>
<div class="container">
  
 	<p>
     Please read <%= link_to "People who helped", acknowledgements_path %> with this project.
 	</p>
  
	<p>
		Much of the data comes from city directories which are like phone books of old. Eeks, some aren't going to understand what that means. Guess I need to say the the city directories in the period had several sections in general. They were usually published annually, but some of the early ones were for two years. (I'm not sure they were bi-annual, because I don't have enough of them to say.) They were published by different publishers over the years, and in some years there was more than one published. I haven't worked out the current prices, but they didn't seem particularly cheap. The early ones had a bit of a description of the city, much like you might find on Wikipedia today—history, demographics, major businesses, etc. Also a list of city officers and important organizations. Then came a listing of people in alphabethical order—usually home (res) address and sometimes their work address and position at that place. Sometimes the work place was a name; other times an address. Some "addresses" were a place, for example, "Mott Market," which I think was like a central market or in some cases it was a block (building) name. Then a list of businesses grouped by type—builders, lawyers, restaurants, hotels, etc. Advertisements were everywhere. Sometimes the first pages were full pages ads. Other times the facing pages where ads, Sometimes they ads wrapped around the blocks of text.
	</p>
	<p>
		I'm trying to make a chronological history but people moved around and businesses came and went. Since the directories have a name like "1888 City Directory of Los Angeles" it's hard to place an exact date on the information. They generally didn't list a date when the data was gathered—I imagine it was over several months and most likely was done door to door. Some information is precise, census, for example; and since this precise data is mixed with imprecise data, I needed a way to try to get them to be consistent. As a first guess I took information for a particular years directory to have been gathered Sept. 1 of the previous year, for example, information from a 1888 directory got a date of 1 Sept 1887. For directories covering two years and these were early I used 1 Jan. of the first date, for example, information from an 1886–7 directory is dated 1 Jan 1886. As more data is added and it can be evaluated or other information comes to light, this can be refined.
	</p>
	<p>
		Street names changed over the years. I'll try and put together some notes on this. Also some streets disappeared or were realigned. I've used a variety of sources including the directories and old maps to sort this out. The directories sometimes listed the street numbering for each block, that is the numbers on a street between two other streets. In about 1889 addresses on N Main Street were changed—100 was added to the addresses; I assume this was true for other north-south streets, but Main is the most important one. I hope to refine this date as more information is gathered.
	</p>
	<p>
		Misspelled names.
	</p>
  <p>According to the <%= link_to "Little Tokyo Business Association", "https://www.visitlittletokyo.com/About-LTBA.html" %> "By 1908, over 40 businesses were established along a two-block stretch of East First Street between Los Angeles Street and Central Avenue." Thomas Marinovich, was on this stretch in the early 1890s, specifically
 <%= link_to "200 E 1st St", "locations/50" %>,   <%= link_to "207 E 1st St", "locations/9" %> and <%= link_to "209 E 1st St", "locations/10" %>. [This paragraph needs to move to somewhere else]</p>
 
 <p>Sorting out people and names</p>
 <p>In the 1900 Los Angeles City Directory three Kristoviches and two Siglies. Both Siglies have M as a first intitial. But Martin never has a middle name or initial. But there is a Marko M and MM Siglie. At least in this year the Siglies can be identified as either Martin or Marko M. 
   
   The three Kristoviches and Martin Siglie all lived at 632 Wall St. Marko M lived at 924 Aliso St. The three Krisoviches are Anthony, Martin and Thomas M (definitely need more M's). 
   
   Marko M Siglie works or is proprietor of Siglie and Kristovich which elsewhere has partners M M Siglie and T M Kristovich, wines and liquors at 901 E 1st St (which then doesn't qualify for listing in this site, but to keep sane on sorting these people out needs to be mentioned here). 
   
   Another listing in the residential section is 'Siglie Martin & Co., ( M. Siglie, M. Kristovich) propr., Martin's restaurant, 121 S. Main.' [In the residential section last names are first followed by first names without any punctuation.] This is Martin Siglie since his residential listing is 'Siglie Martin & Co.), r 632 Wall'. And this is Martin Kristovich (the only M Kristovich). <i>So this could have been named "Martins' Restaurant".</i> The listing in the restaurant section is 'Siglie M. & Co., 121 S. Main'.
   
    is 'Siglie Marko M., (Siglie & Kristovich), r. 924 Aliso.' (r. = residential)
 
 <p>
   If you want more information about how this came about see the <%= link_to "Project History", history_path %> page which may cover some of the same ground. 
 </p>
 
</div>