<% provide(:title, "Acknowledgements and Resources") %>
<h1>Acknowledgements and Resources</h1>

  <h4>Information, technology, books, and help to build this site and gather the information.</h4>
  <p><a href="http://knobby.ws/blog/2015/09/23/croatian-restaurants-in-los-angeles-project/">See my blog post</a> about getting started with this project [eventually will incorporated into this site]. I've had fun doing this, learned a lot, and met and was aided my many great people along the way.</p>
  <p>This is the first time for me doing most of this kind of web developing, so errors and glitches will abound. Also I've made little attempt to be compatiable with "older" browsers, but contact me if that's causing you grief.</p>
  <p>The Meetup group <a href="http://www.meetup.com/MaptimeLA/">MaptimeLA</a> led me to the tools to make this site and provided help along the way. They also have worked on another historical restaurant mapping site <a   href="https://github.com/maptimeLA/old-la-restaurantshistorical"> Los Angeles resaurants.</a></p>
  <p>Unfortunately this is far from complete and will need a complete overhaul at some point. This project has gone on for years.</p>

<h4 id="">LA restaurants, history</h4>
  <p>Charles Perry, President of <a href="http://chscsite.org/">Culinary Historians of California.</a> Charles also suggested I expand on his list of Croatian run restaurants, hence this website.</p>
  <p><a href="http://http://ls2pac.lapl.org">Los Angeles Public Library</a>, History and Genealogy Department and on-line resources</p>
  <p>Los Angeles City Archives</p>
  <p>The website <a href="http://http://usnewsmap.com">Chronicling America.</a> US News Map—Searchable Newspaper Archives</p>
  <p><a href="http://ancestry.com">Ancestry.com</a>—People and City Directory Searching (pay)</p>
  <p>Eterovich who wrote numerous articles about Croatians in the West</p>
  <p>My Croatian cousin Ana who helped with Croatian name recognition and in large part got me started with delving into our mutual roots in Los Angeles.</p>
  <p><a href="http://stevemorse.org/census/changes/LosAngelesChanges2.htm">Los Angeles in the 1900s&mdash;Streets of a Hundred Years Ago</a>. Morse's site is a treasure trove of historical and geneological information. His site was used as a basis for <%= link_to "Historic Street Names in Los Angeles, California", "https://stark-cove-20051.herokuapp.com/" %> . </p> <!-- :historicalla -->
  <p><%= link_to "ebooksread.com", "https://www.ebooksread.com/" %> for several San Francisco directories</p>

<h4 id="">Maps and Mapping Technology</h4>
  <p>Sanborn maps at the <%= link_to "Library of Congress", "https://www.loc.gov" %>. High resolution downloadable scans which did require georeferencing and assembling. Before these were made available, only lower-resolution, black and white scans were available.</p>
  <p>UCLA Maps</p>
  <p><a href="http://www.davidrumsey.com">The David Rumsey Map Collection</a>
  <p> <a href="http://qgis.org/en/site/" title="Welcome to the QGIS project!">QGIS</a> …</p>
  <p>Open Street Maps</p>

<h4 id="">Web Technology</h4>    
  <p><a href="http://Stackoverflow.com/">Stack Overflow</a> and <a href="http://gis.stackexchange.com">Stack Exchange: Geographic Information Systems</a>. Two related websites where people answer questions mostly related to implementing software. Searching on the site helped me many times and most of my questions were answered or got me pointed in the right direction.</p>

  <p>Nick Gauthier's blog post, <a href="http://ngauthier.com/2013/08/postgis-and-rails-a-simple-approach.html">PostGIS and Rails: A Simple Approach</a>. Got me started with <a href="http://postgis.net">PostGIS</a>, a geographic add on to PostgreSQL. Although I now know I could have done this site without PostGIS&mdash;<a href="https://www.postgresql.org">PostgreSQL</a> alone can handle the geographic needs of this site.</p>

  <p>The web building software <a href="http://rubyonrails.org">Ruby on Rails</a> for data driven sites. Makes it relatively easy to provide the complex links on many of these pages.</p>

  <p>Michael Hartl, <a href="https://www.railstutorial.org/book"><i>Ruby on Rails Tutorial—Third Edition</i></a>. Great thorough introduction. My only complaint is he builds an authentication system which is probably something a beginner/intermediate <a href="https://blog.codeship.com/why-you-shouldnt-roll-your-own-authentication/">shouldn't build</a>.</p>

  <p>Over the years that I worked on this Rails adapted <%= link_to "Webpack", "https://gist.github.com/maxivak/2612fa987b9f9ed7cb53a88fcba247b3" %> for asset management. But I jumped in a bit before it was mature and again Stack Overflow was essential. <%= link_to "Ross Kaffenberger", "https://rossta.net/webpack-on-rails/" %> answered many of my questions.</p>

  <p>I took several JavaScript classes and worked through <%= link_to "murach's JavaScript", "https://www.murach.com/shop/murach-s-javascript-2nd-edition-detail" ,target: "_blank" %> by Mary Delamater, so I could understand and work with the JavaScript in the mapping apps&mdash;I found it to be a good introduction for the non-programmer that I am. The publisher says his <%= link_to " Murach’s JavaScript and jQuery", "https://www.murach.com/shop-books/web-development-books/murach-s-javascript-and-jquery-3rd-edition-detail" ,target: "_blank" %> has the basics of JavaScript for building websites and therefore is less detailed and easier that the former book. <em>Eloquent JavaScript</em> is the book I often see recommended, but Delamater is a much easier entry and introduces jQuery which is how JavaScript is frequently used in web pages. <em>Eloquent JavaScript</em> does go much deeper.</p> 

  <p>Regina O. Obe and Leo S. Hsu, <a href="https://www.manning.com/books/postgis-in-action-second-edition?a_bid=5e00124f&a_aid=PostGISInAction"><i>PostGIS in Action, Second Edition</i></a>. <i>Trivia coincidence alert:</i> the cover features a drawing of a woman in mid-nineteenth-century traditional clothing  from Ubli, Croatia. Many of the restauranteurs covered here are from Brač which is about 50km away.</p>
  <p>David Bryant Copeland, <a href="https://pragprog.com/book/dcbang/rails-angular-postgres-and-bootstrap"><i>Rails, Angular, Postgres, and Bootstrap</i></a> </p>
  <p>Barrett Austin Clark, <a href="http://www.informit.com/store/data-visualization-toolkit-using-javascript-rails-and-9780134464435"><i>Data Visualization Toolkit: Using JavaScript, Rails, and Postgres to Present Data and Geospatial Information</i></a>. Important when I was moving into creating the maps.</p>
  <p>Twitter <%= link_to "Bootstrap","https://getbootstrap.com" %> for easy pack layout and <%= icon("bootstrap", class: "text-success") %> <%= link_to "icons", "https://icons.getbootstrap.com" %>.</p>
</br>
<h4 id="">Other technical</h4>
<p><%= link_to "OpenLayers", "https://openlayers.org" %> a JavaScript for putting modifiable maps on pages. A book that finally got me up to speed is <%= link_to "OpenLayers 3 Beginner's Guide", "https://www.packtpub.com/web-development/openlayers-3-beginners-guide" %>. OpenLayers is up to v6, but v3 was a major change and it's fundamentally the same app. I haven't found a later book, but I did find a good <%= link_to "Udemy tutorial", "https://www.udemy.com/course/openlayers-6-from-scratch-with-a-project/" %> by Ikrom Nishanbaev. He also has a few of the tutorials on YouTube, but the full on Udemy is much more complete and when I found it in 2020, there were links to the Udemy tutorials at half price. OpenLayers is more powerful than Leaflet and Mapbox and probably because of my JavaScript weakness I couldn't do what I wanted with them so jumped into the yet harder to learn OpenLayers, but to me the overall logic is simpler and doesn't rely on often weakly supported add ons.</p>
<p><a href="http://rubyonrails.org" title="Ruby on Rails">Ruby on Rails</a>, <a href="https://www.postgresql.org">Postgres </a>and <a href="http://postgresapp.com" title="Postgres.app – the easiest way to get started with PostgreSQL on the Mac"> its app for macOS</a>, <%= link_to "PgAdmin", "https://www.pgadmin.org" ,target: "_blank" %> to work with Postgres databases.</p>
<p><%= link_to "Ryan Bate's RailsCast", "http://railscasts.com" %>, a series of on-line tutorials ending in about 2013. Originally some kind of subscription series, but he's made them free and I still find them quite useful as much of what works in Rails hasn't changed that much. 413 episodes! <%= link_to " Railscasts #370 Ransack", "http://railscasts.com/episodes/370-ransack" ,target: "_blank" %> and Polymorphic Associations among others where quite useful (Sortable columns was great but then I found Ransack, but I did leave in Sortable columns since it works but not for associations)</p>
<p><%= link_to "Ransack", "https://github.com/activerecord-hackery/ransack",target: "_blank" %> a great gem for searching and sorting columns which I'd found much sooner.</p>
<p>Numerous great gems, and the following diagram produced with the <a href="http://voormedia.github.io/rails-erd/" title="Rails ERD – Entity-Relationship Diagrams for Rails">Rails ERD gem.</a> At this writing some of the fields were for testing and trials and need to be removed. And "year" is usually shown as "connection" in most places.
<%#= image_pack_tag("media/images/erd.pdf")%> FIXME


