<% provide(:title, "Admin") %>
<h1>Admin</h1>
<p>
  For administrators only.
</p>
<h4>Manually creating GeoJSON.</h4>
<p>Not sure if this will stay this way or become automated</p>
<p>See implemenation notes for thinking. Creating the GeoJSON for connections</p>
<p>Needs to be a method or something with a confirmation when done, at least until I figure out what I'm doing</p>

<%=
str1 = '{"type":"Point","coordinates":[1,2]}'
geom = RGeo::GeoJSON.decode(str1, :json_parser => :json)
geom.as_text              # => "POINT(1.0 2.0)"

str2 = '{"type":"Feature","geometry":{"type":"Point","coordinates":' +
  '[2.5,4.0]},"properties":{"color":"red"}}'
feature = RGeo::GeoJSON.decode(str2, :json_parser => :json)
feature['color']          # => 'red'
feature.geometry.as_text  # => "POINT(2.5 4.0)"

hash = RGeo::GeoJSON.encode(feature)
hash.to_json == str2      # => true
%>