<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Please contact <%= mail_to("CroRes@web.knobby.ws", name = "Greg", html_options = {subject: "About the Croatian Restaurants Project", body: "Hi Greg"}) %> with any comments, questions, suggestions or whatever.
</p>
