<div class=""> <!-- Was jumbotron with bootstrap 4 -->
  <h1><%= full_title(yield(:title)) %> </h1>

  <h2>
    A project to trace the ownership and locations of Croatian operated restaurants in early Los Angeles.
  </h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div id="homepage"> <!-- Can't get this CSS to work. Lines work, but font-size doesn't -->
    <!-- < = link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %> -->

    <p>Alpha (alpha meaning not feature complete. Beta is feature complete, but in test) site. Welcome. Not ready for prime time, but it's up so contributors can see what's going on and so I can see how it works on the web.</p>
    <p>I'm in the process of testing the concept. As of July 2016 I've only entered about 30 percent of the data. But I want to test other aspects before adding more data to make sure it's organized correctly.</p>
    <p>Currently this is a compilation of the data is being used to draw <%= link_to "a map illustrating the location of the people, their restaurants and residences", map_path %>. If you have any questions, comments or suggestions, go to the <%= link_to "Contact page", contact_path %> and email me. I'll be happy to add information to this site.</p>
    <p>Later I plan to open up the database, so others can contribute. I'd like to add photos and other memorabilia to the site.</p>
    <p>You can look at the information, but logging in is adminstrator only for now.</p>
    <p>The navigation links at the top of the page will take you to the information. <b><%= link_to "Connections", summary_path %></b> is the page where the people are connected to the address of the restaurants or residences.</p>
    <p>General sources and methodology of data gathering is discussed on the <b><%= link_to "About page", about_path %></b>. References are generally included in the details of each item under Source. </p>
    <p>If you're looking for the old <b><%= link_to "Keep The Rubber Side Down website", "https://knobby.ws" %></b>, it's been moved <%= link_to "here", "https://knobby.ws" %>, my blog and photo site.</p>
    </div>
  </div>  <!-- col-md-5 home -->
  <div class="col-md-4">
  <figure>
    <%= link_to image_tag("https://crores.s3.amazonaws.com/photos/Restaurant-002.jpg", alt: "Skaric restaurant", height: '400', width: '558'), '#' %> 
    <figcaption class="media-heading">Skarich Restaurant</figcaption>
    </figure>
    <figure>
    <%= link_to image_tag("https://crores.s3.amazonaws.com/photos/1890-07-14.Iliich_restaurant_ad.png", alt: "Illich adverisement ", height: '872', width: '492'), 'years/44' %> 
    <figcaption>1890 Ad From Los Angeles Herald</figcaption>
    </figure>
    </div>
  </div>  <!-- row -->
  </div>  <!-- container-fluid -->
  <div>
    <h4>Trivia</h4>
    <p> According to <%= link_to "this site", "https://esrimedia.maps.arcgis.com/home/webmap/viewer.html?webmap=b41f3711dabb4b7b91e9a2c26cf6a23d" %> 0.06 percent of Los Angeles claims Yugoslavian descent, and Croatia is only a part of former Yugoslavia.</p>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="railslogo col-md-4">
         Powered by <%= link_to image_tag("rails-logo.svg", alt: "Rails 5 logo", height: "100", width: "129"), "https://rubyonrails.org/" %>
          <%= link_to "PostGIS", 'https://ngauthier.com/2013/08/postgis-and-rails-a-simple-approach.html' %>
       and <%= link_to "MaptimeLA", 'https://www.meetup.com/MaptimeLA/' %>
       </div>

       <div class="col-md-3">
           <!-- spacing out the flags ? -->
      </div>

     <div class="col-md-3">
         <%= link_to image_tag("croatianFlagWaving.jpg", alt: "Croatian flag", height: '100', width: '93'), 'https://en.wikipedia.org/wiki/Croatia' %>
         <%#= link_to image_pack_tag("croatianFlagWaving.jpg", alt: "Croatian flag", height: '100', width: '93'), 'https://en.wikipedia.org/wiki/Croatia' %> <!-- Error -->
     </div>

     <div class="col-md-3">
         <%= link_to image_tag("usFlagWaving.jpg", alt: "US flag", height: '73', width: '100'), 'https://en.wikipedia.org/wiki/United_States' %>
     </div>

    </div>  <!-- row -->
  </div>   <!-- container-fluid -->
</div> <!-- jumbotron -->
