<div class=" "> <!-- Seems like overkill, but does provide some margins around overall main part of the page -->
	<% provide(:title, "Images") %>
	<!-- <h1>Images</h1> -->
	<div class="container-fluid">

    <figure class="media well">
        <a href="/years/216">
          <img class="media-object media-left" src="https://crores.s3.us-west-1.amazonaws.com/Newspaper_articles/1883%20Sept%2014.%20Los%20Angeles%20Herald.%20Dol.%20Commerial%20Restaurant.png" height="366" width="395">
        </a>
        <figcaption class="media-heading">Sept. 14, 1883. Los Angeles Herald</figcaption>
    </figure>

    <figure class="media well">
      <a href="years/217"><img class="media-object media-left" src="http://crores.s3.amazonaws.com/Newspaper%20articles/1883%20Sept%2014.%20Marietich.%20Queen%20Chop%20House.%20Snippet.png" width="412" height="259" alt="1883 Sept 14. Marietich. Queen Chop House. Snippet"></a>
			<figcaption class="media-heading">Sept. 14, 1883. Los Angeles Herald</figcaption>
    </figure>
		
	  <figure class="media well">
      <%= link_to image_tag("http://crores.s3.amazonaws.com/photos/Restaurant-001.jpg", alt: "Skaric restaurant", height: '400', width: '558'), '#' %>
      <figcaption class="media-heading">Skarich restaurant</figcaption>
		</figure>
	
  </div>
</div>
  