<% provide(:title, 'Postira, Brač Picnic') %>
<h1>Postira, Brač<br>Annual Picnics</h1>
<div class="fs-5 m-2">
  <div class="mx-auto" style="width: 1575px;">
    <%= image_tag("https://crores.s3.us-west-1.amazonaws.com/photos/1913.07.16.PostiraPicnic.jpg", height: '1104', width: '1575') %>
  </div>
  <p>This photograph was passed down through Scarich family and at first was difficult to reconcile the date because it was a Tuesday. But Eterovich's book <strong>Croatians in California, 1849 to 1999</strong> described the 1914 annual Brač picnics celebrating &ldquo;the Feast Day of Mt. Carmel (Gospe od Karmel), a great day of celebration on the island of Brac.&rdquo;. The map shows the addresses associated with Croatian restauranteurs nearby to St. Anthony's Croatian Church, as well as for the names he listed.</p>

  <img src="https://crores.s3.us-west-1.amazonaws.com/photos/1914_Eterovich.Brac_picnic.jpg" width="2230" height="510" alt="1914 Eterovich. Brač Picnic 1914">
  <hr>
  <%= link_to 'Back to Introduction', 'story_intro', class: "btn btn-outline-success float-start" %><%= link_to 'TBD', '', class: "btn btn-outline-success float-end" %>
</div>
