<% provide(:title, "Sanborn Maps") %>
<h1>Sanborn Maps</h1>
<div class="container">
	<p><em>A place to store some notes for now. Expand on how used and links to history. see also my notes for MaptimeLA</em></p>
  <p>From <%= link_to "Maps Mania", "http://googlemapsmania.blogspot.com/2021/02/historical-sanborn-maps-of-america.html" %> (lightly edited): "From 1866 to 1977 the Sanborn Map Company produced maps of U.S. cities and towns. The Sanborn maps contained detailed information about individual buildings so that fire insurance companies could accurately calculate fire risk. In the 1960s fire insurance companies stopped using maps to underwrite fire risk and consequently there was no market for new Sanborn maps."</p>
  <p>Nominally Sanborn maps were published in 1888, 1894, and 1906 for Los Angeles. These are major editions with sheet numbers changed.</p>
  <p>In sorting out the maps I realized what some sources label as 1888 Volume Two (text not digits were used, so following what's printed) is really an addendum to the 1888 edition that approximately doubled the number of sheets.  Sheets 1–40 from the 1888 were retained as is and retroactively made Volume 1. Other observations: 1) the "masthead" on the overview map is now <em>Sanborn-Perris Map Co.</em> while the 1888 version is <em>Sanborn Maps Publishing Co. Limited</em> (Ref below discusses 1899 change). 2) The 1888 overview map makes no mention of "Volumes," 3) the 1890 overview map is labeled "Volume 2", but it shows the sheet locations for both Volumes 1 and 2. There is no Volume 1. The address "117 Broadway, New York" is the same for both 1888 and 1890.
    <%= link_to "Short history at University of Florida", "http://cms.uflib.ufl.edu/maps/collections/sanborn" %>. Does have one date messed up.</p>
    <p>"1894" Volume Four is dated 1900 (in large type as well as the copyright date) and basically adds many areas to east and west of downtown. Also the address is changed from 115 Broadway, New York to 11 Broadway, New York. A bit of confusion results because some isolated areas that were included in the 1894 Volumes One, Two and Three that are now encompassed by Volume Four. </p>
 <p>Some of 1894 street widths are not scaled the same as the buildings and some of the streets. For example looking at Vol 1, Sheet 14, the western end of North Los Angeles St is marked "97 feet" which is the width of the street, but using the scale on the map makes the width about 250 ft. The buildings and each block iares to scale but some of the street widths are not. To accurately georeference them would requires cutting out each block and reassembling the sheet using the marked street widths which in most cases I have now done.</p>
    <p>Fortunately their are only one set sheet numbers. Volume One has Sheets 1&ndash;39, Volume Two: ~51&ndash;~91, Volume Three: ~101&ndash;139 and Volume Four contains Sheets 140&ndash;~250. <em>Are the books different sizes; not consistent; and gaps in the number (reading from poor quality map, not a list).</em></p>
</div>
