<% provide(:title, 'Stories and Bios') %>
<h1>Stories and Biographies</h1>
<div class="fs-5 m-2"> <!-- Making all the text larger can be from 1 to 6 (which seems to be same as default) -->
  <p>A collection of stories about Croatian restauranteurs mainly in the form of short biographies. This first page was drafted by Charles Perry, who at the time of writing, was President of <a href="http://chscsite.org/">Culinary Historians of California.</a>. Charles kindly offered this, hoping that I would expand on the idea as I have done here.</p>
  <p>If you want Croatian food in the Los Angeles region, you go down to San Pedro, where fishermen from Dalmatia (<%= link_to "Dalmatia", 'https://en.wikipedia.org/wiki/Dalmatia' %> is a region in present day Croatia) have lived and worked since early in the 20th century. But Main Street in downtown L.A. was a sort of a Croatian-run restaurant row in the 1870s; although the fare wasn't Croatian food—that was probably too exotic and did these men know how to cook before they came to America? Chops and oysters were the main fare, and beer of course.</p>
  <p>One of the earliest Croatian run places was an oyster house at 42 Main St owned by <%= link_to "Giovanni Tomich", "/people/35" %>. Another belonged to Jake <%= link_to "Marietich", "/marietich" %>  (whose first also appears as Giacomo, showing the close geographic and cultural connections of Dalmatia with Italy and the Catholic Church; for that matter <em>{editing needed}</em>, <%= link_to "Peter Marcovitch (Marcorich)", "people/149" %> had an Italian restaurant on the Plaza &mdash; both restaurants were still in business in 1901). In 1877 Marietich operated the <%= link_to "Queen Chophouse", "/locations/443" %> right across the street from the more prominent restaurant of Jerry Illich.</p>
  <p>As for most immigrants, name spelling is complicated and many of the immigrants were probably illiterate (at least in English). Some first names changed as time went on and some names were inconsistently spelled (Skarich/Scarich being a notable example—Croatian Škarić). And this writer doesn't know Croatian, but has tried to adopt a consistent spelling. And I continue to try to figure out who was who. Surnames such as Marcovitch, Marincovitch, Marinovich are difficult to sort out.</p>
  <p>Other background that is necessary to understand what I know about early restaurants in Los Angeles. My primary source is the city directories, which were like early phone books (for those of you who remember them) or now internet search. The first one I have seen is the <%= link_to "Directory of Los Angeles 1873", "sources/46" %> which had no obvious Croatians associated with restaurants and had no business section that would have listed restaurants. Both restaurant ads are for restaurants located on "New <%= link_to "Commercial street", "https://stark-cove-20051.herokuapp.com/streets/138" %> (Below Los Angeles St)" with "25 Cent Meals" a block SE of Main St. At this time San Francisco had more Croatian operated restaurants than Los Angeles had restaurants. In other words Los Angeles was a much less important town. The Gold Rush made modern California and San Francisco being the port is where many people came back to after failing at finding gold or to spend their riches.</p>
  <p>The easiest Los Angeles Croatian restauranteur to start with is the early and successful <%= link_to "Jerry Illich", 'illich' %>, followed by <%= link_to "Jake Marietich", 'marietich' %>. He wasn't the first but he had a long run.</p>
</div> <!-- end fs-5 -->
<hr>
<p>Thank you Charles Perry for giving me a start the draft of this introduction and Jerry Illich bio. Heavily edited, so all errors and omissions are mine.</p>
<%= link_to 'Next to Jerry Illich', 'illich', class: "btn btn-outline-success float-end" %>
