<% provide(:title, "Streets and Blocks") %>
<h1>Streets and Blocks</h1>
<div class="container">
<p><em>Some of the details of street name changes are now being tracked in spreadsheet which has yet to be posted</em>. Need to decide whether to use something like Google Docs or a database.</p>
	<p>Some of the street names have changed over the period. Some streets have disappeared and some have appeared. Some north-south streets were renumbered in about 1888–9 [will refine this].</p>
<p>Digits have been used for numbered streets.  That is because I started this project using city directories and they used this convention presumably because it was shorter. For me at least it's slightly easier to visualize using digits too. But the Sanborn maps wrote out the names (1888 and 1894). For example, 1st St vs First Street. I don't know what the official version was (probably wasn't one). Today we would use the written out version at least for small numbers.</p>
    <p> Some addresses are <strong>blocks</strong>, for example, <strong>Mott Block</strong>, which based on looking at maps is what today we would call a building. But to locate them we need a map or street address. Below are links to copied pages of Maxwell's 1887-8 Los Angeles City and County Guide. Maxwell's. <%= link_to image_tag("1887-8 Los Angeles City and County Guide. Maxwell's. Blocks Ad–La. p 639.jpg", alt: "1887 blocks", height: '', width: ''), '#' %> and <%= link_to image_tag("1887-8 Los Angeles City and County Guide. Maxwell's. Blocks La–Wo. p 640.jpg", alt: "1887 blocks", height: '', width: ''), '#' %>	Of interest, two Mott Block listings&mdash;31 S Main St and 14 N Spring St; and Forster Block, 28 S Main St. The latter is maybe of interest because there are listing for the Foster Block &mdash;residence for  <%= link_to "John Bielopero per 1887 Los Angeles City Directory", "locations/25" %>. Are these different buildings or a typo? I hope this will become obvious as I move forward.</p>
    <p><i>Need to make the comments below footnotes to the table</i></p>
    <p><b>Vine</b> ran from 2nd to Jackson. In 1908 was Central Ave. </p>
	<p>or <strong>Main</strong> St in 1886 <%= link_to image_tag("1886–7 Los Angeles City Directory. Bynon. Streets. Johnston–Main. p85.jpg"), '#' %> has 0 at First St and 100 at Market St and also at Requena&mdash;as of July 2016 I don't have a map that can sort this out. It might be possible to sketch out a map based on the description of the street crossings if no satifactory map turns up.
	</p>
  <p>Between 1894 and 1902, the stretch of <strong>Wilmington</strong> between 1st and Commercial became San Pedro. Although still not connecting to section south as it does today. San Pedro from the south continued straight into one block of Wilmington at 2nd. Wilmington only went between 2nd and the intersection of 1st and Los Angeles (five-way intersection). Actually it only shows this way on the 1908 map, so maybe this stretch was always San Pedro and it's an error on the 1908 map. At the moment I'm wondering if both the 1902 and 1908 maps are wrong. Maybe only the section between 1st and Commercial was Wilmington and at some point after 1908 San Pedro was realigned and connected to what had been Wilmington. This eliminated a diagonal for one block and kept San Pedro parallel to Los Angeles for four or five more blocks (connected at about Temple instead of at 1st). </p>
  <H3><BR>Street Name Changes</H3>
    <p>List of resources. How can this be compiled into a searchable map?</p>
    <ul>
      <li><%= link_to "Victorian Downtown Los Angeles", "https://victoriandtla.com/main-street/" %></li>
      <li><%= link_to "Los Angeles in the 1900s&mdash;Streets of a Hundred Years Ago", "https://stevemorse.org/census/changes/LosAngelesChanges2.htm" %> Comprehensive
      <li>https://stevemorse.org/census/changes/LosAngelesChanges2.htm
        <li>
        <li>https://en.wikipedia.org/wiki/Category:Streets_in_Los_Angeles_County,_California. Some of streets have a detailed history
          <li>Haven't explored this yet. https://www.laconservancy.org/resources/guide/historical-research-guide
            <li>References https://morethanredcars.com/?p=57 
              <li>https://articles.latimes.com/2006/dec/10/local/me-then10 Rasmussen 2006 at LATimes and https://articles.latimes.com/1989-07-05/local/me-3186_1_los-angeles-times in 1989
                <li>LAPL resources for property searches https://www.lapl.org/collections-resources/research-guides/history-your-house
                  <li>General LA searches/references https://sites.google.com/site/onlinedirectorysite/Home/usa/ca/losangeles
                    <li>Some history of street naming and references https://www.lapl.org/collections-resources/blogs/central-library/long-and-winding-story-streets-los-angeles
                      <li>
     </ul>                 
  <table class="locations pretty table table-striped table-hover table-responsive">
    <thead>
      <tr><H3><BR>Street Name Changes—<em>This table is archived here for the time being. Above supercedes it.</em></H3></tr>
      <tr>North South streets first. Bunker Hill (need to point out where this is) was leveled in the 1970s and streets could have been moved. Also the 110 and 5 freeways changed things at the west end of this list and between what is now Sunset/Cesar Chavez (then Bellevue/Macy). See also <%= link_to "Sanborn Maps", sanborn_path %> </tr>
    <thead>
       <tr>
        <th>1888 name</th><th>1894 name</th><th>1908</th><th>Today</th>
      </tr>
    </thead>
    <tbody>
    # <tr><td>1888 name</td><td>1894 name</th><th>1908</th><th>Today</td></tr>
    <tr><td>San Fernando</td><td>-</td><td>-</td><th>Spring</td></tr>
       <tr><td></td><td>Reservoir</td><td></td><td>Sunset</td></tr>
      <tr><td>Pearl</td><td>Pearl</td><td> </td><td>Figueroa</td></tr>
      <tr><td>Hope</td><td></td><td> </td><td>Hope</td></tr>
      <tr><td>South Bunker Hill</td><td>Bunker Hill</td><td> </td><td>This was a half block and now doesn't exist</td></tr>
      <tr><td>North Bunker Hill</td><td>North Bunker Hill</td><td> </td><td>May have been realigned. More work needed</td></tr>
      <tr><td>Grand</td><td></td><td> </td><td>Grand</td></tr>
      <tr><td>Olive</td><td></td><td> </td><td>Olive</td></tr>
      <tr><td>Hill</td><td></td><td> </td><td>Hill</td></tr>
      <tr><td>Buena Vista</td><td>Buena Vista</td><td></td><td>Broadway—Between Aliso and Caesar Chavez Broadway was curved to meet Buena Vista and became Broadway. Buena Vista went north from Temple before.</td></tr>
      <tr><td>Fort</td><td>Broadway</td><td></td><td>Broadway</td></tr>
      <tr><td>Spring</td><td></td><td></td><td>Spring</td></tr>
      <tr><td>Main</td><td></td><td></td><td>Main</td></tr>
      <tr><td>Anderson, but didn't go as far south</td><td>Anderson</td><td>Anderson</td><td>Mission</td></tr>
      <tr><td>Amelia</td><td>Amelia</td><td></td><td>N Garey</td></tr>
      <tr><td>Commercial</td><td>same as Commercial</td><td>-</td><td>East of Main. Gone. Temple goes between the first two.</td></tr>
      <tr><td>Requema</td><td>Requema</td><td>Market (betw. Main & Alameda)</td><td>Temple near, but major relignments</td></tr>
      <tr><td>Wilmington</td><td></td><td>San Pedro</td><td>Judge John Aliso for last block</td></tr>
      <tr><td></td><td>Wolfskill Av./Vine</td><td></td><td>Central</td></tr>

</div>