<% provide(:title, "Exporting GeoJSON to Leaflet") %>
<h1>Exporting GeoJSON to Leaflet</h1>
<div class="container">
	<p>
  What goes here? It will come.</p>
	
<p>Guess need a method to generate the following GeoJSON. A note, then click to generate</p>
	
	Output:
	
{ "type": "FeatureCollection",
    "features": [

<!-- Restaurant -->
      { "type": "Feature",
         "geometry": {
           "type": "Point",
           "coordinates": [
              [-118.243434, 34.052243] # resto only
             ]
         },
         "properties": [
				  {"year_date": "01 Sep 1886"}
          {"full_name": "John N	Bielopero"}
          {"address": "31 S Main St"}
					{"resto_name" : "Whatever"}  <!-- if it's known -->
          {"kind": "resto"}
          {"title": "Proprietor"} <!-- May be an unknown here, but probably should say so, i.e., "Position unknown" -->
        ]
      },

<!-- Residence -->
      { "type": "Feature",
         "geometry": {
           "type": "Point",
           "coordinates": [
              [-118.247941, 34.051108] # resid only
             ]
         },
         "properties": [
				 {"year_date": "01 Sep 1888"}
          {"full_name": "Mike	Siglie"}
          {"address": "257 S Broadway"}
          {"kind": "resid"}
          {"title": "Resident"}
        ]
      }


<!-- resto-resid needs. Do I duplicate all the information from the resid and resto? -->
<!-- For now keep it simple and it's about the person. The locations are a the points -->
      { "type": "Feature",
         "geometry": {
           "type": "LineString",
           "coordinates": [
              [-118.242336,34.053443], [118.241054 34.041479] # resto first. Does it matter? Probably not, but something has to be first
             ]
         },
         "properties": [
				  {"year_date": "01 Sep 1886"}
          {"full_name": "Jack Marietich"}
        ]
      },

<!-- Closing of Feature Collection -->
    ]
  }
	</p>
</div>