<% provide(:title, 'Trials') %>
<h1>Contact</h1>
<p>
 Links to various trials. To remind myself that they exist and as an easier way to test them at Heroku. Some may or may not work. Some of these may have been created with different webpacker set up.
</p>
<p><%= link_to  "Index map, i.e. the current page", map_path, class: "h4"  %>. Uses mapTwo.js and which Leaflet will depend on maps.html.erb CDN and application.js</p>
<p><%= link_to "All Locations", allLocations_path, class: "h4" %> Why hadn't I done this before?</p>
<p><%= link_to  "Map using Open Layer-complete", ol_path %>. Not working. (ol_path)</p>
<p><%= link_to  "GeoJSON Features", geojson_features_path %> Circles and other shapes.</p>
<p><%= link_to  "Leaflet with script on the page.", leafletSelfContained_path %> To eliminate any confusion on Javascript callbacks or whatever. Works as long as div#map</p>
<p><%= link_to  "Leaflet with script on the page.", leafletSelfContainedMapDiv2_path %> Same as previous except div#map_two and DOES NOT WORK</p>
<p><%= link_to  "OpenLayers Basic demo of using map/line_data.geojson", geojsonFromFile_path %>. It works. Superceded by the last item. Was used as a stepping stone</p>
<p><%= link_to  "Map using OpenLayers and LayerSwitcher", olls_path %>. All but timeLine, and it works. from https://github.com/walkermatt/ol-layerswitcher/tree/master/examples</p>
<p><%#= link_to  "Map using OpenLayers next version, map3", map3_path %></p>
<%= form_with(model: @doc) do |form| %>
  <div class="field">
    <%= form.label :TestOfActionText %>
    <%= form.rich_text_area :content %>
  </div>
<% end %>