<!--app/views/sources/_form.html.erb copied from locations with edits -->
<%= simple_form_for(@source) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-lg-6"> <!-- 6 to get pub_date looking OK on long months -->
      <div class="form-inputs">
        <div class="col-lg-5"> <!-- Using to limit size for appearance But pushes to right and now what's below is not lined up-->
          <%#= f.input :pub_date %>
          <%= f.input :effective_date, start_year: 1873, end_year: 1930 %>  <!-- default set in controller, why not here -->
          <%= f.input :cover_year %>
          <%= f.input :name, label: "Name (without year as will be included from above)" %>
          <%= f.input :publisher %>
          <%= f.input :file_basename, label: "File on my computer" %>
        </div> <!-- class="col-lg-5" -->
        <div class="col-lg-12"> <!-- full width and creates the line up with the other columns, probably a margin -->
           <div>
            <%= f.label :documents, "Select document(s) or image that support this information." %>
            <%= f.file_field  :documents, multiple: true %>
          </div>
          <br>
          <div class="form-inputs well well-sm">
            <%= f.label :caption, "Caption for document being uploaded:" %>
            <%= f.text_area :caption %>
          </div>
         <%= f.input :from_where, label: "Source of my downloaded document/file" %>
         <%= f.input :from_where_url, label: "Original URL of file" %>
          <%= f.input :notes %>
        </div> <!-- class="col-lg-12" -->
      </div> <!-- class="form-inputs" -->

  <div class="form-actions"> <!-- in other _forms this separation doesn't exist -->
    <button type="button" class="btn btn-warning btn-lg active"><%= link_to 'Cancel', :back %></button>
    <button type="button" class="btn btn-primary btn-lg active"><%= f.submit %></button>
    <%#= f.button :submit %> <!-- Rails created submit , but no formatting -->
  </div>
  <br> <!-- To move back to Source list down a bit -->

   </div> <!-- col-lg-5 -->
    <div class="col-lg-7"> <!-- Show documents in show, OK since don't need the space in new -->
      <br/>
      <%#= render '' %>
    </div> <!-- col-lg-5 -->
  </div> <!-- row  -->
<% end %> <!-- simple_form, could this be at the end of the first column? -->
  

