<!--app/views/sources/index.html.erb copied from locations with edits -->
<% if notice.present? %>
  <aside id="notice">
    <%= notice %>
  </aside>
<% end %>

<% provide(:title, 'Source of Documents') %>
<h1>Sources  (<%= @sources.count %>) <%= link_to "Simpler version of this page", sources_brief_path, class: "btn btn-outline-success" %></h1>
<!-- !render bookmark -->
<%= render 'newsource' %>

<!-- <%= form_with(url: sources_path, method: "get", class:"d-lg-inline-flex mt-2 mt-md-0", id: "search-sources-form") do %>
  <%= text_field_tag(:search_sources, nil, class: "form-control mr-sm-2", placeholder: "Source Search:") %>  --> <!-- https://apidock.com/rails/ActionView/Helpers/FormTagHelper/text_field_tag -->
  <!-- <%= button_tag("Search", class: "btn btn-outline-success my-2 my-sm-0", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}) %>
<% end %> -->

<div class="container">
  <div class="row justify-content-center" data-controller="search-sources">
    <div class="col-xs-12 col-sm-6 border rounded-pill border-3 p-2">
      <!-- Can change the fields in model/source.rb -->
      <%= @sources.count %> found. 
      <%= form_with(url: sources_path, method: :get, class:"d-lg-inline-flex mt-2 mt-md-0", data: {action: "submit->search#submit"}) do |f| %> 
        <%= text_field_tag :query, params[:query], data: {target: "search.query"}, class: "form-control mr-sm-2", placeholder: "Docs search..." %>
        <%= submit_tag("Search", class: "btn btn-primary") %>
      <% end %>
      <%= link_to "Show all", sources_path, class: "btn btn-outline-warning my-2 my-sm-0" %>
    </div>
  </div>
</div>

<%= link_to "Show all", sources_path, class: "btn btn-outline-warning my-2 my-sm-0" %> <!-- Need to hide this when all are showing TODO -->

<table class="table table-sm table-striped table-hover table-responsive pretty locations">
  <thead>
    <tr>
      <th><%= sortable "id", "ID" %></th>
      <th><%= sortable "cover_year", "Year" %></th>
      <th>Name</th>
      <th>Publisher</th>
      <% if logged_in? %> 
        <th>File basename on computer</th>
        <th>From where (Library, website name, )</th>
        <th>From where url</th>
      <% end %> 
      <th>Caption</th>
      <th><%= sortable "effective_date", "Effective Date" %></th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sources.each do |source| %>
      <tr>
        <td><%= source.id %></td>
        <td><%= source.cover_year %></td>
        <td><%= source.name %></td>
        <td><%= source.publisher %></td>
        <td><%= source.file_basename %></td>
        <td><%= source.from_where %></td>
        <td><%= source.from_where_url %></td>
        <td><%= source.caption %></td>
        <td><%= source.effective_date %></td>
        <td><%= source.notes %></td>
        <td><%= link_to 'Show', source %></td>
        <td><%= link_to 'Edit', edit_source_path(source) %></td>
        <td><%= link_to 'Destroy', source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- !render bookmark -->
    <%= render 'newsource' %>
