<!--app/views/sources/index_truncate.html.erb copied from locations with edits -->
<% if notice.present? %>
  <aside id="notice">
    <%= notice %>
  </aside>
<% end %>

<% provide(:title, 'Source of Documents-Summary') %>
<h1>Sources  (<%= @sources.count %>)</h1>
<!-- !render bookmark -->
<%= render 'newsource' %>
<%= link_to "Sources-Detailed", sources_path, class: "btn btn-outline-success my-2 my-sm-0" %>

<!-- Stimulus search -->
<!-- https://medium.com/swlh/build-a-dynamic-search-with-stimulus-js-and-rails-6-56b537a44579 -->
<div class="container">
  <div class="row justify-content-center" data-controller="search-sources">
    <div class="col-xs-12 col-sm-6 border rounded-pill border-3 p-2">
      <!-- Can change the fields in model/source.rb -->
      <strong>Not working </strong>wiring up to index_brief page is an issue. <strong>Use <%= link_to "Sources-Detailed", sources_path %> for now</strong>
      <%= @sources.count %> found. 
      <%= form_with(url: sources_brief_path, method: :get, class:"d-lg-inline-flex mt-2 mt-md-0", data: {action: "submit->search#submit"}) do |f| %>
        <%= text_field_tag :query, params[:query], data: {target: "search.query"}, class: "form-control mr-sm-2", placeholder: "Docs search..." %>
        <%= submit_tag("Search", class: "btn btn-primary") %>
      <% end %>
      <%= link_to "Show all", sources_brief_path, class: "btn btn-outline-warning my-2 my-sm-0" %> <!-- Need to hide this when all are showing TODO -->
    </div>
  </div>
</div>
<br>

<table class="table table-sm table-striped table-hover table-responsive pretty locations">
  <thead>
    <tr>
      <th><%= sortable "id", "ID" %></th>
      <th><%= sortable "cover_year", "Year" %></th>
      <th>Name</th>
      <th>Publisher</th>
      <th>Caption</th>
      <th><%= sortable "effective_date", "Effective Date" %></th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sources.each do |source| %>
      <tr>
        <td><%= source.id %></td>
        <td><%= source.cover_year %></td>
        <td><%= source.name %></td>
        <td><%= source.publisher %></td>
        <td><%= source.caption.truncate(10) %></td><!--  Nice if rollover showed the whole thing FIXME -->
        <td><%= source.effective_date %></td>
        <td><%= source.notes %></td>
        <td><%= link_to 'Show', source %></td>
        <td><%= link_to 'Edit', edit_source_path(source) %></td>
        <td><%= link_to 'Destroy', source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- !render bookmark -->
<%= render 'newsource' %>
