<p id="notice"><%= notice %> </p>
<% provide(:title, 'New Address/Location') %>

<h1>New Source</h1>

<!-- !render bookmark -->
<%= render 'form', source: @source %>

<div class="btn btn-primary active">
  <%= link_to 'Back to Sources List',  sources_path %>
  <%#= render 'newsource' %>
</div>
