<% new_title = "#{@source.cover_year} #{@source.name}"  %>
<% provide(:title, new_title) %>
<h1 class="left">Source: <%= @source.cover_year %> <%= @source.name %></h1>

<% if logged_in? %> <!-- Odd to put it here, but button on bottom not always visible TODO -->
  <%= link_to 'Edit this source', edit_source_path(@source), class: "btn btn-primary active" %>
<% end %>

<%= link_to 'Show All Sources', sources_brief_path, class: "btn btn-secondary active" %>

<!-- <p id="notice" class="alert-danger"><%#= notice %></p> -->
<div class="row">
  <div class="col-lg-5">

    <p>
      <strong>Effective date:
      <%= @source.effective_date %></strong>
    </p>

    <p>
      <strong>Publication Title:</strong>
      <%= @source.cover_year %> <%= @source.name %>
    </p>

    <p>
      <strong>Publisher:</strong>
      <%= @source.publisher %>
    </p>
    
    <% if logged_in? %>
      <% if @source.file_basename? %>
        <p>
          <strong>Document on computer:</strong>
          <%= @source.file_basename %>
        </p>
      <% end %>
      <% if @source.from_where? %>
        <p>
          <strong>Where I got the document(s):</strong>
          <%= @source.from_where %>
        </p>
      <% end %>

      <% if @source.from_where_url? %>
        <p>
          <strong>Original Document URL:</strong>
          <%== @source.from_where_url.truncate(70) %>
        </p>
      <% end %>
    <% end %>
      
    <p>
      <strong>Caption:</strong> <!-- Repeated because I often miss it on the right side of the page -->
      <%= @source.caption %>
    </p>

    <% if @source.notes? %>
      <p>
        <strong>Notes:</strong>
        <%= @source.notes %>
      </p>
    <% end %>
    <h3><%= @source.docs.count %> documents linked to this source (directory)</h3>
    <p>
      <% if @source.docs.any? %>
        <ol class="years">
          <!-- !render @source.docs.order -->
           <%#= render @source.sorted_docs %> <!-- Don't know how to call this method -->
          <%= render @source.docs.order(page_no: :asc) %> <!-- Uses views/doc/_doc.html.erb How does this happen Sorts in binary-->
          <%#= render Naturalsorter::Sorter.sort(@source.docs) %> <!-- trying naturalsorter. Moving to controller -->
        </ol>
      <% else %>
        No documents added yet.
      <% end %>
    </p>

    <p><strong>Updated</strong> <%= time_ago_in_words(@source.updated_at) %> ago.</p>
    
    <div class="btn btn-primary">
      <%= link_to 'Back to Sources List', sources_path %>
    </div>
    <%= link_to 'Edit', edit_source_path(@source) %> |
    <%= link_to 'Back', sources_path %>
  </div> <!-- class="col-lg-5" the first column -->

<!-- Second column for images -->
  <div class="col-lg-7 media media-right">
    <div> <!-- maybe can go away once remove aws_url stuff -->
            <% if @source.documents.attached? %>
            <p> <!-- Is this p taken care of by the div now? TODO -->
              <!-- Options from https://gorails.com/episodes/file-uploading-with-activestorage-rails-5-2 -->
              <% @source.documents.each do |document| %>
      <!-- https://gorails.com/forum/how-do-i-create-a-delete-button-for-images-uploaded-with-active-storage -->

                <% if document.variable? %>  <!-- First choice -->
                  <%= link_to image_tag(document.variant(resize: "500x500")), document, class: "media-space" %>
                 <br> <%#= link_to 'Delete this document', delete_image_attachment_aws_url(document.id),
                              method: :delete,
                              data: { confirm: 'Are you sure?' } %> <br> 
                              <!-- < = render 'remove_source_image' %> results in an error. Wanted to do it since use the code three times Something to do with document not meaning anything outside the scope of the do and apparently when page tries to load that's the problem-->

<!--Gives error for png or pdf? -->
                <!-- <  elsif document.previewable? %>
                  < = link_to image_tag(document.preview(resize: "400x400"), rails_blob_path(document, disposition: :attachment)) %> -->
                <% elsif document.image? %> <!-- for svg -->
                  <%= link_to 'Remove', delete_image_attachment_aws_url(document.id),
                              method: :delete,
                              data: { confirm: 'Are you sure?' } %>
                  <%= link_to image_tag(document.preview(document, width: 400)), document, class: "media-space"  %><br> 
                <% else %> <!-- for downloading if not readable by the above options -->
                  <%= link_to document.filename, rails_blob_path(document, disposition: :attachment), class: "media-space"  %>
                  <%#= render 'remove_source_image' %><br> <!-- Doesn't exist anymore or did it ever -->
                <% end %> <!-- if document.variable -->
              <% end %><!-- @source... do || -->
              <p><b>Caption: <%= @source.caption %></b></p> <!-- only show caption once -->
            </p>
            <% else %>
              <p><i>No image(s) uploaded via Active Storage</i></p>
    </div> <!-- delow  -->
            <% end %> <!-- extra div below  col-lg-7 media media-right-->

            <br>

 
  </div>  <!-- class="col-lg-7 media media-right -->

</div> <!-- end row -->
