Hi <%= @user.name %>,

Welcome to Croatian Run Restaurants in Early LA! Click on the link below to activate your account:

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>