<div id="bottomButtonsPartial" class="row"><div class="col-md-12"><p>&nbsp;</p></div></div> <!--  all of this to get a space between the table and the following -->

<div> <!-- Was also class active -->
  <% if logged_in? %>
    <%= link_to "Duplicate", new_person_path(base_id: @person&.id), class: "btn btn-secondary" %>
    <%= link_to 'Edit this person', edit_person_path(@person), class: "btn btn-primary active"  %>
  <% end %>  
</div>
<br/><br/>
<div class="btn btn-primary"> <!-- Was also class active which is a bit darker-->
  <%= link_to 'Show previous', @person.previous %>&nbsp; &#60; &nbsp;&nbsp;
  <%= link_to 'People List', people_path %> &nbsp;&nbsp;  &#62; &nbsp;
  <%= link_to 'Show next', @person.next %>
</div>
