<% if logged_in? %>
  <!-- Have this first because of how float-end {right} works. If put all of this in a float-right it gets bigger -->
  <!-- No float down which would be nice as they end up in the wrong place -->
  <span class="btn btn-outline-danger btn-xs float-end"><%= link_to 'Destroy', year, method: :delete, data: { confirm: 'Are you sure you want to delete' } %></span>
  <span class="btn btn-outline-warning btn-xs float-end"><%= link_to 'Edit', edit_year_path(year) %></span>
<% end %>
<span class="btn btn-outline-success btn-xs float-end"><%= link_to 'Details', year %></span>
