<!-- _form.html.erb used by People: Edit and New —  -->
<%= simple_form_for(@person) do |f| %>
  <%= f.error_notification %>

<!-- Moved this div info to calling form at edit. Not sure which is best, but leaving form cleaner makes some sense -->
  <div class="row col-md-4 col-md-offset-4"> <!-- Makes fields reasonable length -->
    <h3><%= @person.full_name %></h3>
    <%= f.input :given_name %>
    <%= f.input :last_name %>
    <!-- Croatian and related (No for non-Croatian or Croatian but not restaurant related) -->
    <%= f.input :croatian, wrapper: :bootstrap_toggle %> <!-- , wrapper: :bootstrap_toggle works, but default checkbox seems fine https://stackoverflow.com/questions/67613264/how-do-you-write-a-toggle-switch-with-bootstrap-5-and-simple-form#67614414 -->
    <%= f.input :place_of_birth, priority: [ "" ], collection: [ "California", "Croatia", "Brač, Croatia", "Milna, Brač, Croatia", "Postira, Brač, Croatia","Montenegro", "Rijeka, Croatia" ] %>
  </div>
  <%#= f.label :date_of_citizenship %>
  <!-- <div class="col-lg-3"> I think this is to make an indented column -->
    <%= f.input :date_of_birth, include_blank:true, start_year: 1829, end_year: 1930 %>
    <%#= f.date_select :date_of_birth, include_blank:true, start_year: 1829, end_year: 1900 %> <!-- Stacks the 3 fields -->
    <%= f.input :date_of_entry,       include_blank:true, start_year: 1849, end_year: 1930 %>
    <%= f.input :doe_source %>
    <%= f.input :date_of_citizenship, include_blank:true, start_year: 1868, end_year: 1940 %>
    <%= f.input :date_of_death,       include_blank:true, start_year: 1870, end_year: 2000 %>
  <!-- </div> -->
  <!-- Select doc to back this up and add notes. Common the the three models -->
  <!-- !render bookmark -->
  <%= render 'select_docs_notes', form: f %>

  <button type="button" class="btn btn-warning btn-lg active"><%= link_to 'Cancel', :back %></button>
  <button type="button" class="btn btn-primary btn-lg active"><%= f.submit%></button>
<% end %>
