<!-- views/people/_notes.html.erb -->
<p>
  <strong>Notes</strong>
  <%= @person.content %>
</p>

<p>
  <% if @person.notes? %> <!-- if @person.notes.length > 1 undefined method `length' for nil:NilClass -->
    <strong>Notes deprecated:</strong>
    <%= @person.notes  %>
  <% end %>
</p>

<p>
  <% if @person.doe_source? %>
    <strong>DoE source:</strong>
    <%= @person.doe_source %>
  <% end %>
</p>
<hr/>
<strong>This page for person ID = <%= @person.id %> updated </strong>
<%#= @person.updated_at.to_formatted_s(:month_year) %>
<%= time_ago_in_words(@person.updated_at) %> ago. But the restaurant and residence information can be more recent.
<hr>
<% if @person.doc_id? %>
  <p>
    <strong>Supporting Doc</strong> (doc_id: <%= @person.doc_id %>): <%#= @person.doc.id %>
<!--can't figure out how to link to the doc, don't want directly to image -->
    <%#= link_to "Supporting Document Info",  %>
    <%#= link_to "Supporting Doc Image", rails_blob_url(@person.doc.image)%>  <!-- undefined method `image' for nil:NilClass -->
   </p>
<% end %> <!-- if @person.doc_id? -->
