<!-- In doc > show Lists the people that used this document -->
<li id="person-<%= person.id %>"> <!-- Read more of Hartl to find out what this is for -->
  <span class="text-success"><%= person.full_name %></span>
  <% if person.date_of_birth? %>
    <span class="address">,  DoB: <%= person.date_of_birth %></span>
  <% end %>

  <span class="btn btn-outline-success btn-xs"><%= link_to 'Show', person %></span>
  <span class="btn btn-outline-warning btn-xs"><%= link_to 'Edit', edit_person_path(person) %></span>
</li>
