<!-- views/people/_resto_resid.html.erb -->
<!-- Sorted by date with resto and resid intermixed -->
<div class="row"> <!-- For the resto resid title block -->
  <div class="col-md-12 h4">
    <div class="col-md-6 resto"><% if @person.date_of_birth? %><span class="text-muted">(Age)</span><% end %> <%= icon("shop") %> Restaurants</div>
    <div class="l-md-offset-6 center resid"><%= icon("house") %> Residences</div> <!-- a Bootstrap icon -->
    <!-- <span class="text-muted">Age</span> -->
  </div>
</div> <!-- row for resto resid title -->

<div id="listSetUp" class="row"> <!-- For the resto resid list -->
  <div id="containerForOlLoop" class="col-md-12 h5 years">
    <div id="forLoopList" class=" text-justify"> <!-- Why is this a list? Is the order changing after creating? No. The only effect seems to be lines between the lines of text -->
      <% for year in @person.years %>  <!-- Note that @person.years.each do |year| is more idiomatic Ruby and it works in this case, but I'll leave the working for loop -->
        <!-- resto class does nothing, but reminds us that col-md-offset-6 could be resid, but to different effect. The next line is setting the class of the info that follows -->
        <div class= "<%= year.resto ? "resto" : "ms-4 resid" %>" <!-- m is margin for slight indent. s is start, i.e. left. Doesn't seem to be having an effect float-right do not get separate lines. Note two sets of quotes. -->
          <li id="year-<%= year.id %>" <!-- Read more of Hartl to find out what this is for. And is not messing up the formating -->
            <!-- <span><%= year.year_date.strftime('%-d' ' ' '%b' ' ' '%Y') %>. </span> US style. Below is a bit easier to read -->

            <!-- !render bookmark -->
            <%= render 'age', year: year %>
            <span><%= year.year_date.strftime('%Y' ' ' '%b' ' ' '%-d') %>.</span>
            <span><%= year.title %>, </span>
            <span class="link-blue-bold h5"> <!-- Was: btn btn-default btn-lg link-blue-bold h5 -->
              <%= link_to(year.location) do %> 
                <%= year.location.address %>
              <% end %>. 
            </span> <!-- also had class address -->
            <span class="resto-name"><%= year.resto_name %></span>
            <% if year.name_shown? %>
              <span class="text-secondary">&mdash;<%= year.name_shown %></span>
            <% end %>

            <!-- !render bookmark -->
    <%= render 'details_edit', year: year %> <!-- used about 3 times, so made a partial -->

          </li>
        </div> <!-- class="  year.resto? -->
      <% end %>
    </div>
  </div> <!-- id="containerForOlLoop" col-md-12 h4 years -->
<!--The last two divs if on will remove the two column set up, but it seems like they should be here! -->
</div><!-- id="listSetUp"  -->
