<!-- views/people/_right_col_map.html.erb -->
<div id="rightColForMap" class="col-lg-7"> <!-- Was col-lg-8, but want to see listings better -->

  <!-- For the zoom level. Can't get it inside the map -->
  <!-- <div> -->
  <span id="zoom-display-number" class="ol-zoom-in zoom-display-number btn btn-info float-end"></span>
  <!-- </div> -->

  <!-- ol version based on https://stackoverflow.com/questions/59548291/rails-passing-variable-to-jbuilder -->
  <div id="map" class="map-person" data-locations="<%= person_locations_path(@person) %>" data-line="<%= person_lines_path(@person) %>" ></div><!-- data-url isn't just any old variable. data seems to be a key word and what follows it is used as an identifier . -->

  <!-- For popover   -->
  <!-- <div> --> <!-- Was  class="people-show-popup-container", not using div at the moment, but could for fancier formatting -->
    <span class="btn btn-info" id='popover-text'></span> <!-- btn-secondary is gray. Was class was popover-text but trying bootstrap -->
  <!-- </div> -->
  <!-- !render pack olPersonMap -->
  <%= javascript_pack_tag 'olPersonMap' %>
  <span>&nbsp;</span> <!-- Keeps bottom of map from getting buried under footer, why clearfix in footer doesn't do it -->
</div> <!-- id="rightColForMap" class="col-lg-x" -->
