<!-- views/people/_separate_listing.html.erb-->
<!-- List resto addresses and dates first in a group, then same for resid -->
<!-- Need to run through resto and resid separately -->
<!-- This must all be in a column -->
<hr>
<!-- RESTAURANT PLACE LISTINGS -->
<% if @person.date_of_birth? %><span class="text-muted">(Age)</span><% end %>
<div class="center resto h4"><%= icon("shop") %> Restaurants</div>
<div id="listSetUp" class="row text-justify"> <!-- For the resto resid lists. text-justify isn't that-->
  <div id="containerForOlLoopResid" class="h5 years">
    <div id="forLoopList"> <!-- Why is this a list? Is the order changing after creating? No. The only effect to be a slight indent. Changing to div helps with left hand indenting, but it's still not right-->
      <!-- Looping through all and only using the ones for which resto is true. Repeat befow for resid-->
      <% @person.years.each do |year| %>
        <div id="resto-only">
          <% if year.resto %>
            <div class="resto"> <!-- resto is color -->
              <li id="year-<%= year.id %>"> <!-- What is this id for -->
               <!-- !render bookmark -->
               <%= render 'age', year: year %>
                <span><%= year.year_date.strftime('%Y' ' ' '%b' ' ' '%-d') %>.</span>
                <span><%= year.title %>, </span>
                <span>
                  <%= link_to(year.location) do %> 
                    <%= year.location.address %>
                  <% end %>.
                </span>
                <span class="resto-name"><%= year.resto_name %></span>
                <% if year.name_shown? %>
                  <span class="text-secondary">&mdash;<%= year.name_shown %></span>
                <% end %>
               <!-- !render bookmark -->
    <%= render 'details_edit', year: year %> <!-- used about 3 times, so made a partial with class="float-end"-->
              </li>
            </div> <!-- class="  year.resto? -->
          <% end %>
        </div> <!-- id="resto-only" -->
      <% end %> <!-- end of looping through all people-->
    </div>

  <!-- RESIDENTIAL PART -->
  <br>
  <div class="center resid h4 border-top"><%= icon("house") %> Residences</div> <!-- row for  resid title -->
    <div id="forLoopList"> <!-- Why is this a list? Is the order changing after creating? No. The only effect seems to be lines between the lines of text -->
     <% @person.years.each do |year| %>
       <!-- resto class does nothing, but reminds us that col-md-offset-6 could be resid, but to different effect. The next line is setting the class of the info that follows -->
        <div id="resid-only">
          <% if year.resid %>
          <div class= "resid">
            <li id="year-<%= year.id %>"
              <!-- !render bookmark -->
              <%= render 'age', year: year %>
              <span class="resid">
                <%= year.year_date.strftime('%Y' ' ' '%b' ' ' '%-d') %>.
              </span>
              <% if year.title != "Resident" %> <!-- Sort of redundant and takes up needed space, i.e., don't show Resident, but show anything else -->
                <span><%= year.title %>, </span>
              <% end %>
              <span>
                <%= link_to(year.location) do %>
                  <%= year.location.address %>.
                <% end %>
              </span>
              <span><%= year.content.to_plain_text.truncate(70) %></span>
              <% if year.name_shown? %>
                <span class="text-secondary">&mdash;<%= year.name_shown %></span>
              <% end %>
              <!-- !render bookmark -->
    <%= render 'details_edit', year: year %> <!-- used about 3 times, so made a partial -->
            </li>
          </div> <!-- class="  year.resid? -->
          <% end %>
        </div> <!-- id="resid-only" -->
      <% end %>
    </div>
  </div> <!-- id="containerForOlLoop" col-md-12 h4 years -->
<!--The last two divs if on will remove the two column set up, but it seems like they should be here! -->
</div> <!-- id="listSetUp"  -->
<!-- </div>  --><!-- id="DateAndLocationListAndHeading" -->
