<div class="row">
  <%#= image_tag(@location.doc.image.variant(resize: "400x400")) %> <!-- This works and is operating on the image-->
  <%#= image_tag(@location.doc.image.variant(crop: '400x300+0+0')) %> <!-- Works !! -->
  <%#= image_tag(@location.doc.image.variant(crop: '400x300+400+50')) %> <!-- width x height+x+y top left ref -->
  <%= image_tag(@person.doc.image.variant(crop: '350x40+650+230')) %> <!-- For location/409  hand crafted for Musich although the wrong one-->
</div>>