<% provide(:title, 'Edit Person') %>
<h1>Edit: <%= @person.full_name %></h1>

<!-- Copied the two sets of divs from years>edit and just made column narrower, but buttons still didn't sit side by side -->
<div class="row">
  <div class="col-md-6 col-md-offset-3"  id="person_edit_form" > <!--  id="person_edit_form" is for areyousure and not being used at the moment -->
    <!-- !render bookmark -->
    <%= render 'form' %>
  </div>
</div>
