<!-- people/index.html.erb -->
<!-- <p id="notice"><%#= notice %></p> FIXME is there all the time -->
<% provide(:title, 'People') %>
<h1>People (<%= @people.count %>)</h1>

<% if logged_in? %>
	<div class="btn btn-primary" >
		<%= link_to 'New Person', new_person_path %>
	</div>
<% end %>

<!-- See la_hist_street for notes on sources of search -->

<!-- Search may be different for each people, years, and location ?. But it works -->
<!-- This a roll your own solution but only uses Rails, no JavaScript. Including the sorting FIXME http://railscasts.com/episodes/228-sortable-table-columns  Only searches for last name-->
<!-- <%= form_with(url: people_path, method: "get", class:"d-lg-inline-flex mt-2 mt-md-0", id: "search-people-form") do %> -->
  <!-- <%= text_field_tag :search_people,nil, placeholder: "Last name search", class: "form-control mr-sm-2" %> -->
  <!-- <%= button_tag "Search", class: "btn btn-outline-success my-2 my-sm-0", name: nil, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"} %> -->
<!-- <% end %> --> <!-- form_with -->
<!-- <%= link_to "Show all", people_path, class: "btn btn-outline-warning my-2 my-sm-0" %> --><!-- Need to hide this when all are showing TODO -->

<!-- Reformatting Stimulus solution from /locations since it's a general solution -->
<!-- Stimulus search -->
<!-- https://medium.com/swlh/build-a-dynamic-search-with-stimulus-js-and-rails-6-56b537a44579 -->
<div class="container">
  <div class="row justify-content-center" data-controller="search-people">
    <div class="col-xs-12 col-sm-6 border rounded-pill border-3 p-2">
      <!-- <h5>Search... <em>on all but ActiveText!</em></h5> -->
      <!-- Can change the fields in model/person.rb -->
      <%= @people.count %> found. 
      <%= form_with(url: people_path, method: :get, class:"d-lg-inline-flex mt-2 mt-md-0", data: {action: "submit->search#submit"}) do |f| %> <!-- Class is mine, not demo and formats the Search button only -->
        <%#= label_tag(:query, "Search for") %>
        <%= text_field_tag :query, params[:query], data: {target: "search.query"}, class: "form-control mr-sm-2", placeholder: "People search:" %>
        <%= submit_tag("Search", class: "btn btn-primary") %>
      <% end %>
      <%= link_to "Show all", people_path, class: "btn btn-outline-warning my-2 my-sm-0" %> <!-- Need to hide this when all are showing TODO -->
    </div>
  </div>
</div>
<br>

<!-- table table-striped table-hover table-responsive - - Losses vertical centering -->
<table class="people pretty table table-striped table-hover table-responsive">
  <thead>
    <tr class="">
      <th class="text-right"><%= sortable "id" , "ID" %></th>
      <th class="text-right"><%= sortable "given_name", "First" %></th>
      <th><%= sortable "last_name" , "Last" %></th>
      <th><%= sortable "date_of_birth", "Birth Date and Place" %></th>
      <th><%= sortable "date_of_entry", "Entry Date" %></th>
      <th><%= sortable "date_of_death", "Died" %></th>
      <th><%= sortable "notes" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <%# for person in @people.order(:last_name) %>   <!-- .order(:last_name) does not sort . Sorting done in controller -->
  <% @people.each do |person| %>
  <!-- Would like the number of connections for each entry FIXME -->
  <tbody>
      <tr class="people">
        <td class="text-right"><%= person.id %></td>
        <td class="text-right"><%= person.given_name %></td>
        <td class="last-name" ><%= person.last_name %></td>
        <td>                   <%= person.date_of_birth %><br/><br/><%= person.place_of_birth %></td>
        <td>                   <%= person.date_of_entry %></td>
        <td>                   <%= person.date_of_death %></td>
        <td>                   <%= person.notes %></td> <!-- .truncate(10) Doesn't work here -->
        <td><%= link_to 'Show details', person %></td>
        <% if logged_in? %>
          <td><%= link_to 'Edit', edit_person_path(person) %></td>
          <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
  </tbody>
  <% end %>
</table>
