<p id="notice"><%= notice %> </p>
<% provide(:title, 'New Person') %>
<h1>New Person</h1>

<!-- !render bookmark -->
<%= render 'form' %>

<br/> <!-- Keeps Button away from footer -->
<!-- <div class="btn btn-primary active">
  <#= link_to 'To People List', people_path %>
</div> -->