<!-- People > Show  views/people/show.html.erb-->
<!-- This is all a container-fluid from application.html.erb -->
<% provide(:title, @person.full_name) %>
<h1><%= icon("person-fill")%> <%= @person.full_name %> (<%= @person.years.count %>) <%= icon("person-fill")%></h1> <!-- Bootstrap icons which are svg -->
<div id="allButBottomButtons" class="row"> <!-- A line row to contain the left col and then the right col. FIXME name because now moved button to leftCol -->
  <div id="leftCol" class= "col"> <!-- 'right_col_map' is the map rendered near bottom of this page -->
    <% if @person.years.any? %> <!-- Is person.years from model has_many: years and has_many :locations, through: :years -->
      <div id="twoCol4titleAndToggle" class="row">
        <div class="col-1"><!-- First column to offset. Had trouble with offset but probably didn't try hard enough --></div>
        <div id="" class="col-7">
          <h5 class="center"><strong>Restaurant Positions and Residences</strong></h5> <!-- Was <%= @person.given_name %> <%= @person.last_name %>'s  -->
          <p class="center"><em>with name in the reference doc in light gray</em>:</p>
        </div>
        <div id="buttonCol" class="col"> <!-- Why is this another col? Does have an effect -->
        <!-- Show Restaurant and Residences. Script below -->
          <button type="button" class="btn btn-outline-primary active" id="show-interleaved-button" onclick="showInterleaved()">Interleaved</button> or
          <button type="button" class="btn btn-outline-primary active" id="show-separate-button" onclick="showSeparate()">Separately</button>
        </div> <!-- buttonCol -->
       <!-- </div>  --><!-- ending row for subheading and buttons, but it ends the initial row -->
       <hr>
       <!-- Script for Interleaved or Separately buttons above. Should change state of button too -->
       <script>
         function showInterleaved() {
            document.getElementById("resto-resid").style.visibility = "visible";
            document.getElementById("resto-resid").style.height = "inherit";
            document.getElementById("separate-listing").style.visibility = "hidden";
            document.getElementById("separate-listing").style.height = "1px";
            document.getElementById("show-interleaved-button").addClass('active')
            document.getElementById("show-separate-button").addClass('disabled');
         }
         function showSeparate() {
            document.getElementById("separate-listing").style.visibility = "visible";
            document.getElementById("separate-listing").style.height = "inherit";
            document.getElementById("resto-resid").style.visibility = "hidden";
            document.getElementById("resto-resid").style.height = "1px";
         }
      </script>

      <div id="importantDates" class="center"><!-- Appears just below buttons 37  If make this class row is breaks the formatting for the row with the buttonss-->
        <% if @person.croatian == false  %>
          <p>
            <strong>This person is not Croatian, but important to the project</strong>
          </p>
        <% end %>
        <% if @person.date_of_birth? %>
          <strong>Birth:</strong>
          <%= @person.date_of_birth.strftime("%Y %b %-d") %>
        <% end %>
        <% if @person.place_of_birth? %>
          <strong>&nbsp;&nbsp;: :&nbsp;&nbsp;&nbsp;Place of birth</strong>
          <%= @person.place_of_birth %>
        <% end %>
        <% if @person.date_of_entry? && @person.date_of_birth? %>
          <strong>&nbsp;&nbsp;: :&nbsp;&nbsp;&nbsp;Date of entry:</strong>
          <%= @person.date_of_entry.strftime("%Y %b %-d") %>
          <span class="text-muted">(<%= (@person.date_of_entry - @person.date_of_birth).to_i/365 %>)&nbsp</span>
        <% end %>
        <% if @person.date_of_citizenship? %>
          <strong>&nbsp;&nbsp;: :&nbsp;&nbsp;&nbsp;Citizenship:</strong>
          <%= @person.date_of_citizenship.strftime("%Y %b %-d") %>
          <% if @person.date_of_birth? %> <!-- Not sure what next line is for, but error without this if-->
            <span class="text-muted">(<%= (@person.date_of_citizenship - @person.date_of_birth).to_i/365 %>)&nbsp</span>
          <% end %>
        <% end %>
      </div>
      <div id="DateAndLocationListAndHeading"><!-- Which ones of these two shows is determined by buttons and script -->
        <div id="resto-resid" >
          <!-- !render _resto_resid -->
          <%= render 'resto_resid' %> <!-- Sorted by date with resto and resid intermixed which can be hard to read for more than a few items -->
      </div>
      <div id="separate-listing" style="visibility: hidden; height: 1px;"> <!-- Initially hidden -->
        <!-- !render _separate_listing -->
        <%= render 'separate_listing' %> <!-- Grouping resto and resid separately -->
      </div>
      <% else %>
        <h4>No addresses yet for <%= @person.full_name %></h4>
      <% end %> <!-- if @person.years.any? -->
    </div> <!-- id="colWithinCol" for resto-resid list-->
  </div> <!-- id="leftCol" -->
    <div id="DoD" class="center">
      <% if @person.date_of_death? %>
        <strong>Death:</strong>
        <%= @person.date_of_death.strftime("%Y %b %d") %> (<%= (@person.date_of_death - @person.date_of_birth).to_i/365 %>)
      <% end %>
    </div> <!-- id="DoD" -->
    <hr>

    <!-- !render _notes -->
    <%= render 'notes' %>
    <hr>
    <!-- !render _bottom_buttons -->
    <%= render 'bottom_buttons' %>
  </div> <!-- id="leftCol" class= "col" -->

  <!-- Second column for map. To change size, just do this one. Other col will come along. The col is defined in the partial-->
  <% if @person.years.any? %> 
    <!-- !render _right_col_map -->
    <%= render 'right_col_map' %> <!-- Just to have less on this page -->
  <% end %> <!--if @person.years.any? -->
</div> <!-- id="allButBottomButtons"  end row that includes the list and the map-->
