<article ng-app="years" ng-controller="CustomerSearchController">
<header>
  <h1 class="h2">Search for People, Places and Dates</h2>
</header>
<section class="search-form">
  <form>
    <label for="search.keywords" class="sr-only">Keywords</label>
    <input type="text"
           name="keywords"
           class="form-control input-lg"
           placeholder="First Name, Last Name, Restaurant Name or Address"
           ng-change="search(keywords)"
           ng-model="keywords">
  </form>
</section>
<aside class="sr-only loading-progress">
  <span ng-if="loading" class="loading">Loading</span>
  <span ng-if="!loading" class="not-loading">Done Loading</span>
</aside>
<section class="search-results" ng-if="years.length > 0">
  <header>
    <h1 class="h3">Results</h1>
  </header>
  <!-- !render bookmark -->
    <%= render partial: "pager",
             locals: { keywords: @keywords, page: @page } %>

  <ol class="list-group">
    <li class="list-group-item clearfix"
        ng-repeat="year in years">
      <h3 class="pull-right">
        <small class="text-uppercase">Updated</small>
        {{ year.updated_at | date }}
      </h3>
      <h2 class="h3">
        {{ year.person.id }} {{ location.id }}
        <small>{{ year.source }}</small>
      </h2>
      <h4>{{ year.notes }}</h4>
    </li>
  </ol>
  <!-- !render bookmark -->
    <%= render partial: "pager",
             locals: { keywords: @keywords, page: @page } %>
</section>
</article>
