<li>
  <%= gravatar_for user%> <!-- , size: 50  wrong number of arguments (2 for 1) error-->
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
