<!--users index.html.erb -->
<% provide(:title, 'All users') %>
<h1>All users</h1>

<!-- < = will_paginate %>  Gives an undefined method `total_pages' error -->

<ul class="users">
  <!-- !render bookmark -->
  <%= render @users %>
</ul>

<!-- < = will_paginate %> -->