<!-- rendered from sources/show -->
<li>
  <%#= doc.id %> <%= doc.content %> (p. <%= doc.page_no %>)
  <span class="btn btn-outline-success btn-xs"><%= link_to 'Show', doc %></span>
  <span class="btn btn-outline-warning btn-xs"><%= link_to 'Edit', edit_doc_path(doc) %></span>
</li>
