<!-- app/views/docs/_form.html.erb. Used by docs/new /edit-->
<div> <!--  data-controller="get-filename" For stimulus -->
  <%= simple_form_for @doc do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%#= f.input :source %>
      <!-- From person, use as model -->
      <%#= form.association :person, label: "Name of the Person", label_method: :full_name_id, collection: Person.all.order(:last_name).order(:given_name), value_method: :id, include_blank: true %>

      <%= f.association :source, label: "Title of directory or census (ID)", label_method: :year_name_id, collection: Source.all.order(:cover_year).order(:name), value_method: :id, include_blank: true %>
      <%#= collection_select(:source, :year_name, Source.all.order(:cover_year).order(:name), :id, :year_name, include_blank: true ) %>

      <!-- <%= f.input :page_no %>  All the old entries show which I don't want to change to  -->

      <%= f.input :page_no, label: 'Page no.', error: 'Page no. is mandatory, please specify one', label_html: { class: 'form-inputs well well-sm'} %> <!-- , maxlength: 5 no effect. Trying placeholder to get rid of suggested old numbers didn't help size: "2x1", didn't help with size-->

       <div>
        <%= f.label :image, "Select document or image that support this information." %>
        <%= f.file_field :image %> <!-- , 'data-target-get-filename' => "name" Stimulus I think data-target-get_filename and didn't implement? , direct_upload: true  Don't understand what direct_upload is vs whatever else might happen, but got an error, so probably haven't set that up --> 
      </div>

      <div class="notes well well-sm">
        <%= f.label :content, "Notes (generally writing first last even though entry is last first) [Do not attach documents here since already have above. Otherwise end up with multiple copies?]:" %>
        <%= f.rich_text_area :content, rows: 6 %>
      </div>
      <% if @doc.notes? %>
        <div class="form-inputs well well-sm ">
          <%= f.label :notes, " Deprecated? [leaving in form so can copy to above as needed]:" %>
          <%= f.text_area :notes, rows: 5 %> <!-- , size: "5x5" is cols x rows Didn't change width-->
        </div>
      <% end %>

    </div> <!-- class="form-inputs" -->

    <!-- <button type="button" class="btn btn-primary btn-lg active"><%#= f.submit "Create/Update Doc" %></button> -->
    <button type="button" class="btn btn-primary btn-lg active"><%= f.submit data: { disable_with: false } %></button>
    <!-- <div class="form-actions"><%#= f.button :submit %></div> -->
  <% end %> <!-- simple_form_for -->
</div>
