<!-- Included in docs/show for the if years -->
<%= turbo_frame_tag :details, class: "doc-detail" do %>
  <!-- This is a copy of years/show, but may need a different one for each of the three. Yes a partial with an if to select -->
<strong>Need to figure out how to write  @doc.year.resto_event to get turbo working</strong>  
    <div class="col-lg-5">
      <!-- <%# if @doc.year.resto_event == false  %>
        <p class="notice">
          <strong>This listing something not restauranteur related</strong>
        </p>
      <%# end %> -->

      <%# if @year.person.croatian == false  %>
        <!-- #<p class="notice">
        #  <strong>This person is not Croatian, but important to the project</strong>
        #</p> -->
      <%# end %>

      <%# if @year.doc!=nil && @year.doc.source.effective_date? %>
        <%# if @year.doc.source.effective_date != @year.year_date && logged_in? %>
          <!-- <p class="notice">Doc date and date below are different. Doc date is <%#= @year.doc.source.effective_date %></p> -->
        <%# end %>
      <%# end %>

      <p>
        <!-- <strong>Date:</strong> -->
        <%#= @year.year_date.strftime("%Y %b %-d") %>
      </p>

      <!-- Check for resto or resid being set. For development-->
      <%# if @year.resid == nil && @year.resto == nil %>
        <!-- <p class="alert alert-danger"> Neither "resto" nor "resid" is set. Edit and save again! (bug to be fixed)</p> -->
      <%# end %>

      <div class="col">
        <!-- <strong>Name on Reference Document: <%#= @year.name_shown %></strong> is a <strong><%#= @year.title %></strong> at -->
      </div>
<% end %> <!-- turbo_frame_tag -->
