<p id="notice"><%= notice %></p>
<% provide(:title, 'Docs') %>
<h1>Docs  (<%= @docs.count %>)</h1>
<!-- <ul id="docs"><%#= render @docs %></ul> A demo of https://guides.rubyonrails.org/working_with_javascript_in_rails.html#a-simple-example -->
<!-- !render bookmark -->
<%= render 'new_doc_button' %>
  
<!-- Begin Ransack search form. Couldn't format with Bootstrap, so went with Stimulus. -->
  <!-- <div class="container">
    <%= search_form_for @q do |f| %>
      <div class="col-md-4">
        <%= f.text_field :source_cover_year_or_basename_or_notes_or_content_plain_text_cont, class: "form-control search-field", placeholder: "Search for title, notes, etc. " %>
      </div>
      <div class="col-md-2 col-md-offset-1 form-actions">
        <%= f.submit "Search", class: "btn btn-success" %>
      </div>
      <div class="btn btn-primary col-md-2">
        <%= link_to 'Show all docs', docs_path %>
      </div>
    <% end %>
  </div>  -->
<!-- end ransack search and new -->

<!-- Stimulus search -->
<!-- https://medium.com/swlh/build-a-dynamic-search-with-stimulus-js-and-rails-6-56b537a44579 -->
<div class="container">
  <div class="row justify-content-center" data-controller="search-docs">
    <div class="col-xs-12 col-sm-6 border rounded-pill border-3 p-2">
      <!-- Can change the fields in model/doc.rb -->
      <%= @docs.count %> found. 
      <%= form_with(url: docs_path, method: :get, class:"d-lg-inline-flex mt-2 mt-md-0", data: {action: "submit->search#submit"}) do |f| %> <!-- Class is mine, not demo and formats the Search button only -->
        <%= text_field_tag :query, params[:query], data: {target: "search.query"}, class: "form-control mr-sm-2", placeholder: "Docs search..." %>
        <%= submit_tag("Search", class: "btn btn-primary") %>
      <% end %>
      <%= link_to "Show all", docs_path, class: "btn btn-outline-warning my-2 my-sm-0" %> <!-- Need to hide this when all are showing TODO -->
    </div>
  </div>
</div>
<br>

<table class="years pretty table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th><%= sort_link(@q, :id, "ID") %></th>
      <th><%= sort_link(@q, :source_cover_year, "Source") %></th> <!-- Want this sorted by year_name and then page number FIXME. not working-->
      <th><%= sort_link(@q, :page_no, "Page no.") %></th>
      <!-- <th>Original url</th> Or shorten if want to see it-->
      <% if logged_in? %>
        <th><%= sort_link(@q, :basename, "Basename") %></th>
      <% end %>
      <th>Notes<% if logged_in? %> <em>, i.e., content</em> <% end %></th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @docs.each do |doc| %>
      <tr>
        <td><%= doc.id %></td>
        <td><%= doc.source.try(:year_name) %></td> 
        <td><%= doc.page_no.to_i %></td> <!-- .to_1 doesn't help sort -->
        <!-- <td><%#= doc.original_url %></td> -->
        <% if logged_in? %> 
          <td><%= doc.basename %></td>
        <% end %> 
        <td><%= doc.content %></td>
        <!-- <td><%#= image_tag doc.image %></td>  --><!-- Can't resolve image into URL: to_model delegated to attachment, but attachment is nil.  w/o image_tag #<ActiveStorage::Attached::One:0x00007f93dd8a84c8> -->
        <td><img class="media-object" src="<%= doc.image %>" height="50" width="50"></td> <!-- image doesn't show -->
        <td><%= link_to 'Show', doc %></td>
        <td><%= link_to 'Edit', edit_doc_path(doc) %></td>
        <td><%= link_to 'Destroy', doc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- !render bookmark -->
    <%= render 'new_doc_button' %>
