<!--app/views/docs/show.html.erb -->
<!-- <p id="notice"><%#= notice %></p> --> <!-- Already in /layout somewhere, although this one is formatted better -->
<% new_title = "#{@doc.source.cover_year} p#{@doc.page_no}"  %>
<%= provide(:title, new_title) %>
<div class="row">
  <div class="col">
    <p>
      <strong>Source</strong>:
      <strong><%= link_to @doc.source.year_name, @doc.source %></strong>.  <!-- ID: <%#= link_to @doc.source_id, @doc.source %> -->
    </p>

    <% if @doc.source.effective_date? %>
      <p>
        <strong>Effective date:</strong>
        <%= @doc.source.effective_date.strftime('%Y' ' ' '%b' ' ' '%-d')%> <!-- strftime("%d %b %Y")  -->
      </p>
    <% end %>

    <p>
      <strong>Page no.</strong>
      <%= @doc.page_no %>
    </p>

     <% if @doc.original_url? %>
      <p>
        <strong>Original source:</strong>
        <%= @doc.original_url %>
      </p>
    <% end %>

    <!-- <p> I was doing this manually but ActiveStorage does it anyway
      <strong>Title of file on my computer:</strong>
      <%#= @doc.basename %>
    </p> -->

    <p>
      <strong>Original filename:</strong>
      <%= @doc.image.attached? ? @doc.image.filename : "Doc missing"%>
      <% if @doc.basename? %>
       <br>&nbsp;&nbsp;&nbsp;<strong>and (Originally added manually)</strong> <%= @doc.basename %>
      <% end %>
    </p>

    <p>
      <strong>Notes</strong>
      <%= @doc.content %>
    </p>

    <p>
      <strong>Notes Plain Text for dev: </strong>
      <%= @doc.content_plain_text %>. or <%#= @doc.content.body.to_plain_text %> FIXME
    </p>

    <% if @doc.notes? %>
      <p>
        <strong>Notes</strong> (Deprecated):
        <%= @doc.notes %>
      </p>
    <% end %>

    <p>
      <!-- <strong>Updated</strong> <%#= @doc.updated_at.strftime('%d' ' ' '%b' ' ' '%Y'', ' '%H'':''%H ''%Z') %> -->
      <strong>Updated</strong> <%= time_ago_in_words(@doc.updated_at) %> ago.
    </p>

    <!-- Where doc is used. Used to help to confirm data entry which is why a "popup" like for each would be nice. Can just go through them more quickly than having to create a new page for each one. But complicated by how the lists are created-->
    <h4>What links to this doc:</h4>

    <ol class="years">
      <% if @doc.years.count > 0 %>
        <%= turbo_frame_tag :index do %>
         <h5>Connections <span class="text-secondary"> (Name on doc).</span>:</h5>
          <!-- Every use of this document in the years database -->
          <!-- The format is created by the views/years/_year.html.erb by some kind of magic -->
          <!-- !render bookmark -->
          <%= render @doc.years %> 
         <% end %> <!-- turbo_frame_tag years -->
         <%= render 'turbo_years' %>
       <% end %>
        <% if @doc.people.count > 0 %>
          <br>
          <h5>People:</h5>
          <!-- !render bookmark -->
          <%= render @doc.people %>
        <% end %>
        <% if @doc.locations.count > 0 %>
          <br>
          <h5>Locations:</h5>
          <!-- !render bookmark -->
          <%= render @doc.locations %>
        <% end %>
        <br>
      </ol>
      <div>
        <%= link_to 'Previous document', @doc.previous, class: "btn btn-outline-info" %> &nbsp;  &#60; &nbsp;
        <% if logged_in? %>
          <%= link_to 'Edit', edit_doc_path(@doc), class: "btn btn-success" %>
          <%= link_to 'Back to all Docs', docs_path, class: "btn btn-primary" %>
          <%#= link_to "Duplicate", new_doc_path(base_id: @doc&.id), class: "btn btn-warning" %> <!-- Didn't work -->
          <%= link_to 'New doc', new_doc_path, class: "btn btn-success" %>
        <% end %>
        &nbsp;  &#62; &nbsp; <%= link_to 'Next document', @doc.next, class: "btn btn-outline-info" %>
        <% if logged_in? %>
          &nbsp;  &nbsp; <%= link_to 'Last document', @doc.last, class: "btn btn-outline-dark" %>
        <% end %>
      </div>  <!-- class="btn btn-primary" -->
    </div> <!-- col -->
    <div class="col">

    </div>
  </div> <!-- row and col -->
<br> <!-- to put a space above image -->
<div>
  <!-- Second column for images LEAVE IN LINE FOR THIS NOT THAT MUCH INFO-->
  <!-- <div class="col-lg-7 media media-right"> -->
  <% if @doc.image.attached? %>
    <!-- <% if @doc.image.analyzed? %>
    <% else %>
      <p id="error_explanation"><strong>Refresh page or Edit and resave because doc.image.metadata not created. These tests aren't working quite right because the metadata is in the db. Must be a timing thing.</strong></p>
    <% end %> -->
    <%= image_tag @doc.image %>
  <% else %>
    <p><i>No image uploaded via Active Storage</i></p>
  <% end %> <!-- extra div below  col-lg-7 media media-right-->
</div>
  <!-- </div>   --><!-- class="col-lg-7 media media-right -->
<!-- </div>  --><!-- end row OR the whole thing -->

<!--  all of this to get a space between the table and the following -->
<!-- <div class="row"><div class="col-md-12"><p>&nbsp;</p></div></div>
<div class="row"><div class="col-md-12"><p>&nbsp;</p></div></div> -->

<div>
  <% if logged_in? %>
    <%= link_to 'Previous item', @doc.previous, class: "btn btn-outline-info" %> &nbsp;  &#60; &nbsp;
  <% end %>
  <%= link_to 'Back to all Docs', docs_path, class: "btn btn-primary" %>
  <% if logged_in? %>
     &nbsp;  &#62; &nbsp; <%= link_to 'Next item', @doc.next, class: "btn btn-outline-info" %>
  <% end %>
</div>
