<p id="notice"><%= notice %></p>
<% provide(:title, 'Stories') %>
<!-- storyMap() is in assets/javascripts/stories.js -->
<script>
  $(document).on('ready page:load', function(event) {
    storyMap();
  });
</script>

<div id='map'      class="col-md-6"></div>
<div id='features' class="col-md-6">
    <section id='losangeles' class='active'>
        <h3>Welcome to Los Angeles</h3>
        <p>This is Los Angeles.</p>
        <ul>Comment about how this works</ul>
          <li>Can it put other than maps on the side? Probably not critical as can be inline</li>
          <li>Sidebar map comes in later that I would like. Need to have the item very near the top
          <li>Map moves seem a bit too "zoomy," the rates could be different
        <li> See original at file:///Users/gscar/Documents/GIS%20&%20Mapping/storymap_tutorial.2017.05.20/leaflet/2_leaflet.html</li>
        <li> Formatting in Rails needs tuning, in other words not the same as original.
    </section>
    <section id='boyleheights'>
        <h3>The neighborhood of Boyle Heights</h3>
        <p>Let's head down to the neighborhood of Boyle Heights</p>
    </section>
    <section id='kennethhahn'>
        <h3>Kenneth Hahn</h3>
        <p>This is a park in South LA</p>
    </section>
    <section id='centralave'>
        <h3>Down Central Ave</h3>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Central_Avenue_jazz_marker_-_Los_Angeles.jpg/320px-Central_Avenue_jazz_marker_-_Los_Angeles.jpg">
        <p>Or maybe check LA's Jazz history on Central Ave. Image Source - Wikipedia</p>
    </section>
    <section id='chavezravine'>
        <h3>Remembering Chavez Ravine</h3>
        <p>Chavez Ravine is a shallow L-shaped canyon located in Los Angeles, California, United States, partially in the Elysian Park neighborhood. It sits in large promontory of hills north of downtown Los Angeles and was known in the 1860s as the "Stone Quarry Hills" which had other smaller ravines such as Sulphur Ravine, Cemetery Ravine, Solano Canyon and Reservoir Ravine.[1] It is next to Dodger Stadium, a baseball venue that opened in 1962. The name Chavez Ravine can be used to mean either the actual ravine itself in a narrow sense or sometimes in a broader sense the entire promontory and surrounding ravines, and is also used to refer to the stadium. Dodger Stadium was constructed by knocking down the ridge which separated the nearby Sulfur and Cemetery Ravines and filling those two ravines in. Palo Verde Elementary School was buried in the process. Chavez Ravine was named for Julian Chavez, a Los Angeles councilman in the 19th century. Chavez originally purchased the land in the Elysian Park area, which eventually grew to about 315 acres, in 1844. Nearby "Cemetery Ravine" was named after old Calvary, the first cemetery of Los Angeles.</p><a href="https://en.wikipedia.org/wiki/Chavez_Ravine">Source - Wikipedia</a>
    </section>
    <section id='watts'>
        <h3>Watts Tower</h3>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Watts-towers.jpg/396px-Watts-towers.jpg">
        <p>The Watts Towers, Towers of Simon Rodia, or Nuestro Pueblo ("our town") are a collection of 17 interconnected sculptural structures within the Simon Rodia State Historic Park in the Watts community of Los Angeles. The tallest of the towers reaches a height of over 99 feet (30 m). The towers and walls were designed and built by Sabato ("Simon") Rodia (1879–1965), an Italian immigrant construction worker and tile mason, over a period of 33 years, from 1921 to 1954. The work is an example of outsider art and Italian-American naïve art.</p><a href="https://en.wikipedia.org/wiki/Watts_Towers">Source - Wikipedia</a>
    </section>
    <section id='unionstation'>
        <h3>All aboard!</h3>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Union_Station_profile%2C_LA%2C_CA%2C_jjron_22.03.2012.jpg/320px-Union_Station_profile%2C_LA%2C_CA%2C_jjron_22.03.2012.jpg">
        <p>We leave off at Union Station, as you can see you can tell how accessible these tools are to tell your story.</p>
        <small id="citation">
            Github repo <a href='https://github.com/maptimeLA/storymap_tutorial'>Story Map Tutorial</a>
        </small>
    </section>
    <section id="rumsey">
      <p>Test for Rumsey</p>
    </section>
      
</div>