// app/webpack/javascript/application.scss. Some would name this site.scss. Some would also name the folder css which seems to break some things. Leave the folder name as `stylesheets`
// Must explicity load files in this directory
// overrides come before main bootstrap.scss
@import 'bootstrap_custom';
@import 'bootstrap/scss/bootstrap'; //@import '~bootstrap/scss/bootstrap.scss';  // rossta.net https://www.vic-l.com/setup-bootstrap-in-rails-6-with-webpacker-for-development-and-production but didn't fix checkbox
// Also, you do not need the ~ in front of the path to signify that it is from the node_modules folder like you would usually do for other non-Rails project using webpack. 

// see https://github.com/bootstrap-ruby/bootstrap_form/issues/554 lost formatting. File to import not found or unreadable: rails_bootstrap_forms. 
// Use gem "bootstrap_form", "~> 4.0" OR use Yarn?
//@import "rails_bootstrap_forms"; // not sure I'm using this. I have one trial at years/_form_bootstrap.html.erb
// https://github.com/comfy/comfy-bootstrap-form looks like a wrapper, but has good samples

@import "./actiontext.scss"; // per https://edgeguides.rubyonrails.org/action_text_overview.html
// from Ruby-Copeland p130. Should this be in another file? But is used by many models/controllers, so needs to be general
@import 'leaflet';
// @import '~leaflet/dist/leaflet.css'; // doesn't work. Why not? TODO
//@import '~leaflet/dist/images/marker-icon-2x'; // major errors. See application.js for fix which doesn't quite make sense
@import 'ol/ol.css'; // putting here because needs to load before ol-layerswitcher.css
@import 'ol-ext/control/Timeline'; // This is a guess, but Timeline.css is in the folder
@import 'ol-layerswitcher/src/ol-layerswitcher.css'; // this works. no ~, just copied the path within node-modules. Works without the .css but leaving it there for now as a reminder.
@import 'ol_layerswitcher';  // underscore for file created by me to not confuse with the file above
//@import 'ol-popup/src/ol-popup.css'; // needed this path just like for layerswitcher. Needed? Maybe if use the css

// css under my control except bootstrap_custom has to come before ~bootstrap
@import 'documents';
//@import 'years'; // for Turbo demo
@import 'stories';
@import 'leaflet.timeline'; // Error: Cannot find module './Timeline.ts' ?? Is this the problem, no as commenting it out didn't help

// This seems like it should be a stylesheet_pack_tag as needed
@import 'map';

// @import '../images/up_arrow'; // probably covered by Bootstrap now. Do I need this? Was it for an old sortable table
//@import 'layout'; // from somewhere, but do I need or do I have it

// Fonts
// https://medium.com/swlh/integrate-bootstrap-4-and-font-awesome-5-in-rails-6-fec52ee51753
@import '@fortawesome/fontawesome-free';
//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); // too light
.notice, #notice {
  background: #ffb;
  border-radius: 0.5em;
  border: solid 0.177em #882;
  color: #882;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 1em 1.414em;
  text-align: center;
}

// Trying to prevent mis-sizing and cropping of layerswitcher icon, but didn't help. Gets over-ridden by ol.css .ol-control button Commenting out since not working. It doesn't show up in the css stack so it's loading 2020.05.03

//.ol-control button,
//.layer-switcher button {
//  width: 38px;
//  height: 38px;
//}

// Puts in a temporary, delete to get default
.turbolinks-progress-bar {
  height: 5px;
  background-color: green;
}
