// Place all the styles related to the years/documents page.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Support for other pages included

// Each item in the do
.documents {
  display: inline-block;
  padding: 6px;

// The link when click on the document
.details {
  display: inline-block;
  background-color: yellow;
	transform: rotate(90deg);
	transform-origin: left top 0;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */  

  /* unvisited link */
  a:link {
      color: black;
  }

  /* visited link */
  a:visited {
      color: black;
  }

  /* mouse over link */
  a:hover {
      color: hotpink;
  }

  /* selected link */
  a:active {
      color: blue;
  }
}

// check where this is used. May not be
.doc-image-width{
  width: 600px; //crop: :fill
}


// All below trying to get a background on the tooltip that shows the connection summary
// Tooltips bits http://jsfiddle.net/technotarek/L2rLE/ but didn't work
//.tooltip.top .tooltip-inner {
//    background-color:red;
//  }
//.tooltip.top .tooltip-arrow {
//          border-top-color: red;
//       }
//.tooltip.right .tooltip-inner {
//    background-color:blue;
//  }
//.tooltip.right .tooltip-arrow {
//          border-right-color: blue;
//       }
//.tooltip.bottom .tooltip-inner {
//    background-color:green;
//  }
//.tooltip.bottom .tooltip-arrow {
//          border-bottom-color: green;
//       }
//.tooltip.left .tooltip-inner {
//    background-color:yellow;
//  }
//.tooltip.left .tooltip-arrow {
//          border-left-color: yellow;
//       }
//      
  
//  https://www.tutorialsplane.com/bootstrap-change-tooltip-background-color/
// Doesn't work

.data-toggle .myTooltip .tooltip > .tooltip-inner{
    background: #FF0;
    color: #00f;
//    border-bottom-color: #FF0; /* didn't help */
  }
}

// Carets that show with sorting. Railscasts with updates
//http://railscasts.com/episodes/228-sortable-table-columns 
// and https://gist.github.com/kylekeesling/1392144
//and https://fontawesome.com/how-to-use/on-the-web/advanced/css-pseudo-elements
.pretty th .asc::after {
  font-family: 'Font Awesome 5 Free';
  content: "  \f077"; // spaces are needed

}
.pretty th .desc::after {
  font-family: 'Font Awesome 5 Free';
  content: "  \f078"; 
}
