// Place all the styles related to the map controller here. NO. I think I should use stylesheet_pack_tag for specific .scss, so move these to other .scss
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Clark p173

// Use formatting from custom.css.scss for body
//body {
//  margin: 0;
//  padding: 0;
//}

// Style with class and use div to connect with JavaScript. I think.
// position causes problem. All the others seem irrelevant. Maybe use fixed
// Dec 2019. The following didn't work. Was trying to limit height
//#map {
//  position: absolute;
//  top: 10;
//  bottom: 0;
//  width: 100%;
//  height: 600px;
//}

// not seen by e.g. people/show// If use this, errors on /map
//#map {
//  width: 100%;
//  height: 100%;
//}

// For /map to get map to show, don't know why it worked before without this
.map {
  height: 1200px;
}

// Smaller map for locations/show
.map-small {
  width: 100%;
//  height: 100%;
//  width: 400px;
  height: 400px; // leaves room for document
}

.map-person { // gets too tall if many connections people>show is driving this one
  width: 100%;
  height: 1200px;
}

.map-legend ul {
  list-style: none;
  padding-left: 0;
}

.map-legend .swatch {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-content-wrapper {
  pointer-events: none;
}

//From layerswitcher demo
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: small;
}

// used on people>show for "popup" above map
.map-info {
  font-size: 1.6em;
  font-style: bold;
  color: green;
}


// people>show popup. Not using at present. using popover-text. This was fancier, maybe can implement later
.people-show-popup-container{
  background-color: #2F4F4F;
  opacity: 0.6;
  width: 150px;
  color: #fff;
  text-align: center; // was center. If make left padding doesn't work. and padding shows up as 0
  border-radius: 5px;
//  margin: 2px; // no obvious effect
  padding: 2px 2px; // was 2px 0 and squeezed on sides. 1px doesn't do much and 2px is a bit too much
  position: absolute;
  index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
}

// putting an arrow on bottom of text box. Needs work, look at Nishanbaev. Needs the container and 
// Not working, but maybe better approach is to try the Bootstrap popup. Note rollover works for line
.people-show-popup-container #popup-text::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

// Popover for icons and lines in people>show. Now using bootstrap styling
.popover-text{
  font-size: 12px;
  padding: 3px; // between text and background edge
//  background-color: $gray-lighter; // or $gray-lighter
//  background: rgba(175, 79, 97, 0.6); // going for some transparency. Color needs work
  background: rgba(175, 175, 177, 0.6); // going for some transparency.  Gray
  border-radius: 5px;
}

.ol-overviewmap{
  margin-bottom: 30px; // to put above scale line
}

// Scale bar on bottom. A bit too light. With bar apparently background-color doesn't work
.ol-scale-line{
  background-color: rgba(41, 68, 172, 0.6);
  color: rgba(41, 68, 172, 0.6);
}

// Zoom slider and indicator https://openlayers.org/en/latest/examples/zoomslider.html
#map .ol-zoom .ol-zoom-out {
  margin-top: 204px;
}
#map .ol-zoomslider {
  background-color: transparent;
  top: 2.3em;
}

#map .ol-touch .ol-zoom .ol-zoom-out {
  margin-top: 212px;
}
#map .ol-touch .ol-zoomslider {
  top: 2.75em;
}

#map .ol-zoom-in.ol-has-tooltip:hover [role=tooltip],
#map .ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
  top: 3px;
}

#map .ol-zoom-out.ol-has-tooltip:hover [role=tooltip],
#map .ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {
  top: 232px;
}

#map .zoom-display-number{
  top: 4.5em;
  left: .5em;
}

// ol-ext timeline
.ol-attribution {
    bottom: 4.5em;
}
.ol-timeline {
  font-size: 2em;
}
.ol-timeline .ol-scroll {
  height: 2em;
}
.ol-timeline .ol-features {
  text-align: center;
}
#select {
  font-size: .85em;
  margin: 1em 0;
}
#select p {
  margin: 0;
}
#select .copy {
  font-size: .9em;
  color: #396;
}
button.go:before {
  content: '';
  position: absolute;
  width: 0;
  height: .8em;
  background: transparent;
  border: 0.4em solid transparent;
  border-right: 0;
  border-left: .6em solid #fff;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}
.running button.go:before {
  background: transparent;
  width: .2em;
  border: 0;
  box-shadow: .2em 0, -.2em 0;
}
// end timeline

// From https://openlayers.org/en/latest/examples/popup.html for pop up on allLocations
.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}
// end for popup