/* What is this for. Maybe just the expirments with layer switcher since there is a layerswitcher.css*/
/* TODO trash this?*/
html, body {
  /* height: 500px; 100%; trying to get scrubber bar on the page */
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: small;
}

// put in map.scss
//#map {
//  width: 100%;
////  height: 100%;
//  height: 1200px;
//  /* height: 500px; made smaller to see console easier TODO*/
//}
