//Copied from https://github.com/Viglino/ol-ext and http://viglino.github.io/ol-ext/examples/storymap/map.control.timequake.html
//with appropriate mods
// TODO: remove unused items
// TODO: ol-scroll and/or ol-timeline is being overridden by ol-ext.min.css to make the scroll bar too tall. Setting height in the two affected classes doesn't help. I'm not explicitly importing the ol-ext.min.css AFAIK
/**/
body {
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
	font-size: 16px;
}
a, i, b {
  color: #337ab7;
	text-decoration: none;
}
button i {
  color: #fff;
}
.ol-control.ol-bar .ol-control button i {
  color: #fff;
}
a:hover {
  text-decoration: underline;
}
a.title {
  text-decoration: none;
}

h2 {
  color: #337ab7;
	font-size:1.1em;
	margin: 0.5em 0;
}

.info {
  background:#f5f5f5;
	padding:0.5em;
	margin: 1em 0;
}
.info ul {
  margin:0;
}

//#map {
//  float:left;
//  margin-right:1em;
//  background:#ddd;
//}
//
//#map button {
//  outline: none;
//}

.ol-attribution img {
  vertical-align:middle;
}

.layerSwitcher {
  display:inline-block;
	background:#cdf;
	padding:0.5em;
}
.btn {
  color:#fff;
	background:#369;
	padding:0.5em;
	text-decoration:none;
	cursor:pointer;
	display:inline-block;
	margin-right:0.5em;
}

.block,
.options {
  display: table;
	margin: 0.5em;
	position: relative;
	z-index: 1;
	margin:1em;
}
.options {
  background: #def;
	padding: 0.5em;
}
.options ul {
  list-style: none;
	padding-left: 0.5em;
}

i[class*="icss-"] {
  position: relative;
  display:inline-block;
  font-style: normal;
  background-color:currentColor;
  box-sizing: border-box;
  vertical-align: middle;
  font-size: 1.5em;
}
i[class*="icss-"]:before, 
i[class*="icss-"]:after {
  content: "";
  border-width: 0; 
  position: absolute;
}
i.icss-book {
  width:1em;
  height:.8em;
  background-color: transparent; 
  margin: 0 .03em .08em 0;
}
i.icss-book:before {
  height: .8em;
  width: 0.7em;
  box-shadow: inset 0 0 0 0.15em, 
      inset 0 -.48em,
      .07em .07em;
  border: 0.07em solid transparent;
  border-width: 0 0.07em .07em 0;
  border-radius: .05em .15em .1em .1em / .05em .05em .1em .05em;
  transform: skewX(-20deg);
  left: 0.15em;
}
i.icss-book:after {
  width: .2em;
  height: .2em;
  background-color: transparent;
  border: 0.05em solid currentColor;
  border-color: currentColor transparent transparent currentColor;
  border-radius: 50%;
  transform: rotate(-45deg);
  top: 0.67em;
  left: .018em;
  box-shadow: .13em -.15em 0 -.05em,
      .51em -.33em 0 -.05em;
}
.experimental {
  color:#fff; 
  background: #f91; 
  padding:.2em .5em;
  display: inline-block;
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  margin: -1em 0;
}

.ol-attribution ul {
  font-size: .8em;
}

// Time Slider
//@import 'ol-ext/dist/ol-ext.css'; // seems to work without this

.ol-attribution {
  bottom: 4.5em;
}
.ol-timeline {
  font-size: 2em;
}
.ol-timeline .ol-scroll {
  height: 2em;
}
.ol-timeline .ol-features {
  text-align: center;
}
#select {
  font-size: .85em;
  margin: 1em 0;
}
#select p {
  margin: 0;
}
#select .copy {
  font-size: .9em;
  color: #396;
}
button.go:before {
  content: '';
  position: absolute;
  width: 0;
  height: .8em;
  background: transparent;
  border: 0.4em solid transparent;
  border-right: 0;
  border-left: .6em solid #fff;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}
.running button.go:before {
  background: transparent;
  width: .2em;
  border: 0;
  box-shadow: .2em 0, -.2em 0;
}

//.map-timeslider {
//  width:  600px;
//  height: 400px;
//}

