// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Copied from 2017.05.20 workshop https://github.com/MtnBiker/storymap_tutorial/blob/master/leaflet/2_leaflet.html
// body { margin:0; padding:0; } //
//#map { position:fixed; top:0; bottom:0; width:50%; } // /* Changed from absolute, works better on some browsers, I didn't notice the
//#map {
//  position: fixed;
//  top: 60;
//  bottom: 0;
////  width:50%;
//}
#features {
    width: 50%;
    margin-left: 50%;
    font-family: sans-serif;
    overflow-y: scroll;
    background-color: #fafafa;
}
section {
    padding:  25px 50px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 13px;
}
section.active {
    opacity: 1;
}
section:last-child {
    border-bottom: none;
    margin-bottom: 400px;
}
