//= depend_on_asset "up_arrow.png"

.logo {
  background-image:url('<%= asset_path("up_arrow.png") %> ');
}

// suspect using something else for this now?. Get an error about missing up_arrow, but taking this out doesn't stop the error