// Place all the styles related to the years controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// If follow through on this might need to generalize it since used in other models?
// From https://www.mikewilson.dev/posts/using-hotwire-with-rails-for-a-spa-like-experience/ Am I still using it

// For Turbo demo, for showing loading.gif, a spinner FIXME Can remove probably since I'm asking for less info
.hidden {
    display: none;
}

.year-cards {
  display: flex;
  flex-wrap: wrap;
}

.year-card {
  display: block;
  width: 10%; // Was 16.667%
  margin-bottom: 2px; // was 16px. Can't see any difference
  text-decoration: none;
  color: #000;

  &.selected {
    .year-item-content {
      background-color: #2B6CB0;
      color: #fff;
    }
  }

  .year-item-content {
    cursor: pointer;
    background-color: #fff;
    margin: 1px 5px; // Was 16px
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .year-item-detail {
    padding: 1px; // Was 12 px
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.year-detail {
  height: 50px; // added to see if was being hidden and that's not the problem. It is there, but turbo isn't working right
  display: block;
  padding: 16px;
  border-top: 1px solid #CBD5E0;
}
