<!--years line.html.erb -->
<p id="notice"><%= notice %></p>
<% provide(:title, 'Where and When') %>
<h3><%= @ViewRestoResidLines.count %> Connections&mdash;Where a Person Worked and Lived at a point in time.</h3>
<div class="row"></div>
<div class="row summary">
  <div class="col-md-12 h5">Dates: <strong>Sep</strong> 01 xxxx is an estimated date for the effective date in a City Directory dated the following year, e.g., <strong>Sep</strong> 01 1886 is from the 1887 directory. </div>
</div>
<!-- APPLES AND ORANGES, TWO DIFFERENT STYLINGS. YEARS: SUMMARY AND INDEX -->
<table class="years pretty table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <strong>
        <div class="col-md-4 row-border">Person</div>
        <div class="col-md-5 row-border">Restaurant </div>
        <div class="col-md-3 row-border">&nbsp;&nbsp;&nbsp;&nbsp;Residence </div>
      </strong>
   <!--   <hr/> Crude and makes too big a vertical space -->
    </tr>
  </thead>


<tbody class="">
  <% @ViewRestoResidLines.each do |line| %>
  <!-- This information comes from resto_resid_lines table. TODO is the json needed? Used for map? -->
    <div class="table-body"> <!-- Gave this non-existent class for running integration test site_layout_test -->
      <div class="row summary">
        <!-- line.resto_date.class => Date from live console. The format is in en.yml took a while-->
        <div class="col-md-3"><strong><%= link_to line.full_name, controller: "people", action: "show", id: line.person_id %></strong> </div>
        <div class="col-md-6">  was a  <%= line.title_resto %> <strong><%= line.resto_name? ? " at #{line.resto_name}, " : "at " %></strong> <%= link_to line.resto_address, controller: "locations", action: "show", id: line.resto_loc_id %><br> and resided at <strong> <%= link_to line.resid_address, controller: "locations", action: "show", id: line.resid_loc_id %></strong></div>
        <div class="col-md-2">
          <%= line.resto_date.strftime('%b' ' ' '%e' ', ' '%Y') %>
          <br>
          <%= line.resid_date.strftime('%b' ' ' '%e' ', ' '%Y') %>
          </div>
      </div>
    </div>
  <% end %>
</tbody>


</table>
<p>Dates: <strong>Sep</strong> 01 xxxx are an estimated date for the data in a City Directory dated the following year.</p>

<br><p><em>NOTE TO SELF. For each result as single line, see one_line.html.erb or push resid addresses to right</em></p>