<!--Trying to convert from simple_form to Rails default to try and experiement with getting docs presented better -->

<!-- views/years/_form.html.erb used by Years: Edit and New —  -->
<!-- See x_form for version with Bootstrap panels which doesn't work -->
<%= form_with model: @year, class: 'form-inputs' do |form| %> <!-- Not sure what , html: { multipart: true } does, makes no different that I could easily see when I added to people/_form https://github.com/heartcombo/simple_form doesn't have multipart-->
<!-- <div id="error_explanation"></div> This isn't doing anything, but still getting duplicate notifications (better than none.) -->
    <%= form.label :year_date, "Date:" %>
       <% if current_page?( action: 'new') %>
         <i>Default set in year_controller>new</i>
       <% end %>
  <div class="col-lg-8"> <!-- 7 to make almost legible -->
    <%= form.text_field :year_date, start_year: 1874, end_year: 1930, label: false %> <!-- label: false so can use form.label and IIRC need .input to get correct formatting for date type-->
  </div>

  <%= form.text_field collection: Person.all.order(:last_name).order(:given_name), value_method: :id, include_blank: true %>

  <%= form.text_field :title, priority: [ "Select a title" ], collection: [ "Proprietor", "Co-proprietor", "Waiter", "Cook", "Dishwasher", "Cashier", "Clerk", "Resident", "Owner Residence", "Owner Restaurant", "Position Unknown" ] %>

  <%= form.association :location, label_method: :address, collection: Location.all.order(:address), value_method: :id, include_blank: true %>

<!-- Should be mutually exclusive (radio tags), but I am using both fields. Either change to field resto_resid or add a check TODO -->
  <div class="d-inline-flex"> <!-- https://getbootstrap.com/docs/4.4/utilities/display/ -->
    <%= form.text_field :resid, inline_label: 'Residence' %>
    <%= form.text_field :resto, inline_label: 'Restaurant' %>
  </div>

  <div class="form-inputs">
    <%= form.text_field :resto_name, label: "Name of the Restaurant", priority: [ "" ], collection: [ "American Eagle Restaurant", "The Baltimore Restaurant", "Bielopero, Vuich & Leisich", "Boston Bakery and Restaurant", "Broadway Market Chop House", "Central Restaurant and Oyster House", "Chicago Restaurant", "Commercial Restaurant", "Commercial Restaurant and Oyster Parlor", "Cosmopolitan Restaurant", "Del Monte Restaurant", "D. G. Foulkes", "Golden State Lunch Room", "Grand Pacific Restaurant", "Illich & Co", "Illich's Restaurant", "Jack's Restaurant", "Martin's Restaurant", "Merchants Restaurant", "Mott Market Restaurant", "National Restaurant", "National Restaurant and Oyster Parlor", "New Vienna Buffet", "Old Queen Chop House", "Philadelphia Restaurant", "Filipich Bros", "Queen Chop House", "Maison Doree", "Restaurant Francais", "Queen Restaurant", "Rockaway Oyster and Chop House", "Scotto & Villa", "Skaric Bros", "St Paul Restaurant", "Vuich, Lessovich & Bielopero" ] %>
  </div>

<!-- Why is as: :boolean, required here but not for :resto and :resid? Something different in the model or db [database setting the same as resto and resid] When I changed to as: :radio_buttons could read and write-->
  <!-- https://github.com/heartcombo/simple_form -->
    <div class="d-inline-flex">
    <!-- <%#= form.text_field :croatian, as: :radio_buttons, inline_label: 'Croatian and related (uncheck for non-Croatian or Croatian but not restaurant related)', default: true %> -->
    <!-- From https://github.com/heartcombo/simple_form Since added gem "bootstrap_form", "~> 4.0" Formatting is stacked instead of run together Hyphens are just to space it out a bit first item from an array as the label and the second one as the value-->
    <%= form.collection_radio_buttons :croatian, [[true, 'Croatian - - -  '], [false, '  Non-Croatian or not restaurant']], :first, :last %>
<!-- An optional way: slighty different formatting. -->
    <%#= form.text_field :croatian, as: :radio_buttons, collection: [['Croatian', true], ['Non-Croatian or not restaurant', false]], selected: ['Croatian'] %>
    </div>

    <!-- !render bookmark -->
    <%= render 'layouts/select_docs_notes', form: form %>

  <button type="button" class="btn btn-warning btn-lg active"><%= link_to 'Cancel', :back %></button> <!-- btn-default is light gray, too light in Safari. tn-info is light blue which is OK -->
  <button type="button" class="btn btn-primary btn-lg active"><%= form.submit "Create/Update Connection"%></button> 

<% end %>  <!-- simple_form_for ... do  -->
