<!-- It's either this or _form.html.erb as an option This one depends on bootstrap and gem bootstrap_form

https://github.com/bootstrap-ruby/bootstrap_form
https://github.com/bootstrap-ruby/bootstrap_form/issues/554 -->
<!-- https://apidock.com/rails/v6.0.0/ActionView/Helpers/FormOptionsHelper/collection_check_boxes -->

<%= bootstrap_form_for(@year) do |f| %>
  <%= f.text_field :resid %>
  <%= f.check_box :resto %>
  <%= fields_for :location, @year.location do |location_form| %>
    <%= location_form.text_field :address %>
  <% end %>
  <%= f.submit "Create/Update Connection" %>
<% end %>
