<!-- This can be used to see if a problem with simple_form, i.e., this isn't using simple form. -->
<%= form_with(model: @year) do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>
<% end %>
Getting the small box, just like with simple_form 2020.09.12