<!-- views/years/_form.html.erb used by Years: Edit and New —  -->
<!-- See x_form for version with Bootstrap panels which doesn't work -->
<!-- <div class="row"> -->  <!-- This row is most of the page and is for the two columns. Already a row from the calling page. 2021.08.04 took out to  see if page works, put back in since snippet drawing not working, but probably another issue -->
  <!-- A col for the main info. year>new has this wrapped in a row, not sure about edit -->
  <div class="col-lg-4" id="are_you_sure"> <!-- data-controller="doc-selected" Is this for Stimulus?-->
    <!-- <p><em>Top of first column in years/_form.html.erb. While working on layout</em></p> -->
    <%= simple_form_for(@year, html: { class: 'form-inputs' }) do |form| %> <!-- Not sure what , html: { multipart: true } does, makes no different that I could easily see when I added to people/_form https://github.com/heartcombo/simple_form doesn't have multipart-->
    <!-- <div id="error_explanation"></div> This isn't doing anything, but still getting duplicate notifications (better than none.) -->
      <%= form.label :year_date, "Date:" %>
      <%# if current_page?( action: 'new') %> <!-- Broken with Ruby 3.0.2 -->
      <%# if action[:new] SWAG which didn't work %>
         <i>Default set in years_controller.rb:13 > new FIXME</i>
      <%# end %>

      <div class="col ms-1"> <!-- Was ml now ms. 7 to make almost legible Was col-lg-8-->
        <%= form.input :year_date, start_year: 1874, end_year: 1930, label: false %> <!-- label: false so can use form.label and IIRC need .input to get correct formatting for date type-->
      </div>

      <%= form.association :person, label: "Name of the Person", label_method: :last_first_id, collection: Person.all.order(:last_name).order(:given_name), value_method: :id, include_blank: true %> 
      <div class="col">
        <%= form.input :name_shown, label: "Name shown on reference document", class: "ol-xs-offset-3" %>
      </div>

      <%= form.input :title, priority: [ "Select a title" ], collection: [ "Proprietor", "Co-proprietor", "Waiter", "Cook", "Chef", "Dishwasher", "Cashier", "Bookkeeper", "Clerk", "Householder", "Resident", "Owner Resident", "Owner Restaurant", "Manager", "Position Unknown" ] %>

      <!-- drop down for address -->
      <%= form.association :location, label_method: :address, collection: Location.all.order(:address), value_method: :id, include_blank: true %>

      <!-- Should be mutually exclusive (radio tags), but I am using both fields (therefore checkboxes). Either change to field resto_resid—would be a significant change (as it is it is clearer for reading but not for programming) or add a check TODO -->

      <!-- <%#= form.collection_check_boxes :resid, [[true, 'Residence'], [false, 'Restaurant']], :first, :last %> Not sure how this would work since only identified as :resid -->
      <div class="d-block "> <!-- https://getbootstrap.com/docs/4.4/utilities/display/ d-inline-flex makes no diff-. d-block stacks them and short label. d-inline resid disappears. table stacks but no label -->
        <%#= form.input :resid, inline_label: 'Residence' %> <!-- Label not working -->
        <%#= form.input :resto, inline_label: 'Restaurant' %>
      </div>

      <div class="form-inputs">
        <%= form.input :resto_name, label: "Name of the Restaurant", priority: [ "" ], collection: [ "American Eagle Restaurant", "Angeles Restaurant", "The Baltimore Restaurant", "Barnum Restaurant", "Bielopero, Vuich & Leisich", "Boston Bakery and Restaurant", "Boston Chop House", "Broadway Market Chop House", "Central Restaurant and Oyster House", "Chicago Restaurant", "Commercial Restaurant", "Commercial Restaurant and Oyster Parlor", "Concordia Cafe", "Cosmopolitan Restaurant", "Del Monte Restaurant", "Filipich Bros", "D. G. Foulkes", "Family Dining Rooms", "Frank's Chop House","Good Fellows Grotto", "Golden State Lunch Room", "Grand Pacific Restaurant", "Illich & Co", "Illich's Restaurant", "Illich's Restaurant and Cafe", "Italian Restaurant", "Jack's Restaurant", "Maison Doree", "Martin Siglie & Co", "Martin's Restaurant", "Martin's Restaurant and Oyster House", "Mastinich & Co", "Merchants Restaurant", "Mott Market Restaurant", "National Restaurant", "National Restaurant and Oyster Parlor", "New Vienna Buffet", "Old Queen Chop House", "Old Queen Coffee House", "Old Queen Restaurant", "Queen Coffee House", "Queen Restaurant", "Overland Restaurant and Oyster House", "Philadelphia Restaurant", "Queen Chop House", "Queen Restaurant", "Restaurant Francais", "Rockaway Oyster and Chop House", "Saich, Siglie & Co", "San Francisco Oyster and Chop House", "Saratoga Restaurant", "Scotto & Villa", "Skaric Bros", "St Paul Restaurant", "Union Chop House", "Universal Restaurant", "Vuich, Lessovich & Bielopero" ] %>
      </div>

      <!-- <div class="d-inline-flex">
        <%#= form.collection_radio_buttons :croatian, [[true, 'Croatian - - -  '], [false, '  Non-Croatian or not restaurant']], :first, :last %>  --><!-- What is the first last? -->
        <%#= form.input_field :croatian, as: :boolean, boolean_style: :inline %>
      <!-- </div> -->

        <%= form.input :resto_event, wrapper: :bootstrap_toggle, default: :true %> <!-- https://stackoverflow.com/questions/67613264/how-do-you-write-a-toggle-switch-with-bootstrap-5-and-simple-form#67614414 -->
      <!-- </div> This extra div was causing buttons not to work -->
  
    <!-- !render layouts/select_docs_notes -->
    <%= render 'select_docs_notes', form: form %>

      <!-- The following association and notes works for one doc, but now move to render since common to all. Have to pass form -->
        <%#= form.association :doc, as: :check_boxes, label_method: :year_name_page, collection: Doc.all, value_method: :id, label: "Select document(s) that support this" %> <!--FIXME, maybe grouped_select --> <!-- :year_name_page preferred but not working yet Unpermitted parameter: :doc_id with check_boxes (the only difference from the one that works) , multiple: true Changing permitted params doesn't seem to help-->
        <%#= form.association :doc, label_method: :year_name_page, collection: Doc.all, value_method: :id, label: "Select document(s) that support this" %> <!-- This works for single doc, no sorting-->

        <%#= form.input :notes, as: :text %>  <!-- text to get scrollable/resizable box Rich Text at some point-->
      <!-- Was trying to fill in partially (get the doc in), then continue onto edit to finish filling out, but somehow mucked with the  -->
      <button type="button" class="btn btn-warning btn-lg active"><%= link_to 'Cancel', :back %></button> <!-- Was :back which takes  -->
          <!-- <button type="button" class="btn btn-warning btn-lg active"><%#= link_to 'Cancel', :back %></button> --><!-- Was :back which takes back to :edit btn-default is light gray, too light in Safari. tn-info is light blue which is OK  
         back to :edit from edit btn-default is light gray, too light in Safari. tn-info is light blue which is OK -->
      <button type="button" class="btn btn-primary btn-lg active"><%= form.submit data: { disable_with: false } %></button>
      <!-- https://stackoverflow.com/questions/42016113/rails-data-disable-with-re-enabling-button Did this because the button on inspection had `data-disable-with` added in html -->
      <!-- Identical to other submits except for words  "Create/Update Connection" which may be tripping up things. Worked after removed -->
     <!-- Not needed with , locals: {year: @year} in new "Create/Update Connection" Oh, I did this so the words were Connection, not Year -->

     <% end %>  <!-- simple_form_for ... do  -->
    <p><em>End of first column</em></p>

  </div> <!-- End of first column -->

  <!-- </div> --> <!-- lost track of divs, but needed this one so row ended below Development-->
  <!-- <div class="row">--> <!-- so can more easily fit doc image.   -->

  <!--A second col for the doc/image to be shown and drawn on -->
  <div class="col">
    <!-- <p><em><strong>Second row or col</strong> for document to show after selected, sizing TBD.</em></p> -->

    <!-- @year.doc: <%#= @year.doc %><br> -->
    <!-- @year.doc.image: <%#= @year.doc.image %> via ActiveStorage<br> -->
    <!-- @year.doc.image.metadata: <%#= @year.doc.image.metadata %><br> -->

    <% if @year.doc %> <!-- If create/new no doc so can't do snippets, maybe that's the logic that's needed, but if doc exists we need to be able to change or draw the snippet -->
      <!-- !pack_tag -->
      <%= javascript_pack_tag 'ol_snippet_draw', 'data-turbolinks-track': 'reload' %> <!-- , 'data-turbolinks-track': 'reload' -->
      <!-- The following two are passed in the #map to the JavaScript -->
      <%= @year.doc.image.analyzed? ? '' :'doc.image.metadata not analyzed, so sizes do not' %> <!-- metadata can be missing all but the first field "{""identified"":true,""width"":1152,""height"":1937,""analyzed"":true}" -->
      <% doc_image_width= @year.doc.image.metadata['width'] %>
      <% doc_image_height=@year.doc.image.metadata['height'] %>
      <% docUrl = rails_blob_url(@year.doc.image) %> 
      <!-- <div>Image width (debugging): <%= doc_image_width %>, height: <%= doc_image_height %>, and URL: <%= rails_blob_url(@year.doc.image) %></div> -->
      <div><span id="zoomlevel"></span></div>
      <div id="map" 
        class="" 
        style="width: <%= @year.doc.image.metadata['width'] %>px; height: <%= @year.doc.image.metadata['height'] %>px" 
        data-url="<%= docUrl %>"
        data-width="<%= @year.doc.image.metadata['width'] %>" 
        data-height="<%= @year.doc.image.metadata['height'] %>">
      Map Here</div>
    <% else %><!-- Snippet doesn't exist, show draw -->
      <br><div>@year.doc: "<%= @year.doc %>" does not exist and ol_snippet_draw won't be loaded. Is the right thing to do?</div>
      <br><div>@year.snippet_coords: "<%= @year.snippet_coords %>"</div><br>
      <div class="red" data-doc-selected-target="output">Doc (id) will show up here. Except variable isn't passed from  render</div>
      *<div id="show-doc"></div>* <!-- I just put the asterisks to see if the buttons were put in the div -->
      <!-- Put in for edit?, or maybe need to redraw? leaving this space for now, but can change -->
    <% end %>  <!-- @if year.doc  -->
    <!-- <p><strong>End of second column</strong></p> -->
  </div><!-- End of second column -->

<!-- </div>  --><!-- end row started in this _form -->
