<!-- <div>
  <%#= link_to 'Delete this document', delete_image_attachment_year_url(document.id),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
</div> -->
Causing an error and the url may be wrong. FIXME