<!-- Snippet if exists. Maybe move this out from the above link and make a click just pop the document up on the right -->
<h2 class="red">years/_snippet_display.html. Is this being using?</h2> <!-- Just put in to see if being used -->
<% if @year.snippet_coords? %>
  <% snippetCoords = JSON.parse(@year.snippet_coords) %>
  <% snippet_width =  snippetCoords[0][2][0].to_i - snippetCoords[0][0][0].to_i %>
  <% snippet_height = snippetCoords[0][2][1].to_i - snippetCoords[0][0][1].to_i %>
  <% centerX = (snippetCoords[0][2][0].to_i + snippetCoords[0][0][0].to_i) /2 %>
  <% centerY = (snippetCoords[0][2][1].to_i + snippetCoords[0][0][1].to_i) /2 %>
  <% center = [centerX, centerY] %>

  <div><span id="zoomlevelsnippet"></span></div>
  <%= javascript_pack_tag 'ol_snippet_display' %>
  <!--snippet will be displayed in the snippet div below -->
  <div id="snippet"
    style="width: <%= snippet_width %>px; height: <%= snippet_height %>px"
    data-url="<%= rails_blob_url(@year.doc.image) %>"
    data-width="<%= @year.doc.image.metadata['width'] %>"
    data-height="<%= @year.doc.image.metadata['height'] %>"
    data-snippet="<%= @year.snippet_coords %>"
    data-center="<%= center %>">
  </div> <!-- end snippet div, easier to read with returns. url, width, height are about doc. snippet and center are about snippet -->
    <!-- <p>End of if @year.snippet_extent? For debugging</p> -->
  <hr>
    <!-- <p><span><strong>Existing snippet extent</strong> <%#= snippet_extent %> [minX, minY, maxX, maxY]</span></p> -->
<% else %>
  <p>No snippet drawn since no `snippet_coords`: <%= @year.snippet_coords %></p>
  <!-- But show full document on right if no snippet -->
<% end %> <!-- end of if snippet_coords  -->
<% end %> <!-- end of link to -->