<!-- in location > show Lists the people and their connection to the address via <%#= render @location.years %> -->
<!-- Also being used by allLocations.html.erb ? -->
<!-- works from locations/show but doesn't from docs/show edit so need to make a different on or render -->
<li id="year-<%= year.id %>" class="doc-item-detail"> <!-- id: Read more of Hartl to find out what this is for, but seems to work without. class if for Turbo showing on show/docs page -->

  <!-- A flag if 1890 doesn't match, but misleading for addresses for which it doesn't matter -->
   <span>
    <%# if (year.year_date.to_s < "1890-01-01") && @location.pre1890  ||  (year.year_date.to_s >= "1890-01-01") && @location.pre1890 == false %> <!-- Didn't work numerically -->
      <!-- # --><!-- OK -->
    <%# else %>
      <!-- #<strong>Address may not be for same period as this item!</strong> -->
    <%# end %>
  </span>
  <%#= @doc.source.effective_date === year.year_date %>

<!-- FIXME doesn't work here no @doc -->
  <span class="<%#= (@doc.source.effective_date === year.year_date) ? "year_date" : "year_date text-danger" %>"><strong><%= year.year_date.strftime('%Y') %></strong> <%= year.year_date.strftime(' ' '%b' ' ' '%-d') %>:</span> <!-- The class Highlighting if dates don't match, but not working at the moment -->
  <span class="text-success"><%= year.person.full_name %>.</span>
  <% if year.name_shown? %>
    <span class="text-secondary"> (<%= year.name_shown %>).</span>
  <% end %>
  <span><%= year.title %> at </span>
  <!-- <span class="res"><%= year.resto ? 'Restaurant.': '' %> <%= year.resid ? 'Residence.': '' %></span> -->
  <span class="address"><%= year.resto_name ?  year.resto_name : '' %></span>
  <span><%= year.location.address %>.</span>
  <span class="btn btn-outline-success btn-xs"><%= link_to 'Show', year %></span>
  <span class="btn btn-outline-warning btn-xs"><%= link_to 'Edit', edit_year_path(year) %></span>
</li>
