<!-- years/documents.html.erb -->
<% provide(:title, 'Documents') %>
<h1>Images&mdash;A Collection of the Document Scans and Images</h1>
<p>See also <%= link_to 'Images', images_path %> page (they need to be included on this page) </p>
<p>Most dates are imprecise. No dates are given in the city directory for when the data was taken, so I've arbitrarily assigned 1 Sept of the year before the city directory's date. For example 1 Sept 1895 is from the 1896 city directory.</p>
<p> Click on <strong>Details</strong> for the complete entry. <strong>Rollover</strong> the image for a summary. Click on the image for a larger version.</p>

<div class="container"> <!-- Added class for tooltip, but didn't help. A bootstrap thing -->
  <% @years.each do |year| %>
    <% if year.aws_url? %>
      <div class= "documents">
      <a href="<%= year.aws_url %>">
        <img src="<%= year.aws_url %>" data-toggle="tooltip" data-trigger="focus" data-placement="top"
        title = "On <%= year.year_date.strftime('%b' ' ' '%d' ' ' '%Y') %>, <%= year.person.try(:full_name) %> was a <%= year.title %> at <%= year.location.try(:address) %>, <%= year.location.try(:city) %>" height="300" width="300"></a>
    <div class = "details">  <%= link_to 'Details', year %> </div>
    </div>
    <% end %>
  <% end %>
</div>

<!-- Not working correctly. Can't get background and isn't on top -->
// <script>
  // $(document).ready(function(){
  //     $('[data-toggle="tooltip"]').tooltip();
  // });
// </script>
