<!-- <p id="notice"><%= notice %> </p> -->
<% provide(:title, 'Edit Connection') %>
<h1>Edit Connection: <%= @year.person.full_name %> at <%= @year.location.address %></h1>
<div class="row ml-1"> <!-- ml-1 for small left margin -->
  <!-- <div class="col-md-5"> -->
    <%#= render 'form' %>  <!-- form or form_bootstrap which is/was a work in progress -->
    <!-- !render _form -->
    <%= render partial: 'form', locals: {year: @year} %> <!-- https://guides.rubyonrails.org/layouts_and_rendering.html#passing-local-variables -->
    <%#= render 'form_action_text_test' %> <!-- one action text block without simple_form  -->
  <!-- </div> -->
</div> <!-- end row -->

<div class="row">
  <!-- Second row for images ALL OLD METHOD WITH DOCUMENTS, NOT DOCS -->
  <div class="col-lg-7 media media-right">
      <% if @year.documents.attached? %>
        <p> Showing media already added to this item using `documents` not `docs` as is being done now</p>
        <% @year.documents.each do |document| %>
          <div class="media-space"> <!-- needs to be within the do so each image is covered, although probably neater if .media-space is added to the image -->
                    <% if document.variable? %>
                      <%= link_to image_tag(document.variant(resize: "400x400")), document %> 
                        <!-- Error for png or pdf? -->
                        <!-- <  elsif document.previewable? %>
                        < = link_to image_tag(document.preview(resize: "400x400"), rails_blob_path(document, disposition: :attachment)) %> -->
                    <% elsif document.image? %> <!-- for svg -->
                      <%= link_to image_tag(document.preview(document, width: 400)), document %>
                    <% else %> <!-- for downloading if not readable by the above options -->
                      <%= link_to document.filename, rails_blob_path(document, disposition: :attachment) %>
                    <% end %> <!-- if document.variable -->
                <% end %><!-- @year... do || -->
                <p><b>Caption: <%= @year.caption %></b></p> <!-- only show caption once -->
              <%  else %>
                <p><i>No documents (old way of doing it) uploaded via Active Storage (this part of years>edit is deprecated)</i></p>
              <% end %> <!-- @year.documents.attached? -->
          </div> <!-- media-space -->
        <br>

    <!-- Or maybe an elsif in the above logic to clean up TODO -->
      <% if @year.aws_url? %>
        <p><i> The following may be a duplicate but will hide once all the info has been updated</i></p>
          <a href="<%= @year.aws_url %>">
            <img class="media-object media-right" src="<%= @year.aws_url %>" height="500" width="500"></a>
  </div>  <!-- class="col-lg-7 media media-right -->
        <% end %>
</div> <!-- Second row -->
