<!-- years/index.html.erb -->
<p id="notice"><%= notice %></p>
<% provide(:title, 'Connections') %>
<h1>Connections&mdash;Where a Person Was On a Particular Date (<%= @years.count %>)</h1>

  <div class="col-md-12 h4">Each line is one data point, that is, where a person either lived or worked on a particular date. In other words, some of the raw data. If where a person worked and lived at the same point in time is known it is <%= link_to ' shown here', resto_resid_lines_path %>. The data is scattered enough that this information is not known for very many people.
  </div>

<!-- <%#= render 'newcon' %> Included in Ransack line .At bottom of page now-->

<!-- Ransack and https://github.com/ylankgz/InvoiceApp -->
<div class="container-fluid">
  <div class="col-md-2">
  <div class="btn btn-primary "> 
    <%= link_to 'Add New Connection', new_year_path %> 
  </div></div>

  <!-- Ransack search, see years_controller Only on dates now and is too complicated -->
  <!-- <%= search_form_for @search, url: search_years_path, html: {class: "form-inline col-md-8 col-md-offset-1", method: :post} do |f| %> -->
    <!-- <div class="input-daterange"> --> <!-- not using class. Needed for datepicker -->
      <!-- <div class="col-md-3">
        <%= f.text_field :year_date_gteq, class: "form-control search-field", placeholder: "Date from '1905-08-30'" %>
      </div>  --><!-- gteq is greater than or equal. lteq is less than or equal in ransack -->
      <!-- <div class="col-md-3 col-md-offset-1">
        <%= f.text_field :year_date_lteq, class: "form-control search-field", placeholder: "Date to '1906-08-28'" %>
      </div>
    </div>
    <div class="col-md-2 col-md-offset-1 form-actions">
      <%= f.submit "Search", class: "btn btn-success" %>
    </div>
    <div class="btn btn-primary ">  -->
      <!-- <%= link_to 'Clear search', years_path %>
    </div>
  <% end %>
</div>  --><!-- end ransack search and new -->

<!-- Stimulus search -->
<!-- https://medium.com/swlh/build-a-dynamic-search-with-stimulus-js-and-rails-6-56b537a44579 -->
<div class="container">
  <div class="row justify-content-center" data-controller="search-years">
    <div class="col-xs-12 col-sm-6 border rounded-pill border-3 p-2">
      <!-- <h5>Search... <em>on all but ActiveText!</em></h5> -->
      <!-- Can change the fields in model/year.rb -->
      <%= @years.count %> found. 
      <%= form_with(url: years_path, method: :get, class:"d-lg-inline-flex mt-2 mt-md-0", data: {action: "submit->search#submit"}) do |f| %> <!-- Class is mine, not demo and formats the Search button only -->
        <%#= label_tag(:query, "Search for") %>
        <%= text_field_tag :query, params[:query], data: {target: "search.query"}, class: "form-control mr-sm-2", placeholder: "Connection search:" %>
        <%= submit_tag("Search", class: "btn btn-primary") %>
      <% end %>
      <%= link_to "Show all", years_path, class: "btn btn-outline-warning my-2 my-sm-0" %> <!-- Need to hide this when all are showing TODO -->
    </div>
  </div>
</div>
<br>

<table class="years pretty table table-striped table-hover table-responsive">
  <thead>
      <tr>
        <th><%= sort_link(@search, :id, "ID") %></th>
        <th>Res or Resto</th>
        <th><%= sort_link(@search, :year_date, "Date") %></th> <!-- , default_order: :asc doesn't seem to be needed -->
        <th class="center"><%= sort_link(@search, :person_id, "Person ID") %></th>
        <th class="text-right">Given</th>
        <th><%= sort_link(@search, :person_last_name, [:person_last_name, 'person_given_name asc'] ) %></th>
        <!-- , %i(person_last_name person_first_name),
                  default_order: { person_last_name: 'asc', person_given_name: 'asc' } -->
  <!--Can't combine into full_name_id because then couldn't sort on last_name -->
        <th>Title</th>
        <!-- <th class="center">< = sort_link @search, : "location_id",   "Address ID" %></th> Leaving this in case need to see it temporarily-->
        <th><%= sort_link @search, :location_address, "Address" %></th>
        <th>Doc ID [Need doc title like show  FIXME]</th>
        <!-- <th>Image</th> -->
        <th>Notes</th>
        <!-- <th>< = sort_link @search, : "year.updated_at", "Updated UTC" %></th> Leaving this in case need to see it temporarily- -->
        <% if logged_in? %>
          <th colspan="4"></th>
        <% else %>
          <th>Details</th>
        <% end %>
      </tr>
  </thead>

  <tbody class="locations">
    <% @years.each do |year| %>
       <tr class= <%= year.resid ? "resid" : "resto" %>>
          <td><%= year.id %></td>
          <td class="center"><%= year.resto ? 'Restaurant' : '' %> <%= year.resid ? 'Residence' : '' %><i> <%= year.resto_name ? year.resto_name : '' %></i></td>
          <td><%= year.year_date %></td>
          <td class="center link-blue"><%= link_to(year.person) do %><%= year.person_id %><% end %></td>
          <td class="text-right link-blue"><%= year.person.try(:given_name) %></td>
          <!-- Link doesn't work if wrap all three person related fields (id, first, last) Can't even wrap one field if put td's inside the do-->
          <!--Can't combine into full_name_id because then couldn't sort on last_name -->
          <td class="link-blue"> <%= link_to(year.person) do %> <%= year.person.try(:last_name) %><% end %></td>
          <td><%= year.title %></td>
          <!-- <td class="center">< = year.location_id %></td> -->
          <td class="link-blue"><%= link_to(year.location) do %> <%= year.location.try(:address) %> <% end %></td> <!-- < = year.location.try(:city)=="Los Angeles" ? '' : year.location.try(:city) %> -->
          <td><%= year.doc_id %></td>
          <!-- <td> -->
            <!-- <div class="media media-right">
              <a href="<%#= year.aws_url %>">
                <img class="media-object" src="<%#= year.aws_url %>" height="50" width="50">
              </a> -->
              <!--TODO How to get active_storage image here, below is from show, but document isn't necessarily meaningful -->
              <!-- < = link_to image_tag(year.document.variant(resize: "50x50")), document %> -->
            <!-- </div> -->
          <!-- </td> -->
          <td><%= year.content %><%= year.notes %></td>
          <!-- <td>< = year.updated_at.strftime('%d' ' ' '%b' ' ' '%Y'', ' '%H'':''%H') %></td>  -->

          <!-- But this creates many #index and only one per page is allowed -->
          <td><%= link_to 'Show details', year %></td>

          <% if logged_in? %>
             <td><%= link_to 'Edit', edit_year_path(year) %></td>
             <td><%= link_to 'Destroy', year, method: :delete, data: { confirm: 'Are you sure you want to delete year.id FIXME' } %></td>
          <% end %>
       </tr>
    <% end %>
  </tbody>
</table>
<br/> <!-- !render bookmark -->
<%= render 'newcon' %>
