<!--years line.html.erb -->
<p id="notice"><%= notice %></p>
<% provide(:title, 'connections—Work and Residence') %>
<h1>Connections&mdash;Work and Residence in Same Period for a Person/h1>
<div class="row"></div>
<div class="row summary">
  <div class="col-md-12 h5">Dates :Sep 01 xxxx is an estimated date for the effective date in a City Directory dated the following year, e.g., Sep 01 1886 is from the 1887 directory. Names and addresses can be clicked for more information on the item.</div>
</div>

<% @years_select.each do |year| %> <!-- Not in scope of years completely Doesn't work the same as index-->

	<div class= "">
  <div class="row summary">
    <div class="col-md-4">  On <%= year.resto_date.strftime('%b' ' ' '%e' ', ' '%Y') %>, <%= link_to(year.person) do %> <strong><%= year.person_id.try(:full_name) %></strong> <% end %> was a  <strong><%= year.title_resid %> </strong> at</div>
    <div class="col-md-4"> <strong> <%= link_to(year.location) do %> <%= year.location.try(:address) %><% end %>, <%= year.location.try(:city) %> </strong> and was a <%= yyear.title_resid %> </strong>  at</div>
    <div class="col-md-3"> <strong> <%= year.location_id %> on <%= year.resid_date.strftime('%b' ' ' '%e' ', ' '%Y') %> </strong> </div>
	  <div class="col-md-1"> <%= link_to 'Details', year %> </div>
  </div></div>

<% end %>

<br/> <!-- !render bookmark -->
    <%= render 'newcon' %>
<p>Dates: Sep 01 xxxx are an estimated date for the data in a City Directory dated the following year.</p>
