<!-- Note going with v1.0.0 since may want new features if any and it rc.1 which should be close to final
<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.1/dist/leaflet.css" />
<script src="https://npmcdn.com/leaflet@1.0.0-rc.1/dist/leaflet.js"></script>
 Was version 0.7, but went with latest of the 1.0.0-rc.1 version, but then thought ought to be consistent, but when I made this change I think I quit using this page -->
<!-- Below should be covered by gem and app>assets -->
    <!-- <%= stylesheet_link_tag    "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js" %> -->

PUT IN A CALL to mapone method—maybe create a map controller/model as did Clark. Separate from years

2016-09-26 Not working, but maybe because I took out some of the Leaflet and Angular. Who knows? But I'm now working on views/map/index

<div class="row">
<!-- map -->
<!-- Started with this file from locations -->
<div id="map">
  <script>
	  var osmLink  = '<a href="http://openstreetmap.org">OpenStreetMap</a>',
	      esriLink = '<a href="http://www.esri.com/">Esri</a>';

	  var osmUrl    = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
	      osmAttrib = '&copy; ' + osmLink + ' Contributors',

	      esriUrl   = 'http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServe\
	  r/tile/{z}/{y}/{x}',
	      esriAttrib = 'i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP,\
	   and the GIS User Community & '+ esriLink;

	  var osmMap  = L.tileLayer(osmUrl, {attribution: osmAttrib}),
	      esriMap = L.tileLayer(esriUrl, {attribution: esriAttrib});

	  var map = L.map('map', {
	  	    layers: [osmMap] // only add one!
	      })
					.setView([34.05118, -118.2469], 13);

	  var baseLayers = {
	    "OSM Street": osmMap,
	    "Satellite": esriMap
	  };
	  var marker = L.marker([34.0511, -118.2469).addTo(map)
		;;

	  L.control.layers(baseLayers).addTo(map);
  </script>
</div>	
	
</div> <!-- end row -->
