<p id="notice"><%= notice %> </p>
<% provide(:title, 'New Connection') %>
<h1>New Connection: Date, Person, Address</h1>
<div class="row col-md-7 col-md-offset-3">
  <!-- !render bookmark -->
  <%= render partial: 'form', locals: {year: @year} %> <!-- @year doesn't exist for new https://guides.rubyonrails.org/layouts_and_rendering.html#passing-local-variables -->
</div>
