<header>
  <h1 class="h2">Connection Search</h1>
</header>
<section class="search-form">
  <%= form_for :years, method: :get do |f| %>
    <div class="input-group input-group-lg">
      <%= label_tag :keywords, nil, class: "sr-only" %>
      <%= text_field_tag :keywords, @keywords,
            placeholder: "Not really working. Can search in notes and sources. Most other things can't be found yet!",
            class: "form-control input-lg" %>
      <span class="input-group-btn">
        <%= submit_tag "Find Years",
              class: "btn btn-primary btn-lg" %>
      </span>
    </div>
  <% end %>
</section>
<section class="search-results">
  <header>
    <h1 class="h3">Results</h1>
  </header>
  <!-- !render bookmark -->
    <%= render partial: "pager", locals: { keywords: @keywords, page: @page } %>

  <ol class="list-group">
    <!-- ... -->
    <% @years.each do |year| %>
      <li class="list-group-item clearfix link-blue">
				<h4>On <%= year.year_date.strftime('%b' ' ' '%d' ', ' '%Y') %>,
				<%= link_to(year.person) do %> <strong><%= year.person.try(:full_name) %></strong><% end %>
				was a  <strong><%= year.title %> </strong> at<strong> <%= link_to(year.location) do %>
				<%= year.location.try(:address) %><% end %>,
				<%= year.location.try(:city) %> </strong>
				which was a<strong> <%= year.resto ? 'restaurant' : '' %> <%= year.resto_name? ? " named \"#{year.resto_name}\" " : '' %>
				<%= year.resid ? 'residence' : '' %> </strong> </h4>
				<h5>Notes: <%= year.notes %>. Source: <%= year.source %></h5>
				<h4  class="pull-right"> <%= link_to 'Details', year %> </h4>
      </li>
    <% end %>
  </ol>
  <!-- !render bookmark -->
    <%= render partial: "pager", locals: { keywords: @keywords, page: @page } %>
</section>
