<!-- Years/Connections > Show -->
<!-- Added try() to all the person and location because the tests fail, am I avoiding some problem? Probably a better way to fix it, since full_name should always be available. -->
<!-- <p id="notice"><%= notice %> </p> Causing notice to show twice. But may need to add back for Heroku -->
<!-- Defining variables for later use -->
<% if @year.snippet_coords %>
  <% image_url = rails_blob_url(@year.doc.image) %>
  <% image_width = @year.doc.image.metadata['width'] %>
  <% image_height = @year.doc.image.metadata['height'] %>
  <!-- <div>Image width (debugging): <%= image_width %> and height: <%= image_height %></div> -->
<% end %>

<% year_title = @year.year_date.strftime("%Y") %>
<% page_title = "#{year_title} #{@year.person.try(:last_first)}" %>
<% provide(:title, page_title) %>

<!-- This is the centered page heading -->
<div class="display-4">
  <%= link_to(@year.person) do %>
    <%= @year.person.try(:full_name)%>
  <% end %>
  <%= render 'age', year: @year %>
  <%= @year.resto ? '' : '' %><%= @year.resid ? '\'s' : '' %>
  <%= @year.resto ? ' Working at a Restaurant' : '' %><%= @year.resid ? 'Residence' : '' %>
</div>

<div class="row"> <!-- This row is most of the page and is for the two columns -->
  <div class="col-lg-5">
    <% if @year.resto_event == false  %>
      <p class="notice">
        <strong>This listing something not restauranteur related</strong>
      </p>
    <% end %>

    <% if @year.person.croatian == false  %>
      <p class="notice">
        <strong>This person is not Croatian, but important to the project</strong>
      </p>
    <% end %>

    <% if @year.doc!=nil && @year.doc.source.effective_date? %>
      <% if @year.doc.source.effective_date != @year.year_date && logged_in? %>
        <p class="notice">Doc date and date below are different. Doc date is <%= @year.doc.source.effective_date %></p>
      <% end %>
    <% end %>

    <p>
      <strong>Date:</strong>
      <%= @year.year_date.strftime("%Y %b %-d") %>
    </p>

    <!-- Check for resto or resid being set. For development-->
    <% if @year.resid == nil && @year.resto == nil %>
      <p class="alert alert-danger"> Neither "resto" nor "resid" is set. Edit and save again! (bug to be fixed)</p>
    <% end %>

    <div class="col">
      <strong>Name on Reference Document: <%= @year.name_shown %></strong> is a <strong><%= @year.title %></strong> at
    </div>

    <!-- A bit odd to have a break in what is otherwise a sentence, but I wanted to keep the person and location separated, although the title is in the middle of it all. Maybe put it all on one line at some point. -->
    <p class="col">
      <% if @year.resto_name != "" %>
        <% resto_name_or = "which is a restaurant named \"#{@year.resto_name}\"" %>
      <% else %>
        <% resto_name_or = "" %>  <!-- Took out "at a restaurant with an unknown name" -->
      <% end %>
       <strong> <%= @year.location.try(:address) %>, <%= @year.location.try(:city) %> <%= @year.resto ? "  #{resto_name_or}. " : '' %> <%= @year.resid ? '(Residence)' : '' %></strong> <!-- Is the latter logic phrase needed at all? FIXME -->
    </p>

    <!-- The following three could be updated to get the information from doc if so desired -->
    <% if @year.from_where? %>
      <p>
        <strong>Where I got the document(s):</strong>
        <%= @year.from_where %>
      </p>
    <% end %>
    <!-- Usually don't have this, so don't show a blank. Could do the ones above too -->
    <% if @year.from_where_url? %>
      <p>
        <strong>Original Document URL:</strong>
        <%= @year.from_where_url.truncate(70) %>
      </p>
    <% end %>

    <h4><strong>Notes:</strong></h4>
    <div class="ms-3"> <!-- Crude way to indent a bit -->
        <h5><strong>Connection:</strong></h5>
        <div class="offset-md-1"> <!-- small left margin for indent Was ml-md-3 but offset seems to do it -->
          <%= @year.content %> <!-- Action Text notes for years -->
          <div class="ml-md-3 pt-2">
            <% if @year.doc %> <!-- Error for edit if not doc -->
              From <%= @year.doc.year_name_page %>
            <% end %>
            <%= link_to(@year.doc) do %> <!-- To the document-->
              <!-- Snippet if exists. Maybe move this out from the above link and make a click just pop the document up on the right -->
             <%#= render 'snippet_display' %> <!-- errors -->
             <% if @year.snippet_coords? %>
               <% snippetCoords = JSON.parse(@year.snippet_coords) %>
               <!-- <% snippet_width =  snippetCoords[0][2][0].to_i - snippetCoords[0][0][0].to_i %>
               <% snippet_height = snippetCoords[0][2][1].to_i - snippetCoords[0][0][1].to_i %> -->
               <% centerX = (snippetCoords[0][2][0].to_i + snippetCoords[0][0][0].to_i) /2 %>
               <% centerY = (snippetCoords[0][2][1].to_i + snippetCoords[0][0][1].to_i) /2 %>
               <% center = [centerX, centerY] %>
               <div><span id="zoomlevelsnippet"></span></div>
               <%= javascript_pack_tag 'ol_snippet_display' %> <!-- , 'data-turbolinks-track': 'reload' didn't help pass variables  Was a SWAG -->
              <!-- <div id="debug">
                <h3>Debugging info. Echoing what should be passed to ol_snippet_display. Only shows if snippet exists, of course</h3>
                <p>rails_blob_url(@year.doc.image): <%= rails_blob_url(@year.doc.image) %></p>
                <p>data-width= <%= @year.doc.image.metadata['width'] %> </p>
                <hr>
              </div> -->
              <!--snippet will be displayed in the snippet div below. class="mt-1 or 2" puts a little space between the image and the text-->
              <% docUrl = rails_blob_url(@year.doc.image) %>
              <div id="snippet"
                class="mt-1"
                style="width: <%= snippet_width %>px; height: <%= snippet_height %>px"
                data-url="<%= docUrl %>"
                data-width="<%= @year.doc.image.metadata['width'] %>"
                data-height="<%= @year.doc.image.metadata['height'] %>"
                data-snippet="<%= @year.snippet_coords %>"
                data-center="<%= center %>">
              </div> <!-- end snippet div, easier to read with returns. url, width, height are about doc. snippet and center are about snippet -->
                <!-- <p>End of if @year.snippet_extent? For debugging</p> -->
               <%# if logged_in? %>
                 <!-- <p><span><strong>Existing snippet extent</strong> <%#= snippet_extent %> [minX, minY, maxX, maxY]</span></p> -->
               <%# end %>
            <% else %>
               <p>No snippet drawn since no `snippet_coords`: <%= @year.snippet_coords %></p>
               <!-- But show full document on right if no snippet -->
             <% end %> <!-- end of if snippet_coords  -->
              <!-- Display doc.id for newer entries -->
             <% if @year.doc %> <!-- Errors on @year.doc.id not existing which is the case for some older entries -->
               <em>Click for complete document. (ID: <%= @year.doc.id %>)</em>
             <% else %>
                 No `doc` but probably older entry `documents`
             <% end %> <!-- if @year.doc -->
           <% end %> <!-- end of link to -->
        </div>
      </div> <!-- Connection -->
      <hr>
       <% if @year.notes? %>
         <p>
           <em> <strong>Connection</strong> (deprecated, transfer to above)</em>
           <%= @year.notes %>
         </p>
      <% end %>
      <%= link_to(@year.person) do %>
        <strong>Person (ID: <%= @year.person_id %>):</strong>
      <% end %>
      <div class="ml-md-3">
        <%= @year.person.try(:content) %>
      </div>

      <% if @year.notes? %> <!-- @year.notes.length > 1 fails if what? because sometime works -->
        <p>
          <em>Person (deprecated):</em>
        </p>
      <% end %>
      <hr>

      <h5>
        <%= link_to(@year.location) do %>
          <strong>Address (ID: <%= @year.location.try(:id) %>):</strong>
        <% end %>
      </h5>
      <div class="ml-md-3">
        <%= @year.location.try(:content) %>
      </div>
      <%# if @year.location.try(:notes)? %>
      <% if @year.location.notes? %>
        <p>
          <em>Address (deprecated):</em>
          <%= @year.location.notes %>
        </p>
      <% end %>

    </div> <!-- end of col for indent -->
    <hr>
    <% if @year.doc.try(:notes) %>
      <p>
        <em>Docs Deprecated:</em>
        <%= @year.doc.try(:notes) %>
        <hr>
      </p>
    <% end %>
    <p>
      <!-- Updated: <%#= @year.updated_at.strftime('%d' ' ' '%b' ' ' '%Y'', ' '%H'':''%H ''%Z') %> --> <!-- Maybe I had this precision for a reason -->
      <strong>Updated</strong> <%= time_ago_in_words(@year.updated_at) %> ago.  <strong>Created</strong> <%= time_ago_in_words(@year.created_at) %> ago.
    </p>

    <div>
      <% if logged_in? %>
        <%= link_to "Duplicate", new_year_path(base_id: @year&.id), class: "btn btn-secondary" %>
        <%= link_to 'Edit', edit_year_path(@year), class: "btn btn-primary" %>
      <% end %>
    </div>

    <!--  all of this to get a space between the table and the above ? -->
    <div class="row"><div class="col-md-12"><hr></div></div>
    <!-- <div class="row"><div class="col-md-12"><hr></div></div> -->

    <div>
      <% if logged_in? %>
        <%= link_to 'Previous item', @year.previous, class: "btn btn-outline-info" %> &nbsp;  &#60; &nbsp;
      <% end %>
      <%= link_to 'Back to Connections List', years_path, class: "btn btn-primary" %>
      <% if logged_in? %>
         &nbsp;  &#62; &nbsp; <%= link_to 'Next item', @year.next, class: "btn btn-outline-info" %>
      <% end %>
    </div>
  </div> <!-- class="col-lg-5". The first column -->


  <!-- Second column for images. Size is set by first column-->
  <div class="col">  <!-- media media-right caused the paragraphs not to work-->
    <!-- Add multiple documents TODO -->
     <% if @year.doc_id? %> <!-- i.e. current storage -->
     <% doc_image_width= @year.doc.image.metadata['width'] %>
     <% doc_image_height=@year.doc.image.metadata['height'] %>
     <!-- <p><strong>Doc width x height:</strong> <%= image_width %> x <%= image_height %> px.</p>  <span id="snippetExtent"><strong>Existing snippet extent</strong> <%#= snippet_extent %> [minX, minY, maxX, maxY]</span>   -->       
       
      <% if @year.doc.image.metadata['width'] %>
        <!-- For some reason the data is not always created FIXME-->
       <!-- <div>Image width: <%= doc_image_width %> and height: <%= doc_image_height %> for @year.doc.image: <%= @year.doc.image.metadata %></div> -->
      <% else %>
        <p id="error_explanation"><strong>doc.image.metadata not created when year new is saved. Sometimes editing the DOC being referred to and save will create the metadata, but not happening now.</strong></p>
      <% end %>

      <% if !@year.snippet_coords? %>
        <div>
          <strong>Supporting Doc(s)</strong>:
            <!-- The following 8 lines are to display the full doc which isn't really needed with the snippet -->
            <%= link_to(@year.doc) do %>  <!-- To the document-->
              <%= @year.doc.try(:year_name_page)%>. <strong>Doc ID:</strong> <%= @year.doc_id %>
               <em> Click for supporting information on the document.</em><br>
               <% if @year.doc.source.effective_date? %> <!-- Draft registrations, manifests are defined at source -->
                 <strong>Document date:</strong>
                 <%= @year.doc.source.effective_date.strftime("%Y %b %-d") %>  <!-- '%e' ' ' '%b' ' ' '%Y' -->
               <% end %>
              <div class="media"><%= link_to image_tag(@year.doc.image), @year.doc, class: "media-space" %></div>
            <% end %> <!-- link_to -->
         </div>
      <% end %> <!-- if snippet coords don't display full doc -->
        
          <!-- <p><strong>Snippet extent</strong> <%#= @year.snippet_extent %> </p> --> <!-- [minX, minY, maxX, maxY] -->
          <%# if @year.snippet_extent? %>
           <!-- Moved to left column, leaving this space for now, but can change -->
          <%# else %> <!-- Snippet doesn't exist, show draw -->
            <%#= javascript_pack_tag 'ol_snippet_draw' %> <!-- Drawing in edit -->
          <% if @year.doc %> <!-- Needed because this is evaluated even if commented out -->
            <!-- For drawing using id="map"-->
            <div><span id="26"></span></div> <!-- What is this for? -->
            <div id="map" class="" style="width: <%= @year.doc.image.metadata['width'] %>px; height: <%= @year.doc.image.metadata['height'] %>px" data-url="<%= rails_blob_url(@year.doc.image) %>" data-width="<%= @year.doc.image.metadata['width'] %>" data-height="<%= @year.doc.image.metadata['height'] %>"></div>

            <!--Taking another tack -->
            <!-- <button type="button" class="btn btn-primary btn-lg active"><%#= "Add Snippet to database"%></button> -->
          <% end %>
          <%# end %>  <!-- if snippet_extent  -->

          <!-- FIXME FIXME FIXME Temporarily off Now on, but changed to using html rather than rails helper-->
          <%#= image_tag(@year.doc.image, id: "map", width:snippet_width, height:snippet_height,
             data: { url:image_url, width:image_width, height:image_height, snippet:snippet_extent }) %> <!-- Basics of formatting from 8 yr old post. should make a css class This works too :size => "400x400", -->
          
             <!-- <img id="img-draw" class="" data-src="<%= @year.doc.image %>"> -->
            <!-- <img id="map" class=""  data-url="<%= rails_blob_url(@year.doc.image) %>" data-width="<%= @year.doc.image.metadata['width'] %>" data-height="<%= @year.doc.image.metadata['height'] %>">  --><!-- This is not showing up here -->
          <%#= javascript_pack_tag 'box_draw_get_coords' %> <!-- Testing on this page. I think I abandoned this one -->
          <!-- <div id="map" style="width: <%= @year.doc.image.metadata['width'] %>px; height: <%= @year.doc.image.metadata['height'] %>px" data-url="<%= rails_blob_url(@year.doc.image) %>" data-width="<%= @year.doc.image.metadata['width'] %>" data-height="<%= @year.doc.image.metadata['height'] %>"></div> -->
          <%#else %>
          <!-- Testing on this page and is OpenLayers -->
               <!-- <p>The image isn't uploading, use another image. This is a crude fix. The new page needed to be fixed to prevent this. FIXME</p> -->
          <%#end %>
         
        <%# end %>
      </p>


    <% else  %>
      <p>No images via `docs`, so they need to be added. </p>
    <% end %> <!-- if @year.doc_id? -->
    <hr/>
    <!-- Why aren't these item stacking instead of side by side -->
    <!-- <p class="">Supporting documents. <em>Click for larger image and  more information on the document(s). The following previous method of storing documents is deprecated, but remains until all the docs are moved into the current storage location.</em></p> -->

    <!-- Below is all original loading individual documents pre Apr 2020 -->

    <div class="line 173"> <!-- maybe can go away once remove aws_url stuff -->
      <% if @year.documents.attached? %>
        <p>The following documents are from one of the deprecated images display methods<br><em> and then need to be added via `docs` and then deleted below to save AWS space</em></p>
        <p class="line 176"> <!-- Is this p taken care of by the div now? TODO -->
        <!-- Options from https://gorails.com/episodes/file-uploading-with-activestorage-rails-5-2 -->
        <% @year.documents.each do |document| %>
          <!-- https://gorails.com/forum/how-do-i-create-a-delete-button-for-images-uploaded-with-active-storage -->
          <% if document.variable? %>  <!-- First choice -->
            <%= link_to image_tag(document.variant(resize: "400x400")), document, class: "media-space" %>
            <br>
            <%= link_to 'Delete this document', delete_image_attachment_year_url(document.id),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
                        <p>This is if document.variable? [l239]</p>
          <br>
          <% elsif document.image? %> <!-- for svg -->
            <%= link_to 'Remove', delete_image_attachment_year_url(document.id),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
                        <p>This is if document.image? line 171</p>
            <%= link_to image_tag(document.preview(document, width: 400)), document, class: "media-space"  %>
          <br>
          <% else %> <!-- for downloading if not readable by the above options -->
            <p>This is if document.variable and .image false</p>
            <%= link_to document.filename, rails_blob_path(document, disposition: :attachment), class: "media-space"  %>
          <% end %> <!-- if document.variable -->
        <% end %><!-- @year... do || -->
        <p><b>Caption: <%= @year.caption %></b></p> <!-- only show caption once -->
      </p> <!-- started at line 176 -->
      <br>
      <% else %>
        <!-- <p><i>No images loaded via deprecated documents.</i></p> This was here as a check-->
      <% end %>
    </div>  <!-- extra div (line 173) below  col-lg-7 media media-right-->

    <br>

    <!-- Or maybe an elsif in the above logic to clean up TODO -->
    <% if @year.aws_url? %>
      <p>
        <strong>Source at AWS [@year.aws_url]:</strong>
        <%= @year.aws_url.truncate(50) %> This is deprecated, but stays until those docs are deleted
      </p>
      <p>@year.aws_url: <% @year.aws_url %>. Shouldn't be empty because test for existence. @year.aws_url?: <% @year.aws_url? %>. [line 191] <br>Even though both are blank in some cases, this and the following still show TODO </p>
        <a href="<%= @year.aws_url %>">
          <img class="media-object media-right" src="<%= @year.aws_url %>" height="500" width="500"></a>
          <%#= link_to 'Delete this image', delete_image_attachment_year_url(year.aws_url),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
      <p><i> The above may be a duplicate but will deleted once new doc has been added and all the info has been updated</i>This is @year.aws_url [line 195] How to delete these</p>
    <% end %>

  </div>  <!-- class="col" The right hand column for the images -->
</div> <!-- end row which has the two main columns-->
