<!--years summary.html.erb -->
<p id="notice"><%= notice %></p>
<% provide(:title, 'Summary') %>
<h1>Summary of Dates, People and Places (<%= @years.count %>)</h1>
<div class="row">
  <div class="col-md-12 h4">A more detailed list is <%= link_to ' available here', years_path %> or click on each item for more details of that item. This is a list of every person to place connection for both restaurants and residences. This is much of the data I have up to 1899. Data beyond then will be added.</div>
</div>
<div class="row">
  <div class="col-md-12 h4">A list of people with their work (restaurant) and home address at a point in time is <%= link_to ' shown here', resto_resid_lines_path %>. In other words this is useful for finding people who knew each other.</div>
</div>
<div class="row summary">
  <div class="col-md-12 h5">Dates Sep-01-xxxx are an estimated date for the effective date in a City Directory dated the following year, e.g., Sep 01 1886 is from the 1887 directory. Names and addresses can be clicked for more information on the item.</div>
</div>
<!-- Maybe try Bootstrap Grids to control widths better -->
<% @years.each do |year| %>


	<div class= <%= year.resto ? "resto" : "resid" %>>
  <div class="row summary">
    <div class="col-md-4">  On <%= year.year_date.strftime('%b' ' ' '%d' ' ' '%Y') %>, <%= link_to(year.person) do %> <strong><%= year.person.try(:full_name) %></strong> <% end %> was a  <strong><%= year.title %> </strong> at</div>
    <div class="col-md-4"> <strong> <%= link_to(year.location) do %> <%= year.location.try(:address) %><% end %>, <%= year.location.try(:city) %> </strong> which was a</div>
    <div class="col-md-3"> <strong> <%= year.resto ? 'restaurant' : '' %> <%= year.resto_name? ? " named \"#{year.resto_name}\" " : '' %> <%= year.resid ? 'residence' : '' %> </strong> </div>
	  <div class="col-md-1"> <%= link_to 'Details', year %> </div>
  </div></div>
<% end %>

<br/> <!-- !render bookmark -->
    <%= render 'newcon' %>
<p>Dates Sep-01-xxxx are an estimated date for the data in a City Directory dated the following year.</p>