<% provide(:title, "Open Layers Map (beta)") %>
<p>Map using OpenLayers</p>

<div id="map" class="map"></div>
<!-- <%#= javascript_pack_tag 'olPersonMap' %> -->  <!-- Note that zoomDemo.js is in javascript/packs not javascript/src-->
  
  
 
<%= javascript_pack_tag 'geoJsonFeatures' %>  <!-- Note that geoJsonFeatures.js is in javascript/packs not javascript/src This is a demo of geoJson from OL demos. Nothing crores specific-->
<!-- < = javascript_pack_tag 'geojsonFromFile' %> --> <!-- This overlays all years connection data without a slider -->
<!-- < = javascript_pack_tag 'zoomDemo' %>  -->  <!-- Note that zoomDemo.js is in javascript/packs not javascript/src -->


<!-- layerSwitcher is a separate html.erb -->
