<% provide(:title, "GeoJSON from file") %>
<p>Uses map/line_data.geojson. Basic demo page</p>

<div id="map" class="map"></div>
<!-- <%#= javascript_pack_tag 'olPeopleMap' %> -->  <!-- Note that zoomDemo.js is in javascript/packs not javascript/src-->
  
  
 
<%= javascript_pack_tag 'geojsonFromFile' %>  <!-- Note that geoJsonFeatures.js is in javascript/packs not javascript/src This is a demo of geoJson from OL demos. Nothing crores specific-->
<!-- < = javascript_pack_tag 'geojsonFromFile' %> --> <!-- This overlays all years connection data without a slider -->
<!-- < = javascript_pack_tag 'zoomDemo' %>  -->  <!-- Note that zoomDemo.js is in javascript/packs not javascript/src -->


<!-- layerSwitcher is a separate html.erb -->
