<!-- map/index.html.erb and is put in layouts/map.html.erb -->
<p id="notice"><%= notice %></p>
<% provide(:title, 'Map') %>
<h4>This is map/index.html.erb and is put in layouts/map.html.erb.</h4>
<p>Can <strong>click on the lines</strong> to see what the <strong>connection</strong> is, that is, the line shows where a person lived and worked. You may have to zoom the map to get the right popup. Sometimes the popup for a (not so nearby) point and not the line comes up. <em>Can be difficult to tell whether the popup is about a person (work and residence) and just one of those.</em></p>

<!-- Stimulus demo below This and having a webpack/controller/xx.js to do its thing, no pack_tag? -->
<!-- <div data-controller="hello">
  <em><p data-hello-target="output"></p></em>
</div> -->

<div id="map" class="map clearfix"></div> <!-- class="map clearfix" because works in ol_layer_switcher -->
<%= javascript_pack_tag 'mapTwo' %> <!-- Leaflet and it works -->

<%#= javascript_pack_tag 'olMap' %> <!--To get this map, http://localhost:3000/olMap which loads map/indexOlMap.html.erb Loads all the lines. ol Haven't got timeline scrolling going yet, but lines show-->

