<!-- map/index.html.erb and is put in layouts/map.html.erb -->
<p id="notice"><%= notice %></p>
<% provide(:title, 'Map') %>
<h4>This is map/index.html.erb and is put in layouts/map.html.erb.</h4>
<p>Can <strong>click on the lines</strong> to see what the <strong>connection</strong> is, that is, the line shows where a person lived and worked. You may have to zoom the map to get the right popup. Sometimes the popup for a (not so nearby) point and not the line comes up. <em>Can be difficult to tell whether the popup is about a person (work and residence) and just one of those.</em></p>
  <div id="map_two" class="map clearfix"></div>  <!-- class="map clearfix" because works in ol_layer_switcher -->
  
<!-- Old way And moved it here to see why page doesn't load. No calls or includes to Webpack javascript except for Leaflet. But check if leaflet is CDN on maps.html.erb -->
  <script>
    function makeMapTwo() {

    console.log('Hello from makeMapTwo in map/index.html.erb')
    // mapVar is local to this script. map_two is the div on the calling page
    // $(document).ready(function() { // makes no difference at the moment.
        var mapVar = L.map("map_two", { center: [34.040951, -118.258579], zoom: 13 });
console.log('17. CONSOLE LOG: mapVar ', mapVar)
        L.tileLayer('https://crores.s3.amazonaws.com/tiles/bkm/{z}/{x}/{y}.png').addTo(mapVar);

        $.getJSON("map/line_data.geojson", function (data_data) { // map/ removed as it again is mislinked. As it should be
          // $.getJSON("people/show_locations.geojson", function (data_data) { // for demoing show_locations.json.erb. Note below data_data is a placeholder. Trying to get person_id = show_locations
          // $.getJSON("people/locations/locations_data.geojson", function (data_data) { // temp try here

          var timelineData = L.timeline(data_data, {
            style: function(data_data){
              return {
                stroke: true,
                fillOpacity: 0.5
              }
              }, // end style: function(data_data)
            waitToUpdateMap: true,
            onEachFeature: function(data_data, layer) {
              layer.bindTooltip(data_data.properties.popup, { direction: 'top' } );
        console.log('34. CONSOLE LOG: data_data ', data_data)
              
            } // onEachFeature:
          }); // end let timelineData = L.timeline

          var timelineControl = L.timelineSliderControl({
            enableKeyboardControls: true,
            steps: 100,
            start: 1885,
            end: 1928,
          });
          console.log("45. CONSOLE LOG. timelineData: ", timelineData);
          timelineData.addTo(mapVar);  // without this the line don't show
          // what are the line above and below doing?
          timelineControl.addTo(mapVar);
          timelineControl.addTimelines(timelineData);
          console.log("50. CONSOLE LOG. timelineControl: ", timelineControl);
          }); //  end $.getJSON
        }; // end function makeMapTwo()
        console.log("53. CONSOLE LOG. document (i.e. the web page): ", document); // most everything is out of scope
    $(document).ready(function() {
      console.log("55. CONSOLE LOG. document: ", document);      
      makeMapTwo();
    });
  </script>
