  <!-- get 'layerswitcher' => 'map#ol_layer_switcher'
       get 'olls'          => 'map#ol_layer_switcher' -->


<% provide(:title, "Open Layers Map Development") %>
<p>Map using OpenLayers and LayerSwitcher from https://github.com/walkermatt/ol-layerswitcher/tree/master/examples</p>

<div id="map" class="map clearfix"></div>
<%= javascript_pack_tag 'layerSwitcherDemo' %>