<!-- map/olMap.html.erb and is for development so don't have to change index.html.erb -->
<p id="notice"><%= notice %></p>
<% provide(:title, 'Map') %>
<h4>This is map/olMap.html.erb</h4>
<h6>and IS put in layouts/map.html.erb via map_controller, and can't stop it YET!</h6>
<p>Can <strong>click on the lines</strong> to see what the <strong>connection</strong> is, that is, the line shows where a person lived and worked. You may have to zoom the map to get the right popup. Sometimes the popup for a (not so nearby) point and not the line comes up. <em>Can be difficult to tell whether the popup is about a person (work and residence) and just one of those.</em></p>

<div id="map" class="map_three clearfix"></div>  <!-- class="map clearfix" because works in ol_layer_switcher -->

<%= javascript_pack_tag 'olMap' %>
 