<hr>
<!-- <p><em>Linked to @location.doc_id: <%#= @location.doc_id %> but doc doesn't exist or doesn't have an image. Debugging</em></p> -->

<p>
 <%= link_to(@location.doc) do %>
    <strong>Supporting Document(s):</strong> (ID: 
    <%= @location.doc.try(:location_name_page)%> <%= @location.doc_id %>)
 <% end %>
 <%= @location.doc.try(:content) %>
</p>
<%#= javascript_pack_tag 'ol_snippet_draw' %> <!-- FIXME Trial for getting coordinates of snippet on doc. Was: box_draw_get_coords  -->
<% if @location.doc_id? && @location.doc != nil %>
      <!-- <p> @location.doc: <%= @location.doc %> </p> -->
      <%= image_tag @location.doc.image, id: "img-draw" , class: "img-fluid w-50", alt: "Responsive image" %> <!-- w-100 is full width. Just making it smaller -->
<% else %>
  <% if logged_in? %>
     <p>FIXME. The sourcing information below should be updated to link to docs</p>
  <% end %>
  <p>
    <strong>File basename on computer:</strong>
    <%= @location.file_basename %>
  </p>
<% end %>

<!-- FIXME: IF NOT WORKING -->
<!-- <%# if @location.doc || if @location.documents.attached? %> -->
    <p>
      <em>Docs Deprecated:</em>
      <%= @location.doc.try(:notes) %>
    </p>
<!-- <%# if logged_in? %>--> 

   <p>FIXME. Need to bring in the doc images via docs and sources</p>
   <p><strong>@location.doc.page_no:</strong> <%#= @location.doc.page_no %></p> 

   <p><strong>@location.docs:</strong> <%#= @location.docs %></p> <!-- #<Doc::ActiveRecord_Associations_CollectionProxy:0x00007f8f02c05da8> -->
 <%# @location.docs.each do |doc| %>
     <%#= image_tag doc %>
    <p><strong>doc:</strong> <%#= doc %></p>
   <%# end %>
<!-- <%# end %> -->
   <% if logged_in? %>
      <p><em>The following are images shown via <strong>documents</strong> which is being deprecated. Need to update to <strong>docs</strong></em></p>
   <% end %>
        <% if @location.documents.attached? %>
          <% @location.documents.each do |document| %>
<div class="media-space">
            <% if document.variable? %>
              <%= link_to image_tag(document.variant(resize: "400x400")), document %> 
            <% elsif document.previewable? %>
              <%= link_to image_tag(document.preview(resize: "400x400"), rails_blob_path(document, disposition: :attachment)) %>
            <% elsif document.image? %> <!-- for svg -->
              <%= link_to image_tag(document.preview(document, width: 400)), document %>
            <% else %> <!-- for downloading if not readable by the above options -->
              <%= link_to document.filename, rails_blob_path(document, disposition: :attachment) %>
            <% end %> <!-- if document.variable -->
          <% end %><!-- @location... do || -->
          <p><b>Caption: <%= @location.caption %></b></p>
        </p>
        <%  else %>
          <p><i>No document images uploaded to support this, <br>but there may be some with one of the connections listed to the left.</i></p>
</div> <!-- media-space -->
        <% end %> <!-- @location.documents.attached? -->
<!-- <%# end %>  --><!-- if @location.doc -->