<!-- Called from allLocationsMap.html.erb or putting in related years. Can easily hide since not working yet -->
<!-- Lots of experiments in here -->
<div class="col-lg-4">
  <h3 id="addressHeading"></h3>  <!-- Displays after click on map -->

  <!-- Sidebar to display years/connections info. Currently done from olAllLocations.js -->
  <!-- <ol id="yearsList" class="years">
    <em>After clicking on a location on the map, a list of people who were at this address will appear.</em> -->
    <%#= render @location.years %> <!-- Uses views/years/_year.html.erb-->
  <!-- </ol> -->

  <!-- Stimulus trial 2 From Drifting Ruby-->
  <!-- <br><br>
  <p>A field to type in below this, formatting missing, but it works with text_input_controller.js</p>
  <div data-controller="text-input">
    <input type="text" data-action="text-input#changed" data-text-input-target="input"> -->
     <!-- Two 'input' One is part of the controller name, the other is the field. Doesn't work-->
    <!-- <h1 data-text-input-target='output'></h1>
  </div>
  <br><br> -->


  <!-- A field to write from olAllLocations.js for a trial -->
    <div id="js-test"></div>

  <!-- Next step to getting years list for this location. When set up like Stimulus trial 2 above still doesn't work even if manually enter before any entry from clicking on a location. -->
  <div data-controller="year-list">
    <!-- <div id="id3" data-action="click->year-list#testclick">Click here and will show in console.lo</div>  --> <!-- Another test -->
    <!-- <input type="text" data-action="year-list#changed" data-year-list-target="loc_id" id="loc_id">  --><!-- Paralleling Drifting Ruby above but added id since written to the id -->
    <!-- Map doesn't have elements. It's just one canvas accessable by JS, No DOM elements The popup is an element, but can't tell Stimulus about it -->
    <!-- <input type="text" data-action="click->year-list#clicklocation" data-year-list-target="loc_id" id="loc_id"> doesn't work -->
    <input data-action="click->year-list#clicklocation" data-year-list-target="loc_id" id="loc_id">
    <!-- <div data-action="change>year-list#list">Show list of Connections to this address</div> -->
    <h4 data-year-list-target="output"></h4>
  </div>

  <% @locID = 134 %> <!-- for the following, used variable in case figured out how to do it dynamically -->
  <div class="border border-info px-2">
    <p>A static list for location_id: <%= @locID %> to demonstrate the render but does NOT relate to the click</p> 
   <!-- !render bookmark -->
    <%= render Year.where(location_id: @locID) %> <!-- This works, just need to feed in location_id -->
  </div>

  <ol class="years">
    <%#= render Year.where(location_id: 75) %> <!-- This works, just need to feed in location_id -->
  </ol>
</div> <!-- end first col -->
