<!-- _form.html.erb used by Location: New and edit  -->
<p>First and Main streets is the north-south divider. Before 1890 numbering north started at 1, but in 1890 100 was added to the addresses. Since the west side had odd numbers, 2 S. Main St. at the southwest corner of 1st St. became 100 S. Main St. In early times, there was only Main St (now N Main St)</p>
<%= simple_form_for(@location) do |form| %>
  <div class="row">
    <div class="col-lg-5">
     <div class="form-inputs">
        <button type="button" class="btn btn-info btn-sm active"><%= link_to 'Click for street name and routing changes (Historic LA maps)', "https://stark-cove-20051.herokuapp.com/streets/", target: :_blank %></button>  <!-- :historicalla_addresses when push -->
        <div class="col-lg-6"> <!-- Using to limit size for appearance But pushes to right and now what's below is not lined up FIXME This workaround for line length is not robust. Can't add class="col-lg-6" to form.input-->
          <!-- < = form.input :id %> Prevents saving because seems to come up with a existing ID-->
          <%= form.input :address %> 
          <%#= form.input :pre1890, as: :radio_buttons, boolean_style: :inline %> <!-- , as: :boolean, boolean_style: :inline simple checkbox Trying to get a Yes and No button side by side, but had formatting issues -->
          <%= form.input :pre1890, wrapper: :bootstrap_toggle %> <!-- , wrapper: :bootstrap_toggle works but does it help? https://stackoverflow.com/questions/67613264/how-do-you-write-a-toggle-switch-with-bootstrap-5-and-simple-form#67614414 -->
        </div>
        <div class="col-lg-4">
          <%= form.input :city %>
          <%= form.input :state %>
          <div class="row"> <!-- Trying to get side by side -->
            <%= form.input :longitude, as: :string %> <!-- string for best formatted box. Would like to limit length, but probably need css -->
            <%= form.input :latitude,  as: :string %>
          </div>
         </div>
     	   <p>Leave unchecked to prevent geocoding by <%= link_to "Bing", "" %>. <%= form.input :coords_not_locked, wrapper: :bootstrap_toggle %><strong>Click on map to copy coordinates of the position to the clipboard</strong></p>
      	<%= form.input :geocoded_with %>
        <%= form.input :extant, wrapper: :bootstrap_toggle %> <!-- , wrapper: :bootstrap_toggle works but maybe superfluous  -->
        <%= form.input :current_description %>
        <%= form.label :street_view_url %> <!-- , label: "Street view URL" below doesn't work-->
        <%= form.url_field :street_view_url %>  <!-- url_field .input ok -->
        <%= form.input :street_view_note %>
        Don't enter until coordinates are established. Saves reentering everything.
        <!-- !render bookmark -->
    <%= render 'select_docs_notes', form: form %>
     </div> <!-- form-inputs line 6-->

     <!-- Cancel goes back to the show for whatever is location is being looked at, which is OK if you came from the details for the location, but if you came from the addresses list, that is confusing. -->
     <button type="button" class="btn btn-warning btn-lg active"><%= link_to 'Cancel', :back %></button> <!-- btn-default is light gray, too light in Safari. tn-info is light blue which is OK -->
     <button type="button" class="btn btn-primary btn-lg active"><%= form.submit %></button>
     <%#= form.button :submit, class: "btn btn-primary btn-lg active" %> <!-- This puts the button below the cancel button. Otherwise OK. The above works fine -->

   </div> <!-- col-lg-5 -->
    <div class="col-lg-7"> <!-- leafletmap gets its own column within the row. But why is it in form-inputs? -->
      <br/>
<!--One or the other Leaflet works, Used to develop OpenLayers version Note that Leaflet has some html-->
      <%#= render 'leafletmap' %>
<!-- Below for OpenLayers Passing lng and lon to olLocationMap.js -->
       <div id="map" class="map" data-lng="<%= @location.longitude %>" data-lat="<%= @location.latitude %>" >
         <span id="zoom-display-number" class="ol-zoom-in zoom-display-number btn btn-info float-end"></span>
       </div>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;May need to zoom out if map doesn't show.</p> <!-- Turns out to be a good location for this as it gets hidden by the map -->
        <%= javascript_pack_tag 'olLocationMap' %>
      </div> <!-- map -->
    </div> <!-- col-lg-5 -->
  </div> <!-- row  -->
<% end %>
