<!-- views/locations/_leafletmap.html.erb Used by location > new and show. edit now uses ol -->
<div id="map">  
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;May need to zoom out if map doesn't show.</p> <!-- Turns out to be a good location for this as it gets hidden by the map -->
	  
  <script>
  // # https://www.mapbox.com/help/an-open-platform/ setting up 1908 LA layer
console.log('Hello from /views/locations/_leafletmap.html.erb:7');

// Links 
  var osmLink    = '<a href="https://openstreetmap.org">OpenStreetMap</a>',
      esriLink   = '<a href="https://www.esri.com/">Esri</a>',
      mbLink     = '<a href="https://mapbox.com/">OpenStreetMap</a>',
      rumseyLink = '<a href="http://www.davidrumsey.com">The David Rumsey Map Collection</a>'
      csunLink   = "",
      locLink    = '<a href="https://www.loc.gov/collections/sanborn-maps/about-this-collection/">Library of Congress</a>'

// / URLs for the servers
      var osmUrl    = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      esriUrl   = 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServe\
  r/tile/{z}/{y}/{x}',
  // baistURL = 'http://maps.georeferencer.com/georeferences/145849336753/2015-03-05T17:01:48.099180Z/map/{z}/{x}/{y}.png?key=Tr6DFAOYB2mprYctvS8U'
      // mbURL = L.mapbox.map('map', 'mtnbiker.d7jfhf8u'),
      mbUrl               = 'https://api.mapbox.com/styles/v1/mtnbiker/cj3gnezpq00152rt5o6g3kyqp.html?title=true&access_token=pk.eyJ1IjoibXRuYmlrZXIiLCJhIjoiNmI5ZmZjMzAyNzJhY2Q0N2ZlN2E1ZTdkZjBiM2I1MTUifQ.6R3ptz9ejWpxcdZetLLRqg' // # ?access_token=<%= ENV['MAPBOX_TOKEN'] %> # already on the page. But not at Heroku. But the fault is in the page build I think, they look different. Get an access error at Heroku. No errors w/ or w/o access code at localhost. If put .json after my ID, get a can't load resource error, but w/o no error, no map. I also tried all of this with stripped down version and same problem.
      Hill1928url         = 'https://crores.s3.amazonaws.com/tiles/1928Hills/{z}/{x}/{y}.png'
      // baistDetailurl   = "/Users/gscar/Documents/GPS-Maps-docs/Los Angeles—Old maps/1921 Baist from David Rumsey/Baist 2-7, 25 tiles/tiles/{z}/{x}/{y}.png",
      baistDetailurl      = 'https://crores.s3.amazonaws.com/tiles/baistDetail/{z}/{x}/{y}.png' // removed http: but may cause other issues
      baistKMurl          = "https://crores.s3.amazonaws.com/tiles/bkm/{z}/{x}/{y}.png"
      rueger1902aws       = "https://crores.s3.amazonaws.com/tiles/1902rueger/{z}/{x}/{y}.png"
      gates1909URL        = "https://crores.s3.amazonaws.com/tiles/1909gates/{z}/{x}/{y}.png"
      wood1908URL         = "https://crores.s3.amazonaws.com/tiles/1908woods/{z}/{x}/{y}.png"
      hamlin1908url       = "https://crores.s3.us-west-1.amazonaws.com/tiles/1908Hamlin"
      pierce1894url       = "https://crores.s3.amazonaws.com/tiles/1894pierce/{z}/{x}/{y}.png"
      // sanborn1894KmUrl = "https://crores.s3.amazonaws.com/tiles/1894SanbornKM1a/{z}/{x}/{y}.png" // Out of date I think
      sanborn1894KmUrl    = "https://crores.s3.us-west-1.amazonaws.com/tiles/1894SanbornKeyMaps/{z}/{x}/{y}.png"
      sanborn1894url      = 'https://crores.s3.amazonaws.com/tiles/1894Sanborn/{z}/{x}/{y}.png'
      sanborn1888km1aURL  = "https://crores.s3.amazonaws.com/tiles/1888SanbornKM1a/{z}/{x}/{y}.png"
      stephenson1884url   = "https://crores.s3.amazonaws.com/tiles/1884stephenson/{z}/{x}/{y}.png"

      // Attribution using this also to label the map, better to have a title put above the map, so know which map I'm looking at
      var osmAttrib           = '&copy; ' + osmLink + ' Contributors',
      esriAttrib              = 'i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP,\
   and the GIS User Community & '+ esriLink,
      mbAttrib                = '&copy;<a href="https://www.mapbox.com/map-feedback/">Mapbox</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      mwAttrib                = 'https://thinkwhere.wordpress.com',
      wood1908Attrib          = " 1908 Wood for Security Savings " + rumseyLink,
      gates1909Attrib         = " 1909 Gates Birdseye&mdash;Trial on one piece ",
      baistAttrib             = " 1921 Baist&mdash;" + rumseyLink,
      csun1894Attrib          = " 1894 Sanborn Key " + csunLink,
      libraryOfCongressAttrib = " 1894 Sanborn " + locLink,
      csun1888Attrib          = " 1888 Sanborn Key " + csunLink,
      pierce1894attrib        = ""

// Putting together                                                                                        
  var mbMap           = L.tileLayer(mbUrl,           {attribution: mbAttrib})                              ,
      osmMap          = L.tileLayer(osmUrl,          {attribution: osmAttrib})                             ,
      esriMap         = L.tileLayer(esriUrl,         {attribution: esriAttrib})                            ,
      hillMap1928     = L.tileLayer(Hill1928url,     {attribution: mwAttrib})                              ,
      baistDetail     = L.tileLayer(baistDetailurl,  {attribution: baistAttrib})                           ,
      baistKM         = L.tileLayer(baistKMurl,      {attribution: baistAttrib})                           ,
      rueger1902      = L.tileLayer(rueger1902aws)                                                         ,
      gates1909       = L.tileLayer(gates1909URL,    {attribution: gates1909Attrib})                        ,
      hamlin1908      = L.tileLayer(hamlin1908url),
      wood1908        = L.tileLayer(wood1908URL,     {attribution: wood1908Attrib})                        ,
      sanborn1894km1a = L.tileLayer(sanborn1894KmUrl, {attribution: libraryOfCongressAttrib})              ,
      sanborn1894     = L.tileLayer(sanborn1894url,     {attribution: libraryOfCongressAttrib})              ,
      sanborn1888km1a = L.tileLayer(sanborn1888km1aURL, {attribution: csun1888Attrib})                    ,
      pierce1894      = L.tileLayer(pierce1894url,      {attribution: pierce1894attrib})                   ,
      stephenson1884  = L.tileLayer(stephenson1884url)

// Would be better if the map selection menu stayed on the screen
     // # only add one layer in the square brackets! This the first one. Baist is not a good idea since so little coverage and comes up blank
      // var map = L.map('map').setView([51.505, -0.09], 13); For manual tests: 34.052358, -118.243128 
  var map = L.map('map', {layers: [wood1908]}) 
      // .setView([34.052358, -118.243128], 17); // 17 is the max for some of the old maps. Error even if put in lat lng manually, alhtough displays correctly. Need 19 or 20 for 1894 Sanborn
      .setView([<%= @location.latitude %>, <%= @location.longitude %>], 17);

  var baseLayers = {
    "<span style='color: blue'>1921 Baist detail</span>"  : baistDetail,
    "<span style='color: blue'>1921 Baist Key Map</span>" : baistKM,
    "<span style='color: green'>OSM Street</span>"        : osmMap,
    "Satellite"  : esriMap,
    "1908 Wood"  : wood1908,
    // "1909 Gates trial" : gates1909, // a mess
    "1908 Hamlin": mbMap,
    "1928 Hill"  : hillMap1928,
    "1902 Rueger" : rueger1902,
    "1894 Sanborn Key":    sanborn1894km1a,
    "1894 Sanborn Detail": sanborn1894,
    "1888 Sanborn" : sanborn1888km1a,
    "1884 Stephenson" : stephenson1884,
    "1894 Pierce" : pierce1894
  };

  // Making and adding the marker to the map. Only statements involved in the marker.
// L.marker([34.052358, -118.243128]).addTo(map)
//     .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
//     .openPopup();
  L.marker([<%= @location.latitude %>, <%= @location.longitude %>]).addTo(map)
                .bindPopup("<b><%= @location.address %></b><br>")
                .openPopup();
                // Something about determining lat and long is causing an error. If paste in values works fine.
  L.control.layers(baseLayers).addTo(map);

  //This JS Function asks Mapbox to get the bearing/center/zoom/pitch of the mouse position when clicked.
  //To turn off this function, add a "/*" at the beginning of the function and a "*/" at the end. This will turn the function into a comment.
  map.on('click', function () {
      // e.lngLat is the longitude, latitude geographical position of the event
      var latlng = map.getCenter();
      // console.log(latlng);
      prompt("Copy to clipboard: Cmd-C \n(Need to send to @location.latitude and @location.longitude in edit mode)",
          "center: ["+ latlng.lat +", "+ latlng.lng+"],\n" +
          "zoom: "+ map.getZoom() +",\n"
      );
  });   

  </script>
</div> <!-- div map -->
