<!-- In doc > show Lists the addresses that used this document. Not being used, and Ransack sortable table is probably better -->
<li id="location-<%= location.id %>"> <!-- Read more of Hartl to find out what this is for -->
  <span class="address"> <%= location.address %></span>
  <span class="address"> <%= location.city %></span>
  <span class="address"> <%= location.state %></span>
  <span class="address"> <%= location.longlat %></span>
  <span class="address"> <%= location.extant %></span>
  <span class="address"> <%= location.current_description %></span>
  <span class="address"> <%= location.file_basename %></span>
  <span class="address"> <%= location.notes_plus_geocode %></span>
  <span class="btn btn-outline-success btn-xs"> <%= link_to 'Show details', location %></span>
  <% if logged_in? %>
    <span class="btn btn-outline-warning btn-xs"> <%= link_to 'Edit', edit_location_path(location) %></span>
    <span class="btn btn-outline-alert btn-xs"> <%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  <% end %>
</li>
