<br/>
<div class="btn btn-primary active col-md-offset-5">
	<!-- < = link_to 'Show', @location %> | -->
	<%= link_to 'To Address List', locations_path %> |
	<%= link_to 'New Address', new_location_path %>
</div>
