<%= form.association :doc, label_method: :id_page, collection: Doc.all, value_method: :id, label: "Select document(s) that support this" %> 
 <%#= form.label :snippet_coords, "Snippet_coords will appear when snippet is drawn" %>
 <%#= form.text_area :snippet_coords, as: :text, rows: 4 %>

<div class="notes well well-sm">
  <%= form.label :content, "Notes. [Do not attach documents here since already have above. Otherwise end up with multiple copies?]:" %>
  <%= form.rich_text_area :content, rows: 6, value: "Testing, add your own content"  %>
</div>
<!-- Don't show if no deprecated notes -->
<% if @location.notes? %>
  <div>
    <%= form.label :notes, "Notes (deprecated). Transfer to above" %>
    <%= form.text_area :notes, as: :text, rows: 5 %>  <!-- text to get scrollable/resizable box -->
  </div>
<% end %>
