<% provide(:title, "All Locations Map") %>
<!--locations/allLocations.html.erb -->
<!-- The following can get hidden under nav bar because map/ uses a different layout file OK now -->
<!-- <br><br><br> -->
<h2 id="near-top">All Locations in the Croatian Restaurant Database</h2>
<div class="row">
  <!-- Sidebar to put years info, but this way can turn it off since it's not working yet, at least the important part isn't -->
  <%#= render 'first_col' %>

  <div class="col"> <!-- Second col -->
   <p>Click on the diamond (&#11046;) to get more information on that location (address).</p>
    <div id="map" class="map">   <!-- id for js, class for css -->

      <span id="zoom-display-number" class="ol-zoom-in zoom-display-number btn btn-info float-end"></span>

      <!-- Popup (rollover later?) for showing info -->
      <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
      </div>

      <!-- https://boringrails.com/articles/hovercards-stimulus/ -->
      <!-- Except location is not available -->
      <!-- <div
        id="popup"
        class="inline-block"
        data-controller="hovercard"
        data-hovercard-url-value="<%#= hovercard_location_path(location) %>"
        data-action="mouseenter->hovercard#show mouseleave->hovercard#hide">
        <%#= link_to location.address, location, class: "branded-link" %>
      </div> -->

    </div> <!-- id="map" class="map"> -->

    <%= javascript_pack_tag 'olAllLocations' %>

  </div> <!-- end second col -->
</div> <!-- end row -->


 <!-- Had started to add this to div#map
 data-controller="location-map" data-action="click->location-map-click#connected" -->
