<!-- This is already on application.html.erb -->
<% if notice.present? %>
  <aside id="notice">
    <%= notice %>
  </aside>
<% end %>

<% provide(:title, 'Addresses/Locations') %>
<h1>Addresses (Restaurant and Residental)  <%= @locations.count %></h1>
<!-- !render bookmark -->
    <%= render 'newlocation' %>
<p>Street names and numbering changed over the years. Details are discussed <%= link_to 'here', streets_path %>.</p>

<!-- Copied from people>index and made mods. Is this two search trials old? -->
<%#= form_tag locations_path, method: "get", class:"d-lg-inline-flex mt-2 mt-md-0", id: "search-locations-form" do %>
  <%#= text_field_tag :search_locations, params[:search_locations], class: "form-control mr-sm-2" %>
  <%#= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0", name: nil %>
<%# end %>
<!-- Stimulus search -->
<!-- https://medium.com/swlh/build-a-dynamic-search-with-stimulus-js-and-rails-6-56b537a44579 -->
<div class="container">
  <div class="row justify-content-center" data-controller="search-locations">
    <div class="col-xs-12 col-sm-6 border rounded-pill border-3 p-2">
      <!-- <h5>Search... <em>on all but ActiveText!</em></h5> -->
      <!-- Can change the fields in model/location.rb -->
      <%= @locations.count %> found 
      <%= form_with(url: locations_path, method: :get, class:"d-lg-inline-flex mt-2 mt-md-0", data: {action: "submit->search#submit"}) do |f| %> <!-- Class is mine, not demo and formats the Search button only -->
        <%#= label_tag(:query, "Search for") %>
        <%= text_field_tag :query, params[:query], data: {target: "search.query"}, class: "form-control mr-sm-2", placeholder: "Address search:" %>
        <%= submit_tag("Search", class: "btn btn-primary") %>
      <% end %>
      <%= link_to "Show all", locations_path, class: "btn btn-outline-warning my-2 my-sm-0" %> <!-- Need to hide this when all are showing TODO -->
    </div>
  </div>
</div>
<br>

<!-- Hidden to use Stimulus solution above. At present the Stimulus solution is better but it's because the search is broader, the one below maybe generalizable.  -->
<!-- Following https://guides.rubyonrails.org/form_helpers.html#a-generic-search-form but not getting it right -->
<%#= form_with(url: locations_path, method: "get", class:"d-lg-inline-flex mt-2 mt-md-0", id: "search-locations-form") do %>
  <%#= text_field_tag(:search_locations, nil, class: "form-control mr-sm-2", placeholder: "Address search:") %>  <!-- https://apidock.com/rails/ActionView/Helpers/FormTagHelper/text_field_tag -->
  <%#= button_tag("Search", class: "btn btn-outline-success my-2 my-sm-0", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}) %>
<%# end %>

<!-- -sm: smaller margins, -responsive: horizontal scrolling, -hover: highlights row on hover -->
<table class="table table-sm table-striped table-hover table-responsive pretty locations">
  <thead>
    <tr>
      <!-- <th>< = sortable "id" , "ID" %></th> -->
      <th><%= sortable "address" %></th>
<!-- Spaces, so Los Angeles doesn't wrap onto two lines. Not elegant -->
      <th><%= sortable "city"  %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th><%= sortable "state" %></th>
      <th><%= sortable "longitude latitude" %></th>
      <!-- <th>< = sortable "latitude" %></th> -->
      <th><%= sortable "extant" %></th>
      <th>Current description</th>
      <!-- <th><%#= sortable "File basename on computer:" %></th> -->
      <th>Notes - Geocode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <!-- <td>< = location.id %></td> -->
        <td><%= location.address %></td>
        <td><%= location.city %></td>
        <td><%= location.state %></td>
        <td><%= location.longlat %></td>
        <td><%= location.extant %></td>
        <td><%= location.current_description %></td>
        <!-- <td><%= location.file_basename %></td> -->
        <td><%= location.notes_plus_geocode %></td>
        <td><%= link_to 'Show details', location %></td>
        <% if logged_in? %>
          <td><%= link_to 'Edit', edit_location_path(location) %></td>
          <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<!--   Moved to main footer <%#= render 'newlocation' %> -->
