<p id="notice"><%= notice %> </p>
<% provide(:title, 'New Address/Location') %>

<h1>New Address/Location</h1>

<!-- !render bookmark -->
    <%= render 'form' %>

<div class="btn btn-primary active">
<%= link_to 'To Address List', locations_path %> |
<%= link_to 'New Address', new_location_path %>
</div>