<!-- <p id="notice" class="alert-danger"><%#= notice %></p> --> <!-- Showing twice? -->
<% provide(:title, @location.address) %>
<h1 class="left">
  <%= @location.address %>, <%= @location.city %>
</h1>
<%#= turbo_frame_tag @location, data: { turbo: true } do %> <!-- This didn't work Response has no matching <turbo-frame id="location_234"> element -->
  <% if logged_in? %> <!-- Odd to put it here, but button on bottom not always visible TODO. That may need fixing --> 
    <%= link_to 'Edit this address', edit_location_path(@location), class: "btn btn-primary active" %>
  <% end %>

  <div class="row">
    <div class="col-lg-6">
      <!-- <p><strong>Location (for display devel):</strong><%#= @location %></p> #<Location:0x00007fd3ce8ddf20> -->

      <p>
        <strong>Address:</strong>
        <%= @location.address %>, <%= @location.city %> <%= @location.state %> <!-- (* Geocoded to current location.) Not sure this is relevant anymore-->
        <br>
        <strong> <%= @location.pre1890 ? 'Is a pre-1890 address and the numbering differs. ' : '' %></strong>
        <em><%= @location.pre1890 ? '' : 'Is a post-1890 address.' %></em><!-- Maybe leave blank for false -->
      </p>

      <p>
        <strong>Longitude, Latitude: </strong>
        <%= @location.longitude %>,  <%= @location.latitude %>
      </p>

      <p>
        <strong>Coords:</strong>
        <%= @location.coords_not_locked ? 'Unlocked' : 'Locked' %>
      </p>

      <p>
        <strong>How geocoded:</strong>
        <%= @location.geocoded_with %>
      </p>

      <p>
        <strong>Extant:</strong>
        <%= @location.extant ? 'Still there' : 'Gone' %> <%= @location.extant==nil ? ', actually, Not stated' : '' %>
      </p>

      <p>
        <strong>Current description:</strong>
        <%#= @location.current_description %>
        <%= @location[:current_description] %>
      </p>

      <% if @location.street_view_url? %>
        <p>
          <strong>Street View URL:</strong>
          <%= @location.street_view_url %>
        </p>
      <% end %>

      <% if @location.street_view_note? %>
        <p>
          <strong>Street View Note:</strong>
          <%= @location.street_view_note %>
        </p>
      <% end %>

      <% if @location.content.present? %>
        <p>
          <strong>Notes</strong>
          <%= @location.content %>
        </p>
      <% end %>

      <% if @location.notes? %>
        <p>
          <em> <strong>Notes deprecated:</strong></em> Copy to above field
          <%= @location.notes %>
        </p>
      <% end %>

      <h3>Who worked or lived here: </h3>  <!-- (< = @person.years.count %>) -->
      <p>
      <!-- <div class="col-md-11"> -->
        <!-- If the lists get too long, pagination can be turned back on. Commented it out because it is resulting in a rake error -->
        <% if @location.years.any? %>
          <ol class="years">
            <!-- !render bookmark -->
      <%= render @location.years %> <!-- Uses views/years/_year.html.erb How does this happen? Cycles through all years associated with this location -->
            <!-- <#= will_paginate @years %> -->
          </ol>
          <% else %>
            Nothing listed at this address yet.
        <% end %>
      </p>

      <p>
        <strong>Location ID:</strong>
        <%= @location.id %> 

        <strong>updated </strong><%= time_ago_in_words(@location.updated_at) %> ago and <strong>created</strong> <%= time_ago_in_words(@location.created_at) %> ago.
        <%#= @location.updated_at.to_formatted_s(:month_year) %>
        <%#= @location.updated_at.strftime('%d' ' ' '%b' ' ' '%Y'', ' '%H'':''%H ''%Z') %><!--.to_formatted_s(:long) .strftime('%d' ' ' '%b' ' ' '%Y'', ' '%H'':''%H ''%Z')  Works, then doesn't-->
      </p>

      <%#= render 'snippet' %>

      <% if logged_in? %>
        <%= link_to "Duplicate", new_location_path(base_id: @location&.id), class: "btn btn-secondary" %>
        <%= link_to 'Edit this address', edit_location_path(@location), class: "btn btn-primary active" %>
      <% end %>

      <br/><br/>
      <!-- <div class="row"><div class="col-md-12"><p>&nbsp;</p></div></div> -->
    <%# end %> <!-- turbo frame_tag -->
    <div>
      <% if logged_in? %>
        <%= link_to 'Previous item <', @location.previous, class: "btn btn-outline-info" %> &nbsp;&nbsp;
      <% end %>
      <%= link_to 'Back to Address List', locations_path, class: "btn btn-primary" %>
      <% if logged_in? %>
        &nbsp;&nbsp; <%= link_to '> Next item', @location.next, class: "btn btn-outline-info" %>
      <% end %>
    </div> 
  </div> <!-- class="col-lg-x" -->

  <!-- Second column for map and maybe third for docs or include in second col. See down about 15 lines -->
  <div class="col"> <!-- Was col-lg-6 -->
    <!--One or the other Leaflet works, Used to develop OpenLayers version Note that Leaflet has some html-->
    <%#= render 'leafletmap' %> <!-- Which has the script in the page, not calling a .js It works with issues-->

    <!-- Below for OpenLayers -->
    <div id="map" class="map-small" data-lng="<%= @location.longitude %>" data-lat="<%= @location.latitude %>">
      <span id="zoom-display-number" class="ol-zoom-in zoom-display-number btn btn-info float-end"></span> <!-- putting it here at least it's to the right. But not within the map -->
    </div>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;May need to zoom out if map doesn't show.</p> <!-- Turns out to be a good location for this as it gets hidden by the map -->
    <%= javascript_pack_tag 'olLocationMap' %>
    <!-- End #map -->

    <!-- Trying third column for doc next two line, comment out if doesn't work and will go back to two columns -->
  </div>
  <div class="col-lg-3">
    <!-- <br>  --><!-- Needed with two columns -->

    <!-- !render bookmark -->
    <%= render 'docs' %>
  </div> <!-- second or third column. class="col" Sized by first column-->

</div> <!-- end row -->

<!--  all of this to get a space between the table and the following. Maybe move this to the bottom of the first column FIXME -->
<!-- <div class="row"><div class="col-md-12"><p>&nbsp;</p></div></div> -->


