<%# unless current_page?(action: 'edit') %>
  <div class="clearfix"></div> <!-- Keeps some of the page from being buried under the footer. static_pages with button seemed to be a problem. Doesn't work for people/show -->
  <footer class="footer">
     <nav class="navbar fixed-bottom  navbar-dark bg-dark"> <!-- navbar-default was in v3, don't see it doing anything -->
       <!-- Without container gets pushed to right -->
       <div class="container">
         <%# if logged_in? %>
         <% if logged_in? %>
           <%= link_to 'Add New Connection', new_year_path, class: "btn btn-primary" %>
           <%= link_to 'Add New Person', new_person_path, class: "btn btn-primary" %>
           <%= link_to 'Add New Address/Location', new_location_path, class: "btn btn-primary"  %>
           <%= link_to 'Add New Doc', new_doc_path, class: "btn btn-primary"  %>
           <%= link_to 'Add New Source', new_source_path, class: "btn btn-secondary"  %>
         <% end %>

           <%= link_to "Home",             root_path, class: "nav-item nav-link text-light" %>
           <%= link_to "About",            about_path, class: "nav-item nav-link text-light" %>
           <%= link_to "Acknowledgements", acknowledgements_path, class: "nav-item nav-link text-light" %>
           <%= link_to "Contact",          contact_path, class: "nav-item nav-link text-light" %>
       </div>
     </nav>
   </footer>
<%# end %>
