<!-- There is a container in the body that this is in -->
<!-- This was designed with Bootstrap 4, and so far didn't change for Bootstrap 5 although the blog said that they have changed how navbars are done a bit. But looking at the notes below. I'm not going to mess with it. -->

<!-- <div class="fixed-top"> --> <!-- fixed-top cannot be lower than container. container centers the navbar, but without the container the navbar fills the window, but the rest of the body is still constrained TODO .container-fluid navbar runs to edges of window but is not centered. 2021.05.18 removed 2021.05.18 and put in below following Bootstrap 5 -->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "Croatian Run Restaurants", root_path, id: "logo", class: "navbar-brand text-light" %>

    <!-- No idea what this button is about, nor the some of the ids, but is similar to Bootstrap demos. Either or assisted or small windows First line is BS 4, next is BS 5-->
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>

    <div class="collapse navbar-collapse" id="navbarNav"> <!-- Is this for the collapsing menu bar -->
      <div class="navbar-nav mr-auto">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Stories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><%= link_to "Introduction to Stories", story_intro_path, class: "dropdown-item" %></li>
            <li><%= link_to "Jerry Illich", illich_path, class: "dropdown-item" %></li>
            <li><%= link_to "Jack Marietich", marietich_path, class: "dropdown-item" %></li>
            <li><%= link_to "Postira, Brač Picnics", postira_path, class: "dropdown-item" %></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Maps
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><%= link_to "Map showing Where People Lived and Worked", map_path, class: "dropdown-item" %></li>
            <li><%= link_to "Addresses on a Map", allLocations_path, class: "dropdown-item" %></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Connections
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
           <li><%= link_to "Summary", summary_path, class: "dropdown-item" %></li>
           <li><%= link_to "Detailed", connections_path, class: "dropdown-item" %></li>
           <li><%= link_to "People With Work and Home Addresses If Both Known for a Date", resto_resid_lines_path, class: "dropdown-item" %></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            People
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><%= link_to "People List", people_path, class: "dropdown-item" %></li>
            <li><%= link_to "People With Work and Home Addresses If Both Known for a Date", resto_resid_lines_path, class: "dropdown-item" %></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Addresses
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><%= link_to "Address List", addresses_path, class: "dropdown-item" %></li>
            <li><%= link_to "Addresses on a Map", allLocations_path, class: "dropdown-item" %></li>
          </ul>
        </li>

        <%= link_to "Docs", docs_path, class: "nav-item nav-link text-light" %>
        <%= link_to "Sources", sources_brief_path, class: "nav-item nav-link text-light" %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Images
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
           <li><%= link_to "Show Fun Images", images_path, class: "dropdown-item" %></li>
           <li><%= link_to "Show All document scans, etc.", documents_path, class: "dropdown-item" %></li>   
          </ul>
        </li>

        <% if logged_in? %>          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><%= link_to "Users", users_path, class: "dropdown-item" %></li> <!-- Was: class: "nav-item nav-link text-light" -->
              <li><%= link_to "Profile", current_user, class: "dropdown-item" %></li>
              <li><%= link_to "Settings", edit_user_path(current_user), class: "dropdown-item" %></li>
              <span class="dropdown-divider"></span>
              <li><%= link_to "Log out", logout_path, method: "delete", class: "dropdown-item" %></li>
            </ul>
          </ul>
        <% else %>
          <%= link_to "Log in", login_path, class: "nav-item nav-link text-light" %>
        <% end %>

        <li><%= link_to "Trials", trials_path, class: "nav-item nav-link text-light" %></li>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <!-- Stimulus search -->
      <!-- https://medium.com/swlh/build-a-dynamic-search-with-stimulus-js-and-rails-6-56b537a44579 -->
      <% unless url_for == years_path %>
        <%= form_with(url: years_path, method: :get, class:"d-lg-inline-flex mt-2 mt-md-0", data: {action: "submit->search#submit"}) do |f| %>
          <%= text_field_tag :query, params[:query], data: {target: "search.query"}, class: "form-control mr-sm-2", placeholder: "Connection..." %>
          <%= submit_tag("Search connections", class: "btn btn-outline-success my-2 my-sm-0") %>
        <% end %>
      <% end %>
       &nbsp;&nbsp;
       <% unless url_for == people_path %>
        <%= form_with(url: people_path, method: :get, class:"d-lg-inline-flex mt-2 mt-md-0", data: {action: "submit->search#submit"}) do |f| %>
          <%= text_field_tag :query, params[:query], data: {target: "search.query"}, class: "form-control mr-sm-2", placeholder: "People..." %>
          <%= submit_tag("Search people", class: "btn btn-outline-success my-2 my-sm-0") %>
        <% end %>
      <% end %>
      &nbsp;&nbsp;
      <% unless url_for == locations_path %>
        <%= form_with(url: locations_path, method: :get, class:"d-lg-inline-flex mt-2 mt-md-0", data: {action: "submit->search#submit"}) do |f| %>
          <%= text_field_tag :query, params[:query], data: {target: "search.query"}, class: "form-control mr-sm-2", placeholder: "Address..." %>
          <%= submit_tag("Search address", class: "btn btn-outline-success my-2 my-sm-0") %>
        <% end %>
      <% end %>
    <!-- </div> -->


  <!-- <%= form_with(url: people_path, method: "get", class:"d-lg-inline-flex mt-2 mt-md-0", id: "search-people-form") do %>
    <%= text_field_tag :search_people,nil, placeholder: "Last name search", class: "form-control mr-sm-2" %>
    <%= button_tag "Search", class: "btn btn-outline-success my-2 my-sm-0", name: nil, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Submitted..."} %>
  <% end %>

 <%= form_with(url: locations_path, method: "get", class:"d-lg-inline-flex mt-2 mt-md-0", id: "search-locations-form") do %>
   <%= text_field_tag(:search_locations, nil, class: "form-control mr-sm-2", placeholder: "Address search:") %> -->
   <!-- https://apidock.com/rails/ActionView/Helpers/FormTagHelper/text_field_tag -->
   <!-- <%= button_tag("Search", class: "btn btn-outline-success my-2 my-sm-0", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Submitted..."}) %>
 <% end %> -->
  </div> <!-- container-fluid -->
</nav>
<!-- </div> -->

<!-- Navbar: https://www.jquery-az.com/bootstrap-4-dropdown-menu-7-examples/ without li elements.-->