<!-- views/layouts/_select_docs_notes.html.erb. Not sure this is the canonical place to store this. render from years/_form.html.erb which is called by new and also by people/_form and locations/_form
Need to pass in form <%#= render 'layouts/select_docs_notes', form: form %> -->
Doesn't work well enough here. Moved back to individual views
<!-- https://stackoverflow.com/questions/11802375/rails-render-part-of-a-form-inside-another-form -->

<!-- <%# puts sort_order_var = @year_name_page %> Not working FIXME-->

<!-- This is first an association and then a collection. Probably why can't use form.collection_check_boxes easily or at all -->
 <!--FIXME, maybe grouped_select --> 
<!-- Trying Stimulus -->
<!-- <div data-doc-selected-target="input"> -->  <!-- data-controller="doc-selected" moved to form -->
<%= form.association :doc, label_method: :id_page, collection: Doc.all, value_method: :id, label: "Select document(s) that support this" %> <!-- 3 seconds to load this maybe it's `label_method: :id_page_year_name__notes_content` because it has to go to source. Yes almost instantaneous without.  multiple: true, direct_upload: true  doesn't seem to have an effect -->
<%#= form.hidden_field :updated_at, value: DateTime.current %> <!-- https://stackoverflow.com/questions/58490421/activestorage-not-persisting-blob-to-attachment-after-rails-6-0-upgrade Was to fix another problem Didn't fix my lake of metadata issue -->
<!--  </div> for Stimulus? , input_html: { data: { action: 'doc-selected#showId'}} Was: label_method: :page_year_name__notes_content-->
<!-- <div class="red" data-doc-selected-target="output">Doc (id) will show up here, but trying to move to second col on form</div> -->

 <%#2= form.input :snippet_coords, label: 'snippet_coords will appear when snippet is drawn' %>   <!--  make taller -->
 <%= form.label :snippet_coords, "Snippet_coords will appear when snippet is drawn" %>
 <%= form.text_area :snippet_coords, as: :text, rows: 4 %>

   <!-- Was: year_name_page_notes -->
   <!-- This works for single doc, no sorting-->
<%#= form.association :docs, label: "Select document(s) that support this", label_method: :year_name_page, as: :check_boxes, collection: Doc.all, value_method: :id, multiple: true %> <!-- all but order FIXME  The , collection: Doc.all.order(sort_order_var), is having no affect -->
<!-- , include_blank: true Took out 2020.04.19 to see if fixed FIXME?-->

<!--Experimenting with grouped_select, but am missing getting the reaching into docs-->
<!-- mixing two ideas here. association an group_select from simple form -->
<!-- , group_label_method: :city_directory -->

<%#= form.association :doc, label: "Select document(s) that support this", label_method: :year_name_page, as: :check_boxes, collection: @docs, as: :grouped_select, group_method: :source_id, value_method: :id, include_blank: true  %> <!-- undefined method `map' for 4:Integer -->
<div class="notes well well-sm">
  <%= form.label :content, "Notes. [Do not attach documents here since already have above. Otherwise end up with multiple copies?]:" %>
  <%= form.rich_text_area :content, rows: 6, value: "Testing, add your own content"  %>
</div>
<!-- <%# if year.notes? %> Using for three models so how do I make it work for all 3 -->
  <div>
    <%= form.label :notes, "Notes (deprecated). Transfer to above" %>
    <%= form.text_area :notes, as: :text, rows: 5 %>  <!-- text to get scrollable/resizable box -->
  </div>
<!-- <%# end %> -->
<!-- Look at the following and the nested divs. person new is nicely nested but if move the div it makes the notes too short. So need to style the two lines above to work with all three -->

<!-- years had this formatting
    <div class="form-inputs well well-sm">
      <%#= form.label :notes, "Notes:" %>
      <%#= form.text_area :notes %>
    </div> -->

<!-- people had this added info as well as f instead of form -->
  <!-- <%#= sort_order_var = @year_name_page %> -->
  <!-- <div class="row well well-sm ml-3"> -->
     <!-- <%#= f.association :doc, label: "Select document(s) that support this)", label_method: :year_name_page, value_method: :id, collection: Doc.all.order(sort_order_var), include_blank: true  %> --> <!-- all but order FIXME See location _form for problem-->
  <!-- </div>  --><!-- row -->
  <%#= f.input :notes, as: :text %>  <!-- text to get scrollable box -->
