<!DOCTYPE html>
<html>
  <head>
    <!-- https://dev.to/nejremeslnici/using-hotwire-turbo-in-rails-with-legacy-javascript-17g1 -->
    <% unless @turbo %>
      <meta name="turbo-visit-control" content="reload" />
      <meta name="turbo-cache-control" content="no-cache" />
    <% end %>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> ?? -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <!-- <link rel="shortcut icon" href="#" /> --> <!-- This line causes GET "/whatever" to show up twice in server log. What is it for https://stackoverflow.com/questions/13211206/html5-link-rel-shortcut-icon. Probably not needed https://pastebin.com/cKpQKcyb -->
    <%= javascript_importmap_tags %>
  </head>

  <body class="container-fluid pt-5 mt-5" data-turbo="<%= @turbo.present? %>"> <!-- .container-fluid fits to window width. pt-5 to add space so navbar can be seen and https://dev.to/nejremeslnici/using-hotwire-turbo-in-rails-with-legacy-javascript-17g1-->
    <!-- !render bookmark -->
    <%= render 'layouts/header' %>

    <!-- Maybe should put the following two together with an OR, so only shows up once TODO or are they for different things -->
    <% if notice.present? %>
      <aside class="alert alert-info">
        <%= notice %>
      </aside>
    <% end %>

    <% if alert.present? %>
      <aside class="alert alert-danger">
        <%= alert %>
      </aside>
    <% end %>

    <%= yield %>

    <%#= render 'layouts/footer' %>
    <!-- !render bookmark -->
    <%= render 'layouts/footer' unless ["new", "edit", "update"].include?(action_name) %> <!-- https://stackoverflow.com/questions/67679887/do-not-render-footer-for-new-and-edit-in-rails for more robust ways-->
    
    <!-- For hover/popover Didn't work when on people>show page-->
    <!-- <div>
      <p id="popover-text"></p>
    </div> -->
  </body>
</html>
