<!-- views/layouts/map.html.erb -->
<!-- For map page. Note that mapping is used in Locations too., but doesn't use this page -->
<!-- Map doesn't use application.html.erb; so what is being yielded below? 
Yields to this page via map_controller (NO EVEN WITH map_controller not requiring map.html.erb, the css script works so had to comment them out..) and not the general application.html.erb page -->
<!-- May be used by everything in /views/maps-->
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-suppress-warning': true %> <!-- , 'data-turbolinks-track': 'reload', 'data-turbolinks-suppress-warning': true  -->
    <%= stylesheet_pack_tag 'application', media: 'all' , 'data-turbolinks-track': 'reload' %> , <!-- , 'data-turbolinks-track': 'reload' -->
  </head>

  <!-- !render bookmark -->
  <%= render 'layouts/header' %> <!-- the navbar -->

  <!-- I don't think I'm using mapbox, data-mapbox-token="<%#= ENV['MAPBOX_TOKEN'] %>" -->
  <body class="container" >
    <h6>This is layouts/map.html.erb. A note to remind me that header is happening twice in maps TODO</h6>

    <%= yield %>

    <!-- !render bookmark -->
    <%= render 'layouts/footer' %>
  </body>
</html>
